# Pandas and Numpy Introduction

In [18]:
import numpy as np
import pandas as pd
#!pip install seaborn
import seaborn as sns

In [4]:
zero_vector = np.zeros(3)
print(zero_vector)

[0. 0. 0.]

In [5]:
list1 = [10, 20, 30]
list1

[10, 20, 30]

In [6]:
arr1 = np.array(list1)
arr1

array([10, 20, 30])

In [12]:
list1 * 2

[10, 20, 30, 10, 20, 30]

In [13]:
x = pd.Series([10, 20, 30], index = ['a', 'b', 'c'])
x

a    10
b    20
c    30
dtype: int64

In [14]:
new_x = pd.Series(x, index = ['a', 'b', 'c', 'd'])
new_x

a    10.0
b    20.0
c    30.0
d     NaN
dtype: float64

In [16]:
np.isnan(new_x), pd.isnull(new_x)

(a    False
 b    False
 c    False
 d     True
 dtype: bool,
 a    False
 b    False
 c    False
 d     True
 dtype: bool)

In [20]:
titanic = sns.load_dataset('titanic')

# Inspecting the Titanic Dataset

## Missing Values

In [27]:
pd.set_option("display.max_rows", None)
display(titanic)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.00,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.00,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.00,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.00,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.00,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.00,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.00,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.00,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
10,1,3,female,4.00,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.00,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
12,0,3,male,20.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
13,0,3,male,39.00,1,5,31.2750,S,Third,man,True,NaN,Southampton,no,False
14,0,3,female,14.00,0,0,7.8542,S,Third,child,False,NaN,Southampton,no,True
15,1,2,female,55.00,0,0,16.0000,S,Second,woman,False,NaN,Southampton,yes,True
16,0,3,male,2.00,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
17,1,2,male,NaN,0,0,13.0000,S,Second,man,True,NaN,Southampton,yes,True
18,0,3,female,31.00,1,0,18.0000,S,Third,woman,False,NaN,Southampton,no,False
19,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,NaN,Cherbourg,yes,True
20,0,2,male,35.00,0,0,26.0000,S,Second,man,True,NaN,Southampton,no,True
21,1,2,male,34.00,0,0,13.0000,S,Second,man,True,D,Southampton,yes,True
22,1,3,female,15.00,0,0,8.0292,Q,Third,child,False,NaN,Queenstown,yes,True
23,1,1,male,28.00,0,0,35.5000,S,First,man,True,A,Southampton,yes,True
24,0,3,female,8.00,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
25,1,3,female,38.00,1,5,31.3875,S,Third,woman,False,NaN,Southampton,yes,False
26,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
27,0,1,male,19.00,3,2,263.0000,S,First,man,True,C,Southampton,no,False
28,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
29,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
30,0,1,male,40.00,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
31,1,1,female,NaN,1,0,146.5208,C,First,woman,False,B,Cherbourg,yes,False
32,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
33,0,2,male,66.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
34,0,1,male,28.00,1,0,82.1708,C,First,man,True,NaN,Cherbourg,no,False
35,0,1,male,42.00,1,0,52.0000,S,First,man,True,NaN,Southampton,no,False
36,1,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,yes,True
37,0,3,male,21.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
38,0,3,female,18.00,2,0,18.0000,S,Third,woman,False,NaN,Southampton,no,False
39,1,3,female,14.00,1,0,11.2417,C,Third,child,False,NaN,Cherbourg,yes,False
40,0,3,female,40.00,1,0,9.4750,S,Third,woman,False,NaN,Southampton,no,False
41,0,2,female,27.00,1,0,21.0000,S,Second,woman,False,NaN,Southampton,no,False
42,0,3,male,NaN,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,no,True
43,1,2,female,3.00,1,2,41.5792,C,Second,child,False,NaN,Cherbourg,yes,False
44,1,3,female,19.00,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
45,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
46,0,3,male,NaN,1,0,15.5000,Q,Third,man,True,NaN,Queenstown,no,False
47,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
48,0,3,male,NaN,2,0,21.6792,C,Third,man,True,NaN,Cherbourg,no,False
49,0,3,female,18.00,1,0,17.8000,S,Third,woman,False,NaN,Southampton,no,False
50,0,3,male,7.00,4,1,39.6875,S,Third,child,False,NaN,Southampton,no,False
51,0,3,male,21.00,0,0,7.8000,S,Third,man,True,NaN,Southampton,no,True
52,1,1,female,49.00,1,0,76.7292,C,First,woman,False,D,Cherbourg,yes,False
53,1,2,female,29.00,1,0,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
54,0,1,male,65.00,0,1,61.9792,C,First,man,True,B,Cherbourg,no,False
55,1,1,male,NaN,0,0,35.5000,S,First,man,True,C,Southampton,yes,True
56,1,2,female,21.00,0,0,10.5000,S,Second,woman,False,NaN,Southampton,yes,True
57,0,3,male,28.50,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
58,1,2,female,5.00,1,2,27.7500,S,Second,child,False,NaN,Southampton,yes,False
59,0,3,male,11.00,5,2,46.9000,S,Third,child,False,NaN,Southampton,no,False
60,0,3,male,22.00,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
61,1,1,female,38.00,0,0,80.0000,NaN,First,woman,False,B,NaN,yes,True
62,0,1,male,45.00,1,0,83.4750,S,First,man,True,C,Southampton,no,False
63,0,3,male,4.00,3,2,27.9000,S,Third,child,False,NaN,Southampton,no,False
64,0,1,male,NaN,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
65,1,3,male,NaN,1,1,15.2458,C,Third,man,True,NaN,Cherbourg,yes,False
66,1,2,female,29.00,0,0,10.5000,S,Second,woman,False,F,Southampton,yes,True
67,0,3,male,19.00,0,0,8.1583,S,Third,man,True,NaN,Southampton,no,True
68,1,3,female,17.00,4,2,7.9250,S,Third,woman,False,NaN,Southampton,yes,False
69,0,3,male,26.00,2,0,8.6625,S,Third,man,True,NaN,Southampton,no,False
70,0,2,male,32.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
71,0,3,female,16.00,5,2,46.9000,S,Third,woman,False,NaN,Southampton,no,False
72,0,2,male,21.00,0,0,73.5000,S,Second,man,True,NaN,Southampton,no,True
73,0,3,male,26.00,1,0,14.4542,C,Third,man,True,NaN,Cherbourg,no,False
74,1,3,male,32.00,0,0,56.4958,S,Third,man,True,NaN,Southampton,yes,True
75,0,3,male,25.00,0,0,7.6500,S,Third,man,True,F,Southampton,no,True
76,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
77,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
78,1,2,male,0.83,0,2,29.0000,S,Second,child,False,NaN,Southampton,yes,False
79,1,3,female,30.00,0,0,12.4750,S,Third,woman,False,NaN,Southampton,yes,True
80,0,3,male,22.00,0,0,9.0000,S,Third,man,True,NaN,Southampton,no,True
81,1,3,male,29.00,0,0,9.5000,S,Third,man,True,NaN,Southampton,yes,True
82,1,3,female,NaN,0,0,7.7875,Q,Third,woman,False,NaN,Queenstown,yes,True
83,0,1,male,28.00,0,0,47.1000,S,First,man,True,NaN,Southampton,no,True
84,1,2,female,17.00,0,0,10.5000,S,Second,woman,False,NaN,Southampton,yes,True
85,1,3,female,33.00,3,0,15.8500,S,Third,woman,False,NaN,Southampton,yes,False
86,0,3,male,16.00,1,3,34.3750,S,Third,man,True,NaN,Southampton,no,False
87,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
88,1,1,female,23.00,3,2,263.0000,S,First,woman,False,C,Southampton,yes,False
89,0,3,male,24.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
90,0,3,male,29.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
91,0,3,male,20.00,0,0,7.8542,S,Third,man,True,NaN,Southampton,no,True
92,0,1,male,46.00,1,0,61.1750,S,First,man,True,E,Southampton,no,False
93,0,3,male,26.00,1,2,20.5750,S,Third,man,True,NaN,Southampton,no,False
94,0,3,male,59.00,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
95,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
96,0,1,male,71.00,0,0,34.6542,C,First,man,True,A,Cherbourg,no,True
97,1,1,male,23.00,0,1,63.3583,C,First,man,True,D,Cherbourg,yes,False
98,1,2,female,34.00,0,1,23.0000,S,Second,woman,False,NaN,Southampton,yes,False
99,0,2,male,34.00,1,0,26.0000,S,Second,man,True,NaN,Southampton,no,False
100,0,3,female,28.00,0,0,7.8958,S,Third,woman,False,NaN,Southampton,no,True
101,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
102,0,1,male,21.00,0,1,77.2875,S,First,man,True,D,Southampton,no,False
103,0,3,male,33.00,0,0,8.6542,S,Third,man,True,NaN,Southampton,no,True
104,0,3,male,37.00,2,0,7.9250,S,Third,man,True,NaN,Southampton,no,False
105,0,3,male,28.00,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
106,1,3,female,21.00,0,0,7.6500,S,Third,woman,False,NaN,Southampton,yes,True
107,1,3,male,NaN,0,0,7.7750,S,Third,man,True,NaN,Southampton,yes,True
108,0,3,male,38.00,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
109,1,3,female,NaN,1,0,24.1500,Q,Third,woman,False,NaN,Queenstown,yes,False
110,0,1,male,47.00,0,0,52.0000,S,First,man,True,C,Southampton,no,True
111,0,3,female,14.50,1,0,14.4542,C,Third,child,False,NaN,Cherbourg,no,False
112,0,3,male,22.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
113,0,3,female,20.00,1,0,9.8250,S,Third,woman,False,NaN,Southampton,no,False
114,0,3,female,17.00,0,0,14.4583,C,Third,woman,False,NaN,Cherbourg,no,True
115,0,3,male,21.00,0,0,7.9250,S,Third,man,True,NaN,Southampton,no,True
116,0,3,male,70.50,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
117,0,2,male,29.00,1,0,21.0000,S,Second,man,True,NaN,Southampton,no,False
118,0,1,male,24.00,0,1,247.5208,C,First,man,True,B,Cherbourg,no,False
119,0,3,female,2.00,4,2,31.2750,S,Third,child,False,NaN,Southampton,no,False
120,0,2,male,21.00,2,0,73.5000,S,Second,man,True,NaN,Southampton,no,False
121,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
122,0,2,male,32.50,1,0,30.0708,C,Second,man,True,NaN,Cherbourg,no,False
123,1,2,female,32.50,0,0,13.0000,S,Second,woman,False,E,Southampton,yes,True
124,0,1,male,54.00,0,1,77.2875,S,First,man,True,D,Southampton,no,False
125,1,3,male,12.00,1,0,11.2417,C,Third,child,False,NaN,Cherbourg,yes,False
126,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
127,1,3,male,24.00,0,0,7.1417,S,Third,man,True,NaN,Southampton,yes,True
128,1,3,female,NaN,1,1,22.3583,C,Third,woman,False,F,Cherbourg,yes,False
129,0,3,male,45.00,0,0,6.9750,S,Third,man,True,NaN,Southampton,no,True
130,0,3,male,33.00,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,no,True
131,0,3,male,20.00,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
132,0,3,female,47.00,1,0,14.5000,S,Third,woman,False,NaN,Southampton,no,False
133,1,2,female,29.00,1,0,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
134,0,2,male,25.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
135,0,2,male,23.00,0,0,15.0458,C,Second,man,True,NaN,Cherbourg,no,True
136,1,1,female,19.00,0,2,26.2833,S,First,woman,False,D,Southampton,yes,False
137,0,1,male,37.00,1,0,53.1000,S,First,man,True,C,Southampton,no,False
138,0,3,male,16.00,0,0,9.2167,S,Third,man,True,NaN,Southampton,no,True
139,0,1,male,24.00,0,0,79.2000,C,First,man,True,B,Cherbourg,no,True
140,0,3,female,NaN,0,2,15.2458,C,Third,woman,False,NaN,Cherbourg,no,False
141,1,3,female,22.00,0,0,7.7500,S,Third,woman,False,NaN,Southampton,yes,True
142,1,3,female,24.00,1,0,15.8500,S,Third,woman,False,NaN,Southampton,yes,False
143,0,3,male,19.00,0,0,6.7500,Q,Third,man,True,NaN,Queenstown,no,True
144,0,2,male,18.00,0,0,11.5000,S,Second,man,True,NaN,Southampton,no,True
145,0,2,male,19.00,1,1,36.7500,S,Second,man,True,NaN,Southampton,no,False
146,1,3,male,27.00,0,0,7.7958,S,Third,man,True,NaN,Southampton,yes,True
147,0,3,female,9.00,2,2,34.3750,S,Third,child,False,NaN,Southampton,no,False
148,0,2,male,36.50,0,2,26.0000,S,Second,man,True,F,Southampton,no,False
149,0,2,male,42.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
150,0,2,male,51.00,0,0,12.5250,S,Second,man,True,NaN,Southampton,no,True
151,1,1,female,22.00,1,0,66.6000,S,First,woman,False,C,Southampton,yes,False
152,0,3,male,55.50,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
153,0,3,male,40.50,0,2,14.5000,S,Third,man,True,NaN,Southampton,no,False
154,0,3,male,NaN,0,0,7.3125,S,Third,man,True,NaN,Southampton,no,True
155,0,1,male,51.00,0,1,61.3792,C,First,man,True,NaN,Cherbourg,no,False
156,1,3,female,16.00,0,0,7.7333,Q,Third,woman,False,NaN,Queenstown,yes,True
157,0,3,male,30.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
158,0,3,male,NaN,0,0,8.6625,S,Third,man,True,NaN,Southampton,no,True
159,0,3,male,NaN,8,2,69.5500,S,Third,man,True,NaN,Southampton,no,False
160,0,3,male,44.00,0,1,16.1000,S,Third,man,True,NaN,Southampton,no,False
161,1,2,female,40.00,0,0,15.7500,S,Second,woman,False,NaN,Southampton,yes,True
162,0,3,male,26.00,0,0,7.7750,S,Third,man,True,NaN,Southampton,no,True
163,0,3,male,17.00,0,0,8.6625,S,Third,man,True,NaN,Southampton,no,True
164,0,3,male,1.00,4,1,39.6875,S,Third,child,False,NaN,Southampton,no,False
165,1,3,male,9.00,0,2,20.5250,S,Third,child,False,NaN,Southampton,yes,False
166,1,1,female,NaN,0,1,55.0000,S,First,woman,False,E,Southampton,yes,False
167,0,3,female,45.00,1,4,27.9000,S,Third,woman,False,NaN,Southampton,no,False
168,0,1,male,NaN,0,0,25.9250,S,First,man,True,NaN,Southampton,no,True
169,0,3,male,28.00,0,0,56.4958,S,Third,man,True,NaN,Southampton,no,True
170,0,1,male,61.00,0,0,33.5000,S,First,man,True,B,Southampton,no,True
171,0,3,male,4.00,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
172,1,3,female,1.00,1,1,11.1333,S,Third,child,False,NaN,Southampton,yes,False
173,0,3,male,21.00,0,0,7.9250,S,Third,man,True,NaN,Southampton,no,True
174,0,1,male,56.00,0,0,30.6958,C,First,man,True,A,Cherbourg,no,True
175,0,3,male,18.00,1,1,7.8542,S,Third,man,True,NaN,Southampton,no,False
176,0,3,male,NaN,3,1,25.4667,S,Third,man,True,NaN,Southampton,no,False
177,0,1,female,50.00,0,0,28.7125,C,First,woman,False,C,Cherbourg,no,True
178,0,2,male,30.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
179,0,3,male,36.00,0,0,0.0000,S,Third,man,True,NaN,Southampton,no,True
180,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
181,0,2,male,NaN,0,0,15.0500,C,Second,man,True,NaN,Cherbourg,no,True
182,0,3,male,9.00,4,2,31.3875,S,Third,child,False,NaN,Southampton,no,False
183,1,2,male,1.00,2,1,39.0000,S,Second,child,False,F,Southampton,yes,False
184,1,3,female,4.00,0,2,22.0250,S,Third,child,False,NaN,Southampton,yes,False
185,0,1,male,NaN,0,0,50.0000,S,First,man,True,A,Southampton,no,True
186,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,NaN,Queenstown,yes,False
187,1,1,male,45.00,0,0,26.5500,S,First,man,True,NaN,Southampton,yes,True
188,0,3,male,40.00,1,1,15.5000,Q,Third,man,True,NaN,Queenstown,no,False
189,0,3,male,36.00,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
190,1,2,female,32.00,0,0,13.0000,S,Second,woman,False,NaN,Southampton,yes,True
191,0,2,male,19.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
192,1,3,female,19.00,1,0,7.8542,S,Third,woman,False,NaN,Southampton,yes,False
193,1,2,male,3.00,1,1,26.0000,S,Second,child,False,F,Southampton,yes,False
194,1,1,female,44.00,0,0,27.7208,C,First,woman,False,B,Cherbourg,yes,True
195,1,1,female,58.00,0,0,146.5208,C,First,woman,False,B,Cherbourg,yes,True
196,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
197,0,3,male,42.00,0,1,8.4042,S,Third,man,True,NaN,Southampton,no,False
198,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
199,0,2,female,24.00,0,0,13.0000,S,Second,woman,False,NaN,Southampton,no,True
200,0,3,male,28.00,0,0,9.5000,S,Third,man,True,NaN,Southampton,no,True
201,0,3,male,NaN,8,2,69.5500,S,Third,man,True,NaN,Southampton,no,False
202,0,3,male,34.00,0,0,6.4958,S,Third,man,True,NaN,Southampton,no,True
203,0,3,male,45.50,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
204,1,3,male,18.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,yes,True
205,0,3,female,2.00,0,1,10.4625,S,Third,child,False,G,Southampton,no,False
206,0,3,male,32.00,1,0,15.8500,S,Third,man,True,NaN,Southampton,no,False
207,1,3,male,26.00,0,0,18.7875,C,Third,man,True,NaN,Cherbourg,yes,True
208,1,3,female,16.00,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
209,1,1,male,40.00,0,0,31.0000,C,First,man,True,A,Cherbourg,yes,True
210,0,3,male,24.00,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
211,1,2,female,35.00,0,0,21.0000,S,Second,woman,False,NaN,Southampton,yes,True
212,0,3,male,22.00,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
213,0,2,male,30.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
214,0,3,male,NaN,1,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,False
215,1,1,female,31.00,1,0,113.2750,C,First,woman,False,D,Cherbourg,yes,False
216,1,3,female,27.00,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
217,0,2,male,42.00,1,0,27.0000,S,Second,man,True,NaN,Southampton,no,False
218,1,1,female,32.00,0,0,76.2917,C,First,woman,False,D,Cherbourg,yes,True
219,0,2,male,30.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
220,1,3,male,16.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,yes,True
221,0,2,male,27.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
222,0,3,male,51.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
223,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
224,1,1,male,38.00,1,0,90.0000,S,First,man,True,C,Southampton,yes,False
225,0,3,male,22.00,0,0,9.3500,S,Third,man,True,NaN,Southampton,no,True
226,1,2,male,19.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,yes,True
227,0,3,male,20.50,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
228,0,2,male,18.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
229,0,3,female,NaN,3,1,25.4667,S,Third,woman,False,NaN,Southampton,no,False
230,1,1,female,35.00,1,0,83.4750,S,First,woman,False,C,Southampton,yes,False
231,0,3,male,29.00,0,0,7.7750,S,Third,man,True,NaN,Southampton,no,True
232,0,2,male,59.00,0,0,13.5000,S,Second,man,True,NaN,Southampton,no,True
233,1,3,female,5.00,4,2,31.3875,S,Third,child,False,NaN,Southampton,yes,False
234,0,2,male,24.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
235,0,3,female,NaN,0,0,7.5500,S,Third,woman,False,NaN,Southampton,no,True
236,0,2,male,44.00,1,0,26.0000,S,Second,man,True,NaN,Southampton,no,False
237,1,2,female,8.00,0,2,26.2500,S,Second,child,False,NaN,Southampton,yes,False
238,0,2,male,19.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
239,0,2,male,33.00,0,0,12.2750,S,Second,man,True,NaN,Southampton,no,True
240,0,3,female,NaN,1,0,14.4542,C,Third,woman,False,NaN,Cherbourg,no,False
241,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,NaN,Queenstown,yes,False
242,0,2,male,29.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
243,0,3,male,22.00,0,0,7.1250,S,Third,man,True,NaN,Southampton,no,True
244,0,3,male,30.00,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
245,0,1,male,44.00,2,0,90.0000,Q,First,man,True,C,Queenstown,no,False
246,0,3,female,25.00,0,0,7.7750,S,Third,woman,False,NaN,Southampton,no,True
247,1,2,female,24.00,0,2,14.5000,S,Second,woman,False,NaN,Southampton,yes,False
248,1,1,male,37.00,1,1,52.5542,S,First,man,True,D,Southampton,yes,False
249,0,2,male,54.00,1,0,26.0000,S,Second,man,True,NaN,Southampton,no,False
250,0,3,male,NaN,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
251,0,3,female,29.00,1,1,10.4625,S,Third,woman,False,G,Southampton,no,False
252,0,1,male,62.00,0,0,26.5500,S,First,man,True,C,Southampton,no,True
253,0,3,male,30.00,1,0,16.1000,S,Third,man,True,NaN,Southampton,no,False
254,0,3,female,41.00,0,2,20.2125,S,Third,woman,False,NaN,Southampton,no,False
255,1,3,female,29.00,0,2,15.2458,C,Third,woman,False,NaN,Cherbourg,yes,False
256,1,1,female,NaN,0,0,79.2000,C,First,woman,False,NaN,Cherbourg,yes,True
257,1,1,female,30.00,0,0,86.5000,S,First,woman,False,B,Southampton,yes,True
258,1,1,female,35.00,0,0,512.3292,C,First,woman,False,NaN,Cherbourg,yes,True
259,1,2,female,50.00,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
260,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
261,1,3,male,3.00,4,2,31.3875,S,Third,child,False,NaN,Southampton,yes,False
262,0,1,male,52.00,1,1,79.6500,S,First,man,True,E,Southampton,no,False
263,0,1,male,40.00,0,0,0.0000,S,First,man,True,B,Southampton,no,True
264,0,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,no,True
265,0,2,male,36.00,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
266,0,3,male,16.00,4,1,39.6875,S,Third,man,True,NaN,Southampton,no,False
267,1,3,male,25.00,1,0,7.7750,S,Third,man,True,NaN,Southampton,yes,False
268,1,1,female,58.00,0,1,153.4625,S,First,woman,False,C,Southampton,yes,False
269,1,1,female,35.00,0,0,135.6333,S,First,woman,False,C,Southampton,yes,True
270,0,1,male,NaN,0,0,31.0000,S,First,man,True,NaN,Southampton,no,True
271,1,3,male,25.00,0,0,0.0000,S,Third,man,True,NaN,Southampton,yes,True
272,1,2,female,41.00,0,1,19.5000,S,Second,woman,False,NaN,Southampton,yes,False

In [53]:
titanic.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

The dataframe has some missing values. The column most at fault for the majority of the missing data is 'deck'. Due to this column holding a categorical data type of which deck the passenger's were allocated to, it would be impossible to fill them with values. The deck is also mostly NaN values, about 77%, so it's safe to say we will look to remove this column.

In [38]:
#titanic.shape
#titanic.isnull().sum()['deck']/titanic.shape[0]

There are two rows, Row 829 and Row 61, where 'embarked' and 'embark_town' are both null values. Both were women that survived and had fares of 80.00. The only thing that differs between them are their ages. This has potential to be a duplicate, but there is no way to know which one is the original person. It is also possible, yet unlikely, that two very similar people were coincidingly residing on the same deck, while completely separate from each other as 'alone' == True. It is better to just leave the rows be, as these could still be important in the future. Seeing as these are only two missing values in each column, we don't have to drop these rows.

In [46]:
titanic.loc[titanic['fare'] == 80.00]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
61,1,1,female,38.0,0,0,80.0,NaN,First,woman,False,B,NaN,yes,True
829,1,1,female,62.0,0,0,80.0,NaN,First,woman,False,B,NaN,yes,True

As for the missing 'age' values, from the cell below, it doesn't seem like there's a common factor in the rows that are missing their ages. Seeing as about 20% of the age values are missing, a large but not worrying amount, it would be best to replace the NaN age values with the mean age value if we were to deal with this issue, and not remove them. We will execute this change after the EDA to see if we encounter any problems first.

In [48]:
titanic.loc[pd.isnull(titanic['age'])]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
17,1,2,male,NaN,0,0,13.0000,S,Second,man,True,NaN,Southampton,yes,True
19,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,NaN,Cherbourg,yes,True
26,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
28,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
29,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
31,1,1,female,NaN,1,0,146.5208,C,First,woman,False,B,Cherbourg,yes,False
32,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
36,1,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,yes,True
42,0,3,male,NaN,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,no,True
45,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
46,0,3,male,NaN,1,0,15.5000,Q,Third,man,True,NaN,Queenstown,no,False
47,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
48,0,3,male,NaN,2,0,21.6792,C,Third,man,True,NaN,Cherbourg,no,False
55,1,1,male,NaN,0,0,35.5000,S,First,man,True,C,Southampton,yes,True
64,0,1,male,NaN,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
65,1,3,male,NaN,1,1,15.2458,C,Third,man,True,NaN,Cherbourg,yes,False
76,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
77,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
82,1,3,female,NaN,0,0,7.7875,Q,Third,woman,False,NaN,Queenstown,yes,True
87,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
95,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
101,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
107,1,3,male,NaN,0,0,7.7750,S,Third,man,True,NaN,Southampton,yes,True
109,1,3,female,NaN,1,0,24.1500,Q,Third,woman,False,NaN,Queenstown,yes,False
121,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
126,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
128,1,3,female,NaN,1,1,22.3583,C,Third,woman,False,F,Cherbourg,yes,False
140,0,3,female,NaN,0,2,15.2458,C,Third,woman,False,NaN,Cherbourg,no,False
154,0,3,male,NaN,0,0,7.3125,S,Third,man,True,NaN,Southampton,no,True
158,0,3,male,NaN,0,0,8.6625,S,Third,man,True,NaN,Southampton,no,True
159,0,3,male,NaN,8,2,69.5500,S,Third,man,True,NaN,Southampton,no,False
166,1,1,female,NaN,0,1,55.0000,S,First,woman,False,E,Southampton,yes,False
168,0,1,male,NaN,0,0,25.9250,S,First,man,True,NaN,Southampton,no,True
176,0,3,male,NaN,3,1,25.4667,S,Third,man,True,NaN,Southampton,no,False
180,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
181,0,2,male,NaN,0,0,15.0500,C,Second,man,True,NaN,Cherbourg,no,True
185,0,1,male,NaN,0,0,50.0000,S,First,man,True,A,Southampton,no,True
186,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,NaN,Queenstown,yes,False
196,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
198,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
201,0,3,male,NaN,8,2,69.5500,S,Third,man,True,NaN,Southampton,no,False
214,0,3,male,NaN,1,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,False
223,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
229,0,3,female,NaN,3,1,25.4667,S,Third,woman,False,NaN,Southampton,no,False
235,0,3,female,NaN,0,0,7.5500,S,Third,woman,False,NaN,Southampton,no,True
240,0,3,female,NaN,1,0,14.4542,C,Third,woman,False,NaN,Cherbourg,no,False
241,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,NaN,Queenstown,yes,False
250,0,3,male,NaN,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
256,1,1,female,NaN,0,0,79.2000,C,First,woman,False,NaN,Cherbourg,yes,True
260,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
264,0,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,no,True
270,0,1,male,NaN,0,0,31.0000,S,First,man,True,NaN,Southampton,no,True
274,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
277,0,2,male,NaN,0,0,0.0000,S,Second,man,True,NaN,Southampton,no,True
284,0,1,male,NaN,0,0,26.0000,S,First,man,True,A,Southampton,no,True
295,0,1,male,NaN,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
298,1,1,male,NaN,0,0,30.5000,S,First,man,True,C,Southampton,yes,True
300,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
301,1,3,male,NaN,2,0,23.2500,Q,Third,man,True,NaN,Queenstown,yes,False
303,1,2,female,NaN,0,0,12.3500,Q,Second,woman,False,E,Queenstown,yes,True
304,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
306,1,1,female,NaN,0,0,110.8833,C,First,woman,False,NaN,Cherbourg,yes,True
324,0,3,male,NaN,8,2,69.5500,S,Third,man,True,NaN,Southampton,no,False
330,1,3,female,NaN,2,0,23.2500,Q,Third,woman,False,NaN,Queenstown,yes,False
334,1,1,female,NaN,1,0,133.6500,S,First,woman,False,NaN,Southampton,yes,False
335,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
347,1,3,female,NaN,1,0,16.1000,S,Third,woman,False,NaN,Southampton,yes,False
351,0,1,male,NaN,0,0,35.0000,S,First,man,True,C,Southampton,no,True
354,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
358,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
359,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
364,0,3,male,NaN,1,0,15.5000,Q,Third,man,True,NaN,Queenstown,no,False
367,1,3,female,NaN,0,0,7.2292,C,Third,woman,False,NaN,Cherbourg,yes,True
368,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
375,1,1,female,NaN,1,0,82.1708,C,First,woman,False,NaN,Cherbourg,yes,False
384,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
388,0,3,male,NaN,0,0,7.7292,Q,Third,man,True,NaN,Queenstown,no,True
409,0,3,female,NaN,3,1,25.4667,S,Third,woman,False,NaN,Southampton,no,False
410,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
411,0,3,male,NaN,0,0,6.8583,Q,Third,man,True,NaN,Queenstown,no,True
413,0,2,male,NaN,0,0,0.0000,S,Second,man,True,NaN,Southampton,no,True
415,0,3,female,NaN,0,0,8.0500,S,Third,woman,False,NaN,Southampton,no,True
420,0,3,male,NaN,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,no,True
425,0,3,male,NaN,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
428,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
431,1,3,female,NaN,1,0,16.1000,S,Third,woman,False,NaN,Southampton,yes,False
444,1,3,male,NaN,0,0,8.1125,S,Third,man,True,NaN,Southampton,yes,True
451,0,3,male,NaN,1,0,19.9667,S,Third,man,True,NaN,Southampton,no,False
454,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
457,1,1,female,NaN,1,0,51.8625,S,First,woman,False,D,Southampton,yes,False
459,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
464,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
466,0,2,male,NaN,0,0,0.0000,S,Second,man,True,NaN,Southampton,no,True
468,0,3,male,NaN,0,0,7.7250,Q,Third,man,True,NaN,Queenstown,no,True
470,0,3,male,NaN,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
475,0,1,male,NaN,0,0,52.0000,S,First,man,True,A,Southampton,no,True
481,0,2,male,NaN,0,0,0.0000,S,Second,man,True,NaN,Southampton,no,True
485,0,3,female,NaN,3,1,25.4667,S,Third,woman,False,NaN,Southampton,no,False
490,0,3,male,NaN,1,0,19.9667,S,Third,man,True,NaN,Southampton,no,False
495,0,3,male,NaN,0,0,14.4583,C,Third,man,True,NaN,Cherbourg,no,True
497,0,3,male,NaN,0,0,15.1000,S,Third,man,True,NaN,Southampton,no,True
502,0,3,female,NaN,0,0,7.6292,Q,Third,woman,False,NaN,Queenstown,no,True
507,1,1,male,NaN,0,0,26.5500,S,First,man,True,NaN,Southampton,yes,True
511,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
517,0,3,male,NaN,0,0,24.1500,Q,Third,man,True,NaN,Queenstown,no,True
522,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
524,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
527,0,1,male,NaN,0,0,221.7792,S,First,man,True,C,Southampton,no,True
531,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
533,1,3,female,NaN,0,2,22.3583,C,Third,woman,False,NaN,Cherbourg,yes,False
538,0,3,male,NaN,0,0,14.5000,S,Third,man,True,NaN,Southampton,no,True
547,1,2,male,NaN,0,0,13.8625,C,Second,man,True,NaN,Cherbourg,yes,True
552,0,3,male,NaN,0,0,7.8292,Q,Third,man,True,NaN,Queenstown,no,True
557,0,1,male,NaN,0,0,227.5250,C,First,man,True,NaN,Cherbourg,no,True
560,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
563,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
564,0,3,female,NaN,0,0,8.0500,S,Third,woman,False,NaN,Southampton,no,True
568,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
573,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
578,0,3,female,NaN,1,0,14.4583,C,Third,woman,False,NaN,Cherbourg,no,False
584,0,3,male,NaN,0,0,8.7125,C,Third,man,True,NaN,Cherbourg,no,True
589,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
593,0,3,female,NaN,0,2,7.7500,Q,Third,woman,False,NaN,Queenstown,no,False
596,1,2,female,NaN,0,0,33.0000,S,Second,woman,False,NaN,Southampton,yes,True
598,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
601,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
602,0,1,male,NaN,0,0,42.4000,S,First,man,True,NaN,Southampton,no,True
611,0,3,male,NaN,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
612,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,NaN,Queenstown,yes,False
613,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
629,0,3,male,NaN,0,0,7.7333,Q,Third,man,True,NaN,Queenstown,no,True
633,0,1,male,NaN,0,0,0.0000,S,First,man,True,NaN,Southampton,no,True
639,0,3,male,NaN,1,0,16.1000,S,Third,man,True,NaN,Southampton,no,False
643,1,3,male,NaN,0,0,56.4958,S,Third,man,True,NaN,Southampton,yes,True
648,0,3,male,NaN,0,0,7.5500,S,Third,man,True,NaN,Southampton,no,True
650,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
653,1,3,female,NaN,0,0,7.8292,Q,Third,woman,False,NaN,Queenstown,yes,True
656,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
667,0,3,male,NaN,0,0,7.7750,S,Third,man,True,NaN,Southampton,no,True
669,1,1,female,NaN,1,0,52.0000,S,First,woman,False,C,Southampton,yes,False
674,0,2,male,NaN,0,0,0.0000,S,Second,man,True,NaN,Southampton,no,True
680,0,3,female,NaN,0,0,8.1375,Q,Third,woman,False,NaN,Queenstown,no,True
692,1,3,male,NaN,0,0,56.4958,S,Third,man,True,NaN,Southampton,yes,True
697,1,3,female,NaN,0,0,7.7333,Q,Third,woman,False,NaN,Queenstown,yes,True
709,1,3,male,NaN,1,1,15.2458,C,Third,man,True,NaN,Cherbourg,yes,False
711,0,1,male,NaN,0,0,26.5500,S,First,man,True,C,Southampton,no,True
718,0,3,male,NaN,0,0,15.5000,Q,Third,man,True,NaN,Queenstown,no,True
727,1,3,female,NaN,0,0,7.7375,Q,Third,woman,False,NaN,Queenstown,yes,True
732,0,2,male,NaN,0,0,0.0000,S,Second,man,True,NaN,Southampton,no,True
738,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
739,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
740,1,1,male,NaN,0,0,30.0000,S,First,man,True,D,Southampton,yes,True
760,0,3,male,NaN,0,0,14.5000,S,Third,man,True,NaN,Southampton,no,True
766,0,1,male,NaN,0,0,39.6000,C,First,man,True,NaN,Cherbourg,no,True
768,0,3,male,NaN,1,0,24.1500,Q,Third,man,True,NaN,Queenstown,no,False
773,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
776,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,F,Queenstown,no,True
778,0,3,male,NaN,0,0,7.7375,Q,Third,man,True,NaN,Queenstown,no,True
783,0,3,male,NaN,1,2,23.4500,S,Third,man,True,NaN,Southampton,no,False
790,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
792,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
793,0,1,male,NaN,0,0,30.6958,C,First,man,True,NaN,Cherbourg,no,True
815,0,1,male,NaN,0,0,0.0000,S,First,man,True,B,Southampton,no,True
825,0,3,male,NaN,0,0,6.9500,Q,Third,man,True,NaN,Queenstown,no,True
826,0,3,male,NaN,0,0,56.4958,S,Third,man,True,NaN,Southampton,no,True
828,1,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,yes,True
832,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
837,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
839,1,1,male,NaN,0,0,29.7000,C,First,man,True,C,Cherbourg,yes,True
846,0,3,male,NaN,8,2,69.5500,S,Third,man,True,NaN,Southampton,no,False
849,1,1,female,NaN,1,0,89.1042,C,First,woman,False,C,Cherbourg,yes,False
859,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
863,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
868,0,3,male,NaN,0,0,9.5000,S,Third,man,True,NaN,Southampton,no,True
878,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False

Here's the cleaned dataframe with 'deck' removed.

In [65]:
titanic_clean = titanic.drop(['deck'], axis = 1)
titanic_clean

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.00,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.00,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.00,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.00,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,Queenstown,no,True
6,0,1,male,54.00,0,0,51.8625,S,First,man,True,Southampton,no,True
7,0,3,male,2.00,3,1,21.0750,S,Third,child,False,Southampton,no,False
8,1,3,female,27.00,0,2,11.1333,S,Third,woman,False,Southampton,yes,False
9,1,2,female,14.00,1,0,30.0708,C,Second,child,False,Cherbourg,yes,False
10,1,3,female,4.00,1,1,16.7000,S,Third,child,False,Southampton,yes,False
11,1,1,female,58.00,0,0,26.5500,S,First,woman,False,Southampton,yes,True
12,0,3,male,20.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
13,0,3,male,39.00,1,5,31.2750,S,Third,man,True,Southampton,no,False
14,0,3,female,14.00,0,0,7.8542,S,Third,child,False,Southampton,no,True
15,1,2,female,55.00,0,0,16.0000,S,Second,woman,False,Southampton,yes,True
16,0,3,male,2.00,4,1,29.1250,Q,Third,child,False,Queenstown,no,False
17,1,2,male,NaN,0,0,13.0000,S,Second,man,True,Southampton,yes,True
18,0,3,female,31.00,1,0,18.0000,S,Third,woman,False,Southampton,no,False
19,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,Cherbourg,yes,True
20,0,2,male,35.00,0,0,26.0000,S,Second,man,True,Southampton,no,True
21,1,2,male,34.00,0,0,13.0000,S,Second,man,True,Southampton,yes,True
22,1,3,female,15.00,0,0,8.0292,Q,Third,child,False,Queenstown,yes,True
23,1,1,male,28.00,0,0,35.5000,S,First,man,True,Southampton,yes,True
24,0,3,female,8.00,3,1,21.0750,S,Third,child,False,Southampton,no,False
25,1,3,female,38.00,1,5,31.3875,S,Third,woman,False,Southampton,yes,False
26,0,3,male,NaN,0,0,7.2250,C,Third,man,True,Cherbourg,no,True
27,0,1,male,19.00,3,2,263.0000,S,First,man,True,Southampton,no,False
28,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,Queenstown,yes,True
29,0,3,male,NaN,0,0,7.8958,S,Third,man,True,Southampton,no,True
30,0,1,male,40.00,0,0,27.7208,C,First,man,True,Cherbourg,no,True
31,1,1,female,NaN,1,0,146.5208,C,First,woman,False,Cherbourg,yes,False
32,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,Queenstown,yes,True
33,0,2,male,66.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
34,0,1,male,28.00,1,0,82.1708,C,First,man,True,Cherbourg,no,False
35,0,1,male,42.00,1,0,52.0000,S,First,man,True,Southampton,no,False
36,1,3,male,NaN,0,0,7.2292,C,Third,man,True,Cherbourg,yes,True
37,0,3,male,21.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
38,0,3,female,18.00,2,0,18.0000,S,Third,woman,False,Southampton,no,False
39,1,3,female,14.00,1,0,11.2417,C,Third,child,False,Cherbourg,yes,False
40,0,3,female,40.00,1,0,9.4750,S,Third,woman,False,Southampton,no,False
41,0,2,female,27.00,1,0,21.0000,S,Second,woman,False,Southampton,no,False
42,0,3,male,NaN,0,0,7.8958,C,Third,man,True,Cherbourg,no,True
43,1,2,female,3.00,1,2,41.5792,C,Second,child,False,Cherbourg,yes,False
44,1,3,female,19.00,0,0,7.8792,Q,Third,woman,False,Queenstown,yes,True
45,0,3,male,NaN,0,0,8.0500,S,Third,man,True,Southampton,no,True
46,0,3,male,NaN,1,0,15.5000,Q,Third,man,True,Queenstown,no,False
47,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,Queenstown,yes,True
48,0,3,male,NaN,2,0,21.6792,C,Third,man,True,Cherbourg,no,False
49,0,3,female,18.00,1,0,17.8000,S,Third,woman,False,Southampton,no,False
50,0,3,male,7.00,4,1,39.6875,S,Third,child,False,Southampton,no,False
51,0,3,male,21.00,0,0,7.8000,S,Third,man,True,Southampton,no,True
52,1,1,female,49.00,1,0,76.7292,C,First,woman,False,Cherbourg,yes,False
53,1,2,female,29.00,1,0,26.0000,S,Second,woman,False,Southampton,yes,False
54,0,1,male,65.00,0,1,61.9792,C,First,man,True,Cherbourg,no,False
55,1,1,male,NaN,0,0,35.5000,S,First,man,True,Southampton,yes,True
56,1,2,female,21.00,0,0,10.5000,S,Second,woman,False,Southampton,yes,True
57,0,3,male,28.50,0,0,7.2292,C,Third,man,True,Cherbourg,no,True
58,1,2,female,5.00,1,2,27.7500,S,Second,child,False,Southampton,yes,False
59,0,3,male,11.00,5,2,46.9000,S,Third,child,False,Southampton,no,False
60,0,3,male,22.00,0,0,7.2292,C,Third,man,True,Cherbourg,no,True
61,1,1,female,38.00,0,0,80.0000,NaN,First,woman,False,NaN,yes,True
62,0,1,male,45.00,1,0,83.4750,S,First,man,True,Southampton,no,False
63,0,3,male,4.00,3,2,27.9000,S,Third,child,False,Southampton,no,False
64,0,1,male,NaN,0,0,27.7208,C,First,man,True,Cherbourg,no,True
65,1,3,male,NaN,1,1,15.2458,C,Third,man,True,Cherbourg,yes,False
66,1,2,female,29.00,0,0,10.5000,S,Second,woman,False,Southampton,yes,True
67,0,3,male,19.00,0,0,8.1583,S,Third,man,True,Southampton,no,True
68,1,3,female,17.00,4,2,7.9250,S,Third,woman,False,Southampton,yes,False
69,0,3,male,26.00,2,0,8.6625,S,Third,man,True,Southampton,no,False
70,0,2,male,32.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
71,0,3,female,16.00,5,2,46.9000,S,Third,woman,False,Southampton,no,False
72,0,2,male,21.00,0,0,73.5000,S,Second,man,True,Southampton,no,True
73,0,3,male,26.00,1,0,14.4542,C,Third,man,True,Cherbourg,no,False
74,1,3,male,32.00,0,0,56.4958,S,Third,man,True,Southampton,yes,True
75,0,3,male,25.00,0,0,7.6500,S,Third,man,True,Southampton,no,True
76,0,3,male,NaN,0,0,7.8958,S,Third,man,True,Southampton,no,True
77,0,3,male,NaN,0,0,8.0500,S,Third,man,True,Southampton,no,True
78,1,2,male,0.83,0,2,29.0000,S,Second,child,False,Southampton,yes,False
79,1,3,female,30.00,0,0,12.4750,S,Third,woman,False,Southampton,yes,True
80,0,3,male,22.00,0,0,9.0000,S,Third,man,True,Southampton,no,True
81,1,3,male,29.00,0,0,9.5000,S,Third,man,True,Southampton,yes,True
82,1,3,female,NaN,0,0,7.7875,Q,Third,woman,False,Queenstown,yes,True
83,0,1,male,28.00,0,0,47.1000,S,First,man,True,Southampton,no,True
84,1,2,female,17.00,0,0,10.5000,S,Second,woman,False,Southampton,yes,True
85,1,3,female,33.00,3,0,15.8500,S,Third,woman,False,Southampton,yes,False
86,0,3,male,16.00,1,3,34.3750,S,Third,man,True,Southampton,no,False
87,0,3,male,NaN,0,0,8.0500,S,Third,man,True,Southampton,no,True
88,1,1,female,23.00,3,2,263.0000,S,First,woman,False,Southampton,yes,False
89,0,3,male,24.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
90,0,3,male,29.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
91,0,3,male,20.00,0,0,7.8542,S,Third,man,True,Southampton,no,True
92,0,1,male,46.00,1,0,61.1750,S,First,man,True,Southampton,no,False
93,0,3,male,26.00,1,2,20.5750,S,Third,man,True,Southampton,no,False
94,0,3,male,59.00,0,0,7.2500,S,Third,man,True,Southampton,no,True
95,0,3,male,NaN,0,0,8.0500,S,Third,man,True,Southampton,no,True
96,0,1,male,71.00,0,0,34.6542,C,First,man,True,Cherbourg,no,True
97,1,1,male,23.00,0,1,63.3583,C,First,man,True,Cherbourg,yes,False
98,1,2,female,34.00,0,1,23.0000,S,Second,woman,False,Southampton,yes,False
99,0,2,male,34.00,1,0,26.0000,S,Second,man,True,Southampton,no,False
100,0,3,female,28.00,0,0,7.8958,S,Third,woman,False,Southampton,no,True
101,0,3,male,NaN,0,0,7.8958,S,Third,man,True,Southampton,no,True
102,0,1,male,21.00,0,1,77.2875,S,First,man,True,Southampton,no,False
103,0,3,male,33.00,0,0,8.6542,S,Third,man,True,Southampton,no,True
104,0,3,male,37.00,2,0,7.9250,S,Third,man,True,Southampton,no,False
105,0,3,male,28.00,0,0,7.8958,S,Third,man,True,Southampton,no,True
106,1,3,female,21.00,0,0,7.6500,S,Third,woman,False,Southampton,yes,True
107,1,3,male,NaN,0,0,7.7750,S,Third,man,True,Southampton,yes,True
108,0,3,male,38.00,0,0,7.8958,S,Third,man,True,Southampton,no,True
109,1,3,female,NaN,1,0,24.1500,Q,Third,woman,False,Queenstown,yes,False
110,0,1,male,47.00,0,0,52.0000,S,First,man,True,Southampton,no,True
111,0,3,female,14.50,1,0,14.4542,C,Third,child,False,Cherbourg,no,False
112,0,3,male,22.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
113,0,3,female,20.00,1,0,9.8250,S,Third,woman,False,Southampton,no,False
114,0,3,female,17.00,0,0,14.4583,C,Third,woman,False,Cherbourg,no,True
115,0,3,male,21.00,0,0,7.9250,S,Third,man,True,Southampton,no,True
116,0,3,male,70.50,0,0,7.7500,Q,Third,man,True,Queenstown,no,True
117,0,2,male,29.00,1,0,21.0000,S,Second,man,True,Southampton,no,False
118,0,1,male,24.00,0,1,247.5208,C,First,man,True,Cherbourg,no,False
119,0,3,female,2.00,4,2,31.2750,S,Third,child,False,Southampton,no,False
120,0,2,male,21.00,2,0,73.5000,S,Second,man,True,Southampton,no,False
121,0,3,male,NaN,0,0,8.0500,S,Third,man,True,Southampton,no,True
122,0,2,male,32.50,1,0,30.0708,C,Second,man,True,Cherbourg,no,False
123,1,2,female,32.50,0,0,13.0000,S,Second,woman,False,Southampton,yes,True
124,0,1,male,54.00,0,1,77.2875,S,First,man,True,Southampton,no,False
125,1,3,male,12.00,1,0,11.2417,C,Third,child,False,Cherbourg,yes,False
126,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,Queenstown,no,True
127,1,3,male,24.00,0,0,7.1417,S,Third,man,True,Southampton,yes,True
128,1,3,female,NaN,1,1,22.3583,C,Third,woman,False,Cherbourg,yes,False
129,0,3,male,45.00,0,0,6.9750,S,Third,man,True,Southampton,no,True
130,0,3,male,33.00,0,0,7.8958,C,Third,man,True,Cherbourg,no,True
131,0,3,male,20.00,0,0,7.0500,S,Third,man,True,Southampton,no,True
132,0,3,female,47.00,1,0,14.5000,S,Third,woman,False,Southampton,no,False
133,1,2,female,29.00,1,0,26.0000,S,Second,woman,False,Southampton,yes,False
134,0,2,male,25.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
135,0,2,male,23.00,0,0,15.0458,C,Second,man,True,Cherbourg,no,True
136,1,1,female,19.00,0,2,26.2833,S,First,woman,False,Southampton,yes,False
137,0,1,male,37.00,1,0,53.1000,S,First,man,True,Southampton,no,False
138,0,3,male,16.00,0,0,9.2167,S,Third,man,True,Southampton,no,True
139,0,1,male,24.00,0,0,79.2000,C,First,man,True,Cherbourg,no,True
140,0,3,female,NaN,0,2,15.2458,C,Third,woman,False,Cherbourg,no,False
141,1,3,female,22.00,0,0,7.7500,S,Third,woman,False,Southampton,yes,True
142,1,3,female,24.00,1,0,15.8500,S,Third,woman,False,Southampton,yes,False
143,0,3,male,19.00,0,0,6.7500,Q,Third,man,True,Queenstown,no,True
144,0,2,male,18.00,0,0,11.5000,S,Second,man,True,Southampton,no,True
145,0,2,male,19.00,1,1,36.7500,S,Second,man,True,Southampton,no,False
146,1,3,male,27.00,0,0,7.7958,S,Third,man,True,Southampton,yes,True
147,0,3,female,9.00,2,2,34.3750,S,Third,child,False,Southampton,no,False
148,0,2,male,36.50,0,2,26.0000,S,Second,man,True,Southampton,no,False
149,0,2,male,42.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
150,0,2,male,51.00,0,0,12.5250,S,Second,man,True,Southampton,no,True
151,1,1,female,22.00,1,0,66.6000,S,First,woman,False,Southampton,yes,False
152,0,3,male,55.50,0,0,8.0500,S,Third,man,True,Southampton,no,True
153,0,3,male,40.50,0,2,14.5000,S,Third,man,True,Southampton,no,False
154,0,3,male,NaN,0,0,7.3125,S,Third,man,True,Southampton,no,True
155,0,1,male,51.00,0,1,61.3792,C,First,man,True,Cherbourg,no,False
156,1,3,female,16.00,0,0,7.7333,Q,Third,woman,False,Queenstown,yes,True
157,0,3,male,30.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
158,0,3,male,NaN,0,0,8.6625,S,Third,man,True,Southampton,no,True
159,0,3,male,NaN,8,2,69.5500,S,Third,man,True,Southampton,no,False
160,0,3,male,44.00,0,1,16.1000,S,Third,man,True,Southampton,no,False
161,1,2,female,40.00,0,0,15.7500,S,Second,woman,False,Southampton,yes,True
162,0,3,male,26.00,0,0,7.7750,S,Third,man,True,Southampton,no,True
163,0,3,male,17.00,0,0,8.6625,S,Third,man,True,Southampton,no,True
164,0,3,male,1.00,4,1,39.6875,S,Third,child,False,Southampton,no,False
165,1,3,male,9.00,0,2,20.5250,S,Third,child,False,Southampton,yes,False
166,1,1,female,NaN,0,1,55.0000,S,First,woman,False,Southampton,yes,False
167,0,3,female,45.00,1,4,27.9000,S,Third,woman,False,Southampton,no,False
168,0,1,male,NaN,0,0,25.9250,S,First,man,True,Southampton,no,True
169,0,3,male,28.00,0,0,56.4958,S,Third,man,True,Southampton,no,True
170,0,1,male,61.00,0,0,33.5000,S,First,man,True,Southampton,no,True
171,0,3,male,4.00,4,1,29.1250,Q,Third,child,False,Queenstown,no,False
172,1,3,female,1.00,1,1,11.1333,S,Third,child,False,Southampton,yes,False
173,0,3,male,21.00,0,0,7.9250,S,Third,man,True,Southampton,no,True
174,0,1,male,56.00,0,0,30.6958,C,First,man,True,Cherbourg,no,True
175,0,3,male,18.00,1,1,7.8542,S,Third,man,True,Southampton,no,False
176,0,3,male,NaN,3,1,25.4667,S,Third,man,True,Southampton,no,False
177,0,1,female,50.00,0,0,28.7125,C,First,woman,False,Cherbourg,no,True
178,0,2,male,30.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
179,0,3,male,36.00,0,0,0.0000,S,Third,man,True,Southampton,no,True
180,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,Southampton,no,False
181,0,2,male,NaN,0,0,15.0500,C,Second,man,True,Cherbourg,no,True
182,0,3,male,9.00,4,2,31.3875,S,Third,child,False,Southampton,no,False
183,1,2,male,1.00,2,1,39.0000,S,Second,child,False,Southampton,yes,False
184,1,3,female,4.00,0,2,22.0250,S,Third,child,False,Southampton,yes,False
185,0,1,male,NaN,0,0,50.0000,S,First,man,True,Southampton,no,True
186,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,Queenstown,yes,False
187,1,1,male,45.00,0,0,26.5500,S,First,man,True,Southampton,yes,True
188,0,3,male,40.00,1,1,15.5000,Q,Third,man,True,Queenstown,no,False
189,0,3,male,36.00,0,0,7.8958,S,Third,man,True,Southampton,no,True
190,1,2,female,32.00,0,0,13.0000,S,Second,woman,False,Southampton,yes,True
191,0,2,male,19.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
192,1,3,female,19.00,1,0,7.8542,S,Third,woman,False,Southampton,yes,False
193,1,2,male,3.00,1,1,26.0000,S,Second,child,False,Southampton,yes,False
194,1,1,female,44.00,0,0,27.7208,C,First,woman,False,Cherbourg,yes,True
195,1,1,female,58.00,0,0,146.5208,C,First,woman,False,Cherbourg,yes,True
196,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,Queenstown,no,True
197,0,3,male,42.00,0,1,8.4042,S,Third,man,True,Southampton,no,False
198,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,Queenstown,yes,True
199,0,2,female,24.00,0,0,13.0000,S,Second,woman,False,Southampton,no,True
200,0,3,male,28.00,0,0,9.5000,S,Third,man,True,Southampton,no,True
201,0,3,male,NaN,8,2,69.5500,S,Third,man,True,Southampton,no,False
202,0,3,male,34.00,0,0,6.4958,S,Third,man,True,Southampton,no,True
203,0,3,male,45.50,0,0,7.2250,C,Third,man,True,Cherbourg,no,True
204,1,3,male,18.00,0,0,8.0500,S,Third,man,True,Southampton,yes,True
205,0,3,female,2.00,0,1,10.4625,S,Third,child,False,Southampton,no,False
206,0,3,male,32.00,1,0,15.8500,S,Third,man,True,Southampton,no,False
207,1,3,male,26.00,0,0,18.7875,C,Third,man,True,Cherbourg,yes,True
208,1,3,female,16.00,0,0,7.7500,Q,Third,woman,False,Queenstown,yes,True
209,1,1,male,40.00,0,0,31.0000,C,First,man,True,Cherbourg,yes,True
210,0,3,male,24.00,0,0,7.0500,S,Third,man,True,Southampton,no,True
211,1,2,female,35.00,0,0,21.0000,S,Second,woman,False,Southampton,yes,True
212,0,3,male,22.00,0,0,7.2500,S,Third,man,True,Southampton,no,True
213,0,2,male,30.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
214,0,3,male,NaN,1,0,7.7500,Q,Third,man,True,Queenstown,no,False
215,1,1,female,31.00,1,0,113.2750,C,First,woman,False,Cherbourg,yes,False
216,1,3,female,27.00,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
217,0,2,male,42.00,1,0,27.0000,S,Second,man,True,Southampton,no,False
218,1,1,female,32.00,0,0,76.2917,C,First,woman,False,Cherbourg,yes,True
219,0,2,male,30.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
220,1,3,male,16.00,0,0,8.0500,S,Third,man,True,Southampton,yes,True
221,0,2,male,27.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
222,0,3,male,51.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
223,0,3,male,NaN,0,0,7.8958,S,Third,man,True,Southampton,no,True
224,1,1,male,38.00,1,0,90.0000,S,First,man,True,Southampton,yes,False
225,0,3,male,22.00,0,0,9.3500,S,Third,man,True,Southampton,no,True
226,1,2,male,19.00,0,0,10.5000,S,Second,man,True,Southampton,yes,True
227,0,3,male,20.50,0,0,7.2500,S,Third,man,True,Southampton,no,True
228,0,2,male,18.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
229,0,3,female,NaN,3,1,25.4667,S,Third,woman,False,Southampton,no,False
230,1,1,female,35.00,1,0,83.4750,S,First,woman,False,Southampton,yes,False
231,0,3,male,29.00,0,0,7.7750,S,Third,man,True,Southampton,no,True
232,0,2,male,59.00,0,0,13.5000,S,Second,man,True,Southampton,no,True
233,1,3,female,5.00,4,2,31.3875,S,Third,child,False,Southampton,yes,False
234,0,2,male,24.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
235,0,3,female,NaN,0,0,7.5500,S,Third,woman,False,Southampton,no,True
236,0,2,male,44.00,1,0,26.0000,S,Second,man,True,Southampton,no,False
237,1,2,female,8.00,0,2,26.2500,S,Second,child,False,Southampton,yes,False
238,0,2,male,19.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
239,0,2,male,33.00,0,0,12.2750,S,Second,man,True,Southampton,no,True
240,0,3,female,NaN,1,0,14.4542,C,Third,woman,False,Cherbourg,no,False
241,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,Queenstown,yes,False
242,0,2,male,29.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
243,0,3,male,22.00,0,0,7.1250,S,Third,man,True,Southampton,no,True
244,0,3,male,30.00,0,0,7.2250,C,Third,man,True,Cherbourg,no,True
245,0,1,male,44.00,2,0,90.0000,Q,First,man,True,Queenstown,no,False
246,0,3,female,25.00,0,0,7.7750,S,Third,woman,False,Southampton,no,True
247,1,2,female,24.00,0,2,14.5000,S,Second,woman,False,Southampton,yes,False
248,1,1,male,37.00,1,1,52.5542,S,First,man,True,Southampton,yes,False
249,0,2,male,54.00,1,0,26.0000,S,Second,man,True,Southampton,no,False
250,0,3,male,NaN,0,0,7.2500,S,Third,man,True,Southampton,no,True
251,0,3,female,29.00,1,1,10.4625,S,Third,woman,False,Southampton,no,False
252,0,1,male,62.00,0,0,26.5500,S,First,man,True,Southampton,no,True
253,0,3,male,30.00,1,0,16.1000,S,Third,man,True,Southampton,no,False
254,0,3,female,41.00,0,2,20.2125,S,Third,woman,False,Southampton,no,False
255,1,3,female,29.00,0,2,15.2458,C,Third,woman,False,Cherbourg,yes,False
256,1,1,female,NaN,0,0,79.2000,C,First,woman,False,Cherbourg,yes,True
257,1,1,female,30.00,0,0,86.5000,S,First,woman,False,Southampton,yes,True
258,1,1,female,35.00,0,0,512.3292,C,First,woman,False,Cherbourg,yes,True
259,1,2,female,50.00,0,1,26.0000,S,Second,woman,False,Southampton,yes,False
260,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,Queenstown,no,True
261,1,3,male,3.00,4,2,31.3875,S,Third,child,False,Southampton,yes,False
262,0,1,male,52.00,1,1,79.6500,S,First,man,True,Southampton,no,False
263,0,1,male,40.00,0,0,0.0000,S,First,man,True,Southampton,no,True
264,0,3,female,NaN,0,0,7.7500,Q,Third,woman,False,Queenstown,no,True
265,0,2,male,36.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
266,0,3,male,16.00,4,1,39.6875,S,Third,man,True,Southampton,no,False
267,1,3,male,25.00,1,0,7.7750,S,Third,man,True,Southampton,yes,False
268,1,1,female,58.00,0,1,153.4625,S,First,woman,False,Southampton,yes,False
269,1,1,female,35.00,0,0,135.6333,S,First,woman,False,Southampton,yes,True
270,0,1,male,NaN,0,0,31.0000,S,First,man,True,Southampton,no,True
271,1,3,male,25.00,0,0,0.0000,S,Third,man,True,Southampton,yes,True
272,1,2,female,41.00,0,1,19.5000,S,Second,woman,False,Southampton,yes,False
273,0,1,male,37.00,0,1,29.7000,C,First,man,True,Cherbourg,no,False
274,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,Queenstown,yes,True
275,1,1,female,63.00,1,0,77.9583,S,First,woman,False,Southampton,yes,False
276,0,3,female,45.00,0,0,7.7500,S,Third,woman,False,Southampton,no,True
277,0,2,male,NaN,0,0,0.0000,S,Second,man,True,Southampton,no,True
278,0,3,male,7.00,4,1,29.1250,Q,Third,child,False,Queenstown,no,False
279,1,3,female,35.00,1,1,20.2500,S,Third,woman,False,Southampton,yes,False
280,0,3,male,65.00,0,0,7.7500,Q,Third,man,True,Queenstown,no,True
281,0,3,male,28.00,0,0,7.8542,S,Third,man,True,Southampton,no,True
282,0,3,male,16.00,0,0,9.5000,S,Third,man,True,Southampton,no,True
283,1,3,male,19.00,0,0,8.0500,S,Third,man,True,Southampton,yes,True
284,0,1,male,NaN,0,0,26.0000,S,First,man,True,Southampton,no,True
285,0,3,male,33.00,0,0,8.6625,C,Third,man,True,Cherbourg,no,True
286,1,3,male,30.00,0,0,9.5000,S,Third,man,True,Southampton,yes,True

## Duplicates

There are a lot of duplicate values, there are 107 rows found using pd.duplicated().

In [62]:
#titanic.loc[titanic.duplicated()].shape
titanic.loc[titanic.duplicated()]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
47,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
76,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
77,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
87,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
95,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
101,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
121,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
133,1,2,female,29.00,1,0,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
173,0,3,male,21.00,0,0,7.9250,S,Third,man,True,NaN,Southampton,no,True
196,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
198,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
201,0,3,male,NaN,8,2,69.5500,S,Third,man,True,NaN,Southampton,no,False
213,0,2,male,30.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
223,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
241,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,NaN,Queenstown,yes,False
260,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
274,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
295,0,1,male,NaN,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
300,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
304,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
313,0,3,male,28.00,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
320,0,3,male,22.00,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
324,0,3,male,NaN,8,2,69.5500,S,Third,man,True,NaN,Southampton,no,False
335,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
343,0,2,male,25.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
354,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
355,0,3,male,28.00,0,0,9.5000,S,Third,man,True,NaN,Southampton,no,True
358,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
359,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
364,0,3,male,NaN,1,0,15.5000,Q,Third,man,True,NaN,Queenstown,no,False
368,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
384,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
409,0,3,female,NaN,3,1,25.4667,S,Third,woman,False,NaN,Southampton,no,False
410,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
413,0,2,male,NaN,0,0,0.0000,S,Second,man,True,NaN,Southampton,no,True
418,0,2,male,30.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
420,0,3,male,NaN,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,no,True
425,0,3,male,NaN,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
428,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
431,1,3,female,NaN,1,0,16.1000,S,Third,woman,False,NaN,Southampton,yes,False
454,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
459,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
464,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
466,0,2,male,NaN,0,0,0.0000,S,Second,man,True,NaN,Southampton,no,True
470,0,3,male,NaN,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
476,0,2,male,34.00,1,0,21.0000,S,Second,man,True,NaN,Southampton,no,False
481,0,2,male,NaN,0,0,0.0000,S,Second,man,True,NaN,Southampton,no,True
485,0,3,female,NaN,3,1,25.4667,S,Third,woman,False,NaN,Southampton,no,False
488,0,3,male,30.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
490,0,3,male,NaN,1,0,19.9667,S,Third,man,True,NaN,Southampton,no,False
494,0,3,male,21.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
500,0,3,male,17.00,0,0,8.6625,S,Third,man,True,NaN,Southampton,no,True
511,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
521,0,3,male,22.00,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
522,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
526,1,2,female,50.00,0,0,10.5000,S,Second,woman,False,NaN,Southampton,yes,True
531,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
560,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
563,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
564,0,3,female,NaN,0,0,8.0500,S,Third,woman,False,NaN,Southampton,no,True
568,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
573,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
588,0,3,male,22.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
589,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
598,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
601,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
612,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,NaN,Queenstown,yes,False
613,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
614,0,3,male,35.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
635,1,2,female,28.00,0,0,13.0000,S,Second,woman,False,NaN,Southampton,yes,True
636,0,3,male,32.00,0,0,7.9250,S,Third,man,True,NaN,Southampton,no,True
640,0,3,male,20.00,0,0,7.8542,S,Third,man,True,NaN,Southampton,no,True
641,1,1,female,24.00,0,0,69.3000,C,First,woman,False,B,Cherbourg,yes,True
644,1,3,female,0.75,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
646,0,3,male,19.00,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
650,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
656,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
666,0,2,male,25.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
674,0,2,male,NaN,0,0,0.0000,S,Second,man,True,NaN,Southampton,no,True
692,1,3,male,NaN,0,0,56.4958,S,Third,man,True,NaN,Southampton,yes,True
696,0,3,male,44.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
709,1,3,male,NaN,1,1,15.2458,C,Third,man,True,NaN,Cherbourg,yes,False
732,0,2,male,NaN,0,0,0.0000,S,Second,man,True,NaN,Southampton,no,True
733,0,2,male,23.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
734,0,2,male,23.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
738,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
739,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
757,0,2,male,18.00,0,0,11.5000,S,Second,man,True,NaN,Southampton,no,True
758,0,3,male,34.00,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
760,0,3,male,NaN,0,0,14.5000,S,Third,man,True,NaN,Southampton,no,True
773,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
790,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
792,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
800,0,2,male,34.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
808,0,2,male,39.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
832,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
837,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
838,1,3,male,32.00,0,0,56.4958,S,Third,man,True,NaN,Southampton,yes,True
844,0,3,male,17.00,0,0,8.6625,S,Third,man,True,NaN,Southampton,no,True
846,0,3,male,NaN,8,2,69.5500,S,Third,man,True,NaN,Southampton,no,False
859,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
863,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
870,0,3,male,26.00,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
877,0,3,male,19.00,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
878,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
884,0,3,male,25.00,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
886,0,2,male,27.00,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True

In [67]:
titanic.loc[titanic['age'].isnull and titanic['fare'] == 7.7500]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
32,1,3,female,NaN,0,0,7.75,Q,Third,woman,False,NaN,Queenstown,yes,True
47,1,3,female,NaN,0,0,7.75,Q,Third,woman,False,NaN,Queenstown,yes,True
116,0,3,male,70.5,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True
126,0,3,male,NaN,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True
141,1,3,female,22.0,0,0,7.75,S,Third,woman,False,NaN,Southampton,yes,True
196,0,3,male,NaN,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True
198,1,3,female,NaN,0,0,7.75,Q,Third,woman,False,NaN,Queenstown,yes,True
208,1,3,female,16.0,0,0,7.75,Q,Third,woman,False,NaN,Queenstown,yes,True
214,0,3,male,NaN,1,0,7.75,Q,Third,man,True,NaN,Queenstown,no,False
260,0,3,male,NaN,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True
264,0,3,female,NaN,0,0,7.75,Q,Third,woman,False,NaN,Queenstown,no,True
274,1,3,female,NaN,0,0,7.75,Q,Third,woman,False,NaN,Queenstown,yes,True
276,0,3,female,45.0,0,0,7.75,S,Third,woman,False,NaN,Southampton,no,True
280,0,3,male,65.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True
289,1,3,female,22.0,0,0,7.75,Q,Third,woman,False,NaN,Queenstown,yes,True
300,1,3,female,NaN,0,0,7.75,Q,Third,woman,False,NaN,Queenstown,yes,True
368,1,3,female,NaN,0,0,7.75,Q,Third,woman,False,NaN,Queenstown,yes,True
406,0,3,male,51.0,0,0,7.75,S,Third,man,True,NaN,Southampton,no,True
428,0,3,male,NaN,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True
459,0,3,male,NaN,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True
501,0,3,female,21.0,0,0,7.75,Q,Third,woman,False,NaN,Queenstown,no,True
510,1,3,male,29.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,yes,True
525,0,3,male,40.5,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True
560,0,3,male,NaN,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True
573,1,3,female,NaN,0,0,7.75,Q,Third,woman,False,NaN,Queenstown,yes,True
593,0,3,female,NaN,0,2,7.75,Q,Third,woman,False,NaN,Queenstown,no,False
613,0,3,male,NaN,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True
749,0,3,male,31.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True
767,0,3,female,30.5,0,0,7.75,Q,Third,woman,False,NaN,Queenstown,no,True
775,0,3,male,18.0,0,0,7.75,S,Third,man,True,NaN,Southampton,no,True
776,0,3,male,NaN,0,0,7.75,Q,Third,man,True,F,Queenstown,no,True
790,0,3,male,NaN,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True
828,1,3,male,NaN,0,0,7.75,Q,Third,man,True,NaN,Queenstown,yes,True
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True

Due to the dataframe, not having a real-life primary key, such as a full name column, it is tricky to determine whether these are true duplicates. It is entirely likely that mistakes were made in collecting these data, and that the different passenger information was collected from several different sources made a long time ago, which themselves contained duplicates. The duplicated rows could possibly included because the original data collectors didn't know themselves what to do with them.

In our case, I think we will be better off removing these duplicate values seeing as they could potentially remove some NaN values as well.

In [73]:
titanic_droppeddupes_cleaned = titanic_clean.drop_duplicates()
# Simpler variable name to indicate cleaned DF
titanic_dc = titanic_droppeddupes_cleaned
titanic_dc

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.00,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.00,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.00,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.00,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,Queenstown,no,True
6,0,1,male,54.00,0,0,51.8625,S,First,man,True,Southampton,no,True
7,0,3,male,2.00,3,1,21.0750,S,Third,child,False,Southampton,no,False
8,1,3,female,27.00,0,2,11.1333,S,Third,woman,False,Southampton,yes,False
9,1,2,female,14.00,1,0,30.0708,C,Second,child,False,Cherbourg,yes,False
10,1,3,female,4.00,1,1,16.7000,S,Third,child,False,Southampton,yes,False
11,1,1,female,58.00,0,0,26.5500,S,First,woman,False,Southampton,yes,True
12,0,3,male,20.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
13,0,3,male,39.00,1,5,31.2750,S,Third,man,True,Southampton,no,False
14,0,3,female,14.00,0,0,7.8542,S,Third,child,False,Southampton,no,True
15,1,2,female,55.00,0,0,16.0000,S,Second,woman,False,Southampton,yes,True
16,0,3,male,2.00,4,1,29.1250,Q,Third,child,False,Queenstown,no,False
17,1,2,male,NaN,0,0,13.0000,S,Second,man,True,Southampton,yes,True
18,0,3,female,31.00,1,0,18.0000,S,Third,woman,False,Southampton,no,False
19,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,Cherbourg,yes,True
20,0,2,male,35.00,0,0,26.0000,S,Second,man,True,Southampton,no,True
21,1,2,male,34.00,0,0,13.0000,S,Second,man,True,Southampton,yes,True
22,1,3,female,15.00,0,0,8.0292,Q,Third,child,False,Queenstown,yes,True
23,1,1,male,28.00,0,0,35.5000,S,First,man,True,Southampton,yes,True
24,0,3,female,8.00,3,1,21.0750,S,Third,child,False,Southampton,no,False
25,1,3,female,38.00,1,5,31.3875,S,Third,woman,False,Southampton,yes,False
26,0,3,male,NaN,0,0,7.2250,C,Third,man,True,Cherbourg,no,True
27,0,1,male,19.00,3,2,263.0000,S,First,man,True,Southampton,no,False
28,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,Queenstown,yes,True
29,0,3,male,NaN,0,0,7.8958,S,Third,man,True,Southampton,no,True
30,0,1,male,40.00,0,0,27.7208,C,First,man,True,Cherbourg,no,True
31,1,1,female,NaN,1,0,146.5208,C,First,woman,False,Cherbourg,yes,False
32,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,Queenstown,yes,True
33,0,2,male,66.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
34,0,1,male,28.00,1,0,82.1708,C,First,man,True,Cherbourg,no,False
35,0,1,male,42.00,1,0,52.0000,S,First,man,True,Southampton,no,False
36,1,3,male,NaN,0,0,7.2292,C,Third,man,True,Cherbourg,yes,True
37,0,3,male,21.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
38,0,3,female,18.00,2,0,18.0000,S,Third,woman,False,Southampton,no,False
39,1,3,female,14.00,1,0,11.2417,C,Third,child,False,Cherbourg,yes,False
40,0,3,female,40.00,1,0,9.4750,S,Third,woman,False,Southampton,no,False
41,0,2,female,27.00,1,0,21.0000,S,Second,woman,False,Southampton,no,False
42,0,3,male,NaN,0,0,7.8958,C,Third,man,True,Cherbourg,no,True
43,1,2,female,3.00,1,2,41.5792,C,Second,child,False,Cherbourg,yes,False
44,1,3,female,19.00,0,0,7.8792,Q,Third,woman,False,Queenstown,yes,True
45,0,3,male,NaN,0,0,8.0500,S,Third,man,True,Southampton,no,True
46,0,3,male,NaN,1,0,15.5000,Q,Third,man,True,Queenstown,no,False
48,0,3,male,NaN,2,0,21.6792,C,Third,man,True,Cherbourg,no,False
49,0,3,female,18.00,1,0,17.8000,S,Third,woman,False,Southampton,no,False
50,0,3,male,7.00,4,1,39.6875,S,Third,child,False,Southampton,no,False
51,0,3,male,21.00,0,0,7.8000,S,Third,man,True,Southampton,no,True
52,1,1,female,49.00,1,0,76.7292,C,First,woman,False,Cherbourg,yes,False
53,1,2,female,29.00,1,0,26.0000,S,Second,woman,False,Southampton,yes,False
54,0,1,male,65.00,0,1,61.9792,C,First,man,True,Cherbourg,no,False
55,1,1,male,NaN,0,0,35.5000,S,First,man,True,Southampton,yes,True
56,1,2,female,21.00,0,0,10.5000,S,Second,woman,False,Southampton,yes,True
57,0,3,male,28.50,0,0,7.2292,C,Third,man,True,Cherbourg,no,True
58,1,2,female,5.00,1,2,27.7500,S,Second,child,False,Southampton,yes,False
59,0,3,male,11.00,5,2,46.9000,S,Third,child,False,Southampton,no,False
60,0,3,male,22.00,0,0,7.2292,C,Third,man,True,Cherbourg,no,True
61,1,1,female,38.00,0,0,80.0000,NaN,First,woman,False,NaN,yes,True
62,0,1,male,45.00,1,0,83.4750,S,First,man,True,Southampton,no,False
63,0,3,male,4.00,3,2,27.9000,S,Third,child,False,Southampton,no,False
64,0,1,male,NaN,0,0,27.7208,C,First,man,True,Cherbourg,no,True
65,1,3,male,NaN,1,1,15.2458,C,Third,man,True,Cherbourg,yes,False
66,1,2,female,29.00,0,0,10.5000,S,Second,woman,False,Southampton,yes,True
67,0,3,male,19.00,0,0,8.1583,S,Third,man,True,Southampton,no,True
68,1,3,female,17.00,4,2,7.9250,S,Third,woman,False,Southampton,yes,False
69,0,3,male,26.00,2,0,8.6625,S,Third,man,True,Southampton,no,False
70,0,2,male,32.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
71,0,3,female,16.00,5,2,46.9000,S,Third,woman,False,Southampton,no,False
72,0,2,male,21.00,0,0,73.5000,S,Second,man,True,Southampton,no,True
73,0,3,male,26.00,1,0,14.4542,C,Third,man,True,Cherbourg,no,False
74,1,3,male,32.00,0,0,56.4958,S,Third,man,True,Southampton,yes,True
75,0,3,male,25.00,0,0,7.6500,S,Third,man,True,Southampton,no,True
78,1,2,male,0.83,0,2,29.0000,S,Second,child,False,Southampton,yes,False
79,1,3,female,30.00,0,0,12.4750,S,Third,woman,False,Southampton,yes,True
80,0,3,male,22.00,0,0,9.0000,S,Third,man,True,Southampton,no,True
81,1,3,male,29.00,0,0,9.5000,S,Third,man,True,Southampton,yes,True
82,1,3,female,NaN,0,0,7.7875,Q,Third,woman,False,Queenstown,yes,True
83,0,1,male,28.00,0,0,47.1000,S,First,man,True,Southampton,no,True
84,1,2,female,17.00,0,0,10.5000,S,Second,woman,False,Southampton,yes,True
85,1,3,female,33.00,3,0,15.8500,S,Third,woman,False,Southampton,yes,False
86,0,3,male,16.00,1,3,34.3750,S,Third,man,True,Southampton,no,False
88,1,1,female,23.00,3,2,263.0000,S,First,woman,False,Southampton,yes,False
89,0,3,male,24.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
90,0,3,male,29.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
91,0,3,male,20.00,0,0,7.8542,S,Third,man,True,Southampton,no,True
92,0,1,male,46.00,1,0,61.1750,S,First,man,True,Southampton,no,False
93,0,3,male,26.00,1,2,20.5750,S,Third,man,True,Southampton,no,False
94,0,3,male,59.00,0,0,7.2500,S,Third,man,True,Southampton,no,True
96,0,1,male,71.00,0,0,34.6542,C,First,man,True,Cherbourg,no,True
97,1,1,male,23.00,0,1,63.3583,C,First,man,True,Cherbourg,yes,False
98,1,2,female,34.00,0,1,23.0000,S,Second,woman,False,Southampton,yes,False
99,0,2,male,34.00,1,0,26.0000,S,Second,man,True,Southampton,no,False
100,0,3,female,28.00,0,0,7.8958,S,Third,woman,False,Southampton,no,True
102,0,1,male,21.00,0,1,77.2875,S,First,man,True,Southampton,no,False
103,0,3,male,33.00,0,0,8.6542,S,Third,man,True,Southampton,no,True
104,0,3,male,37.00,2,0,7.9250,S,Third,man,True,Southampton,no,False
105,0,3,male,28.00,0,0,7.8958,S,Third,man,True,Southampton,no,True
106,1,3,female,21.00,0,0,7.6500,S,Third,woman,False,Southampton,yes,True
107,1,3,male,NaN,0,0,7.7750,S,Third,man,True,Southampton,yes,True
108,0,3,male,38.00,0,0,7.8958,S,Third,man,True,Southampton,no,True
109,1,3,female,NaN,1,0,24.1500,Q,Third,woman,False,Queenstown,yes,False
110,0,1,male,47.00,0,0,52.0000,S,First,man,True,Southampton,no,True
111,0,3,female,14.50,1,0,14.4542,C,Third,child,False,Cherbourg,no,False
112,0,3,male,22.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
113,0,3,female,20.00,1,0,9.8250,S,Third,woman,False,Southampton,no,False
114,0,3,female,17.00,0,0,14.4583,C,Third,woman,False,Cherbourg,no,True
115,0,3,male,21.00,0,0,7.9250,S,Third,man,True,Southampton,no,True
116,0,3,male,70.50,0,0,7.7500,Q,Third,man,True,Queenstown,no,True
117,0,2,male,29.00,1,0,21.0000,S,Second,man,True,Southampton,no,False
118,0,1,male,24.00,0,1,247.5208,C,First,man,True,Cherbourg,no,False
119,0,3,female,2.00,4,2,31.2750,S,Third,child,False,Southampton,no,False
120,0,2,male,21.00,2,0,73.5000,S,Second,man,True,Southampton,no,False
122,0,2,male,32.50,1,0,30.0708,C,Second,man,True,Cherbourg,no,False
123,1,2,female,32.50,0,0,13.0000,S,Second,woman,False,Southampton,yes,True
124,0,1,male,54.00,0,1,77.2875,S,First,man,True,Southampton,no,False
125,1,3,male,12.00,1,0,11.2417,C,Third,child,False,Cherbourg,yes,False
126,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,Queenstown,no,True
127,1,3,male,24.00,0,0,7.1417,S,Third,man,True,Southampton,yes,True
128,1,3,female,NaN,1,1,22.3583,C,Third,woman,False,Cherbourg,yes,False
129,0,3,male,45.00,0,0,6.9750,S,Third,man,True,Southampton,no,True
130,0,3,male,33.00,0,0,7.8958,C,Third,man,True,Cherbourg,no,True
131,0,3,male,20.00,0,0,7.0500,S,Third,man,True,Southampton,no,True
132,0,3,female,47.00,1,0,14.5000,S,Third,woman,False,Southampton,no,False
134,0,2,male,25.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
135,0,2,male,23.00,0,0,15.0458,C,Second,man,True,Cherbourg,no,True
136,1,1,female,19.00,0,2,26.2833,S,First,woman,False,Southampton,yes,False
137,0,1,male,37.00,1,0,53.1000,S,First,man,True,Southampton,no,False
138,0,3,male,16.00,0,0,9.2167,S,Third,man,True,Southampton,no,True
139,0,1,male,24.00,0,0,79.2000,C,First,man,True,Cherbourg,no,True
140,0,3,female,NaN,0,2,15.2458,C,Third,woman,False,Cherbourg,no,False
141,1,3,female,22.00,0,0,7.7500,S,Third,woman,False,Southampton,yes,True
142,1,3,female,24.00,1,0,15.8500,S,Third,woman,False,Southampton,yes,False
143,0,3,male,19.00,0,0,6.7500,Q,Third,man,True,Queenstown,no,True
144,0,2,male,18.00,0,0,11.5000,S,Second,man,True,Southampton,no,True
145,0,2,male,19.00,1,1,36.7500,S,Second,man,True,Southampton,no,False
146,1,3,male,27.00,0,0,7.7958,S,Third,man,True,Southampton,yes,True
147,0,3,female,9.00,2,2,34.3750,S,Third,child,False,Southampton,no,False
148,0,2,male,36.50,0,2,26.0000,S,Second,man,True,Southampton,no,False
149,0,2,male,42.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
150,0,2,male,51.00,0,0,12.5250,S,Second,man,True,Southampton,no,True
151,1,1,female,22.00,1,0,66.6000,S,First,woman,False,Southampton,yes,False
152,0,3,male,55.50,0,0,8.0500,S,Third,man,True,Southampton,no,True
153,0,3,male,40.50,0,2,14.5000,S,Third,man,True,Southampton,no,False
154,0,3,male,NaN,0,0,7.3125,S,Third,man,True,Southampton,no,True
155,0,1,male,51.00,0,1,61.3792,C,First,man,True,Cherbourg,no,False
156,1,3,female,16.00,0,0,7.7333,Q,Third,woman,False,Queenstown,yes,True
157,0,3,male,30.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
158,0,3,male,NaN,0,0,8.6625,S,Third,man,True,Southampton,no,True
159,0,3,male,NaN,8,2,69.5500,S,Third,man,True,Southampton,no,False
160,0,3,male,44.00,0,1,16.1000,S,Third,man,True,Southampton,no,False
161,1,2,female,40.00,0,0,15.7500,S,Second,woman,False,Southampton,yes,True
162,0,3,male,26.00,0,0,7.7750,S,Third,man,True,Southampton,no,True
163,0,3,male,17.00,0,0,8.6625,S,Third,man,True,Southampton,no,True
164,0,3,male,1.00,4,1,39.6875,S,Third,child,False,Southampton,no,False
165,1,3,male,9.00,0,2,20.5250,S,Third,child,False,Southampton,yes,False
166,1,1,female,NaN,0,1,55.0000,S,First,woman,False,Southampton,yes,False
167,0,3,female,45.00,1,4,27.9000,S,Third,woman,False,Southampton,no,False
168,0,1,male,NaN,0,0,25.9250,S,First,man,True,Southampton,no,True
169,0,3,male,28.00,0,0,56.4958,S,Third,man,True,Southampton,no,True
170,0,1,male,61.00,0,0,33.5000,S,First,man,True,Southampton,no,True
171,0,3,male,4.00,4,1,29.1250,Q,Third,child,False,Queenstown,no,False
172,1,3,female,1.00,1,1,11.1333,S,Third,child,False,Southampton,yes,False
174,0,1,male,56.00,0,0,30.6958,C,First,man,True,Cherbourg,no,True
175,0,3,male,18.00,1,1,7.8542,S,Third,man,True,Southampton,no,False
176,0,3,male,NaN,3,1,25.4667,S,Third,man,True,Southampton,no,False
177,0,1,female,50.00,0,0,28.7125,C,First,woman,False,Cherbourg,no,True
178,0,2,male,30.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
179,0,3,male,36.00,0,0,0.0000,S,Third,man,True,Southampton,no,True
180,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,Southampton,no,False
181,0,2,male,NaN,0,0,15.0500,C,Second,man,True,Cherbourg,no,True
182,0,3,male,9.00,4,2,31.3875,S,Third,child,False,Southampton,no,False
183,1,2,male,1.00,2,1,39.0000,S,Second,child,False,Southampton,yes,False
184,1,3,female,4.00,0,2,22.0250,S,Third,child,False,Southampton,yes,False
185,0,1,male,NaN,0,0,50.0000,S,First,man,True,Southampton,no,True
186,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,Queenstown,yes,False
187,1,1,male,45.00,0,0,26.5500,S,First,man,True,Southampton,yes,True
188,0,3,male,40.00,1,1,15.5000,Q,Third,man,True,Queenstown,no,False
189,0,3,male,36.00,0,0,7.8958,S,Third,man,True,Southampton,no,True
190,1,2,female,32.00,0,0,13.0000,S,Second,woman,False,Southampton,yes,True
191,0,2,male,19.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
192,1,3,female,19.00,1,0,7.8542,S,Third,woman,False,Southampton,yes,False
193,1,2,male,3.00,1,1,26.0000,S,Second,child,False,Southampton,yes,False
194,1,1,female,44.00,0,0,27.7208,C,First,woman,False,Cherbourg,yes,True
195,1,1,female,58.00,0,0,146.5208,C,First,woman,False,Cherbourg,yes,True
197,0,3,male,42.00,0,1,8.4042,S,Third,man,True,Southampton,no,False
199,0,2,female,24.00,0,0,13.0000,S,Second,woman,False,Southampton,no,True
200,0,3,male,28.00,0,0,9.5000,S,Third,man,True,Southampton,no,True
202,0,3,male,34.00,0,0,6.4958,S,Third,man,True,Southampton,no,True
203,0,3,male,45.50,0,0,7.2250,C,Third,man,True,Cherbourg,no,True
204,1,3,male,18.00,0,0,8.0500,S,Third,man,True,Southampton,yes,True
205,0,3,female,2.00,0,1,10.4625,S,Third,child,False,Southampton,no,False
206,0,3,male,32.00,1,0,15.8500,S,Third,man,True,Southampton,no,False
207,1,3,male,26.00,0,0,18.7875,C,Third,man,True,Cherbourg,yes,True
208,1,3,female,16.00,0,0,7.7500,Q,Third,woman,False,Queenstown,yes,True
209,1,1,male,40.00,0,0,31.0000,C,First,man,True,Cherbourg,yes,True
210,0,3,male,24.00,0,0,7.0500,S,Third,man,True,Southampton,no,True
211,1,2,female,35.00,0,0,21.0000,S,Second,woman,False,Southampton,yes,True
212,0,3,male,22.00,0,0,7.2500,S,Third,man,True,Southampton,no,True
214,0,3,male,NaN,1,0,7.7500,Q,Third,man,True,Queenstown,no,False
215,1,1,female,31.00,1,0,113.2750,C,First,woman,False,Cherbourg,yes,False
216,1,3,female,27.00,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
217,0,2,male,42.00,1,0,27.0000,S,Second,man,True,Southampton,no,False
218,1,1,female,32.00,0,0,76.2917,C,First,woman,False,Cherbourg,yes,True
219,0,2,male,30.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
220,1,3,male,16.00,0,0,8.0500,S,Third,man,True,Southampton,yes,True
221,0,2,male,27.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
222,0,3,male,51.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
224,1,1,male,38.00,1,0,90.0000,S,First,man,True,Southampton,yes,False
225,0,3,male,22.00,0,0,9.3500,S,Third,man,True,Southampton,no,True
226,1,2,male,19.00,0,0,10.5000,S,Second,man,True,Southampton,yes,True
227,0,3,male,20.50,0,0,7.2500,S,Third,man,True,Southampton,no,True
228,0,2,male,18.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
229,0,3,female,NaN,3,1,25.4667,S,Third,woman,False,Southampton,no,False
230,1,1,female,35.00,1,0,83.4750,S,First,woman,False,Southampton,yes,False
231,0,3,male,29.00,0,0,7.7750,S,Third,man,True,Southampton,no,True
232,0,2,male,59.00,0,0,13.5000,S,Second,man,True,Southampton,no,True
233,1,3,female,5.00,4,2,31.3875,S,Third,child,False,Southampton,yes,False
234,0,2,male,24.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
235,0,3,female,NaN,0,0,7.5500,S,Third,woman,False,Southampton,no,True
236,0,2,male,44.00,1,0,26.0000,S,Second,man,True,Southampton,no,False
237,1,2,female,8.00,0,2,26.2500,S,Second,child,False,Southampton,yes,False
238,0,2,male,19.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
239,0,2,male,33.00,0,0,12.2750,S,Second,man,True,Southampton,no,True
240,0,3,female,NaN,1,0,14.4542,C,Third,woman,False,Cherbourg,no,False
242,0,2,male,29.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
243,0,3,male,22.00,0,0,7.1250,S,Third,man,True,Southampton,no,True
244,0,3,male,30.00,0,0,7.2250,C,Third,man,True,Cherbourg,no,True
245,0,1,male,44.00,2,0,90.0000,Q,First,man,True,Queenstown,no,False
246,0,3,female,25.00,0,0,7.7750,S,Third,woman,False,Southampton,no,True
247,1,2,female,24.00,0,2,14.5000,S,Second,woman,False,Southampton,yes,False
248,1,1,male,37.00,1,1,52.5542,S,First,man,True,Southampton,yes,False
249,0,2,male,54.00,1,0,26.0000,S,Second,man,True,Southampton,no,False
250,0,3,male,NaN,0,0,7.2500,S,Third,man,True,Southampton,no,True
251,0,3,female,29.00,1,1,10.4625,S,Third,woman,False,Southampton,no,False
252,0,1,male,62.00,0,0,26.5500,S,First,man,True,Southampton,no,True
253,0,3,male,30.00,1,0,16.1000,S,Third,man,True,Southampton,no,False
254,0,3,female,41.00,0,2,20.2125,S,Third,woman,False,Southampton,no,False
255,1,3,female,29.00,0,2,15.2458,C,Third,woman,False,Cherbourg,yes,False
256,1,1,female,NaN,0,0,79.2000,C,First,woman,False,Cherbourg,yes,True
257,1,1,female,30.00,0,0,86.5000,S,First,woman,False,Southampton,yes,True
258,1,1,female,35.00,0,0,512.3292,C,First,woman,False,Cherbourg,yes,True
259,1,2,female,50.00,0,1,26.0000,S,Second,woman,False,Southampton,yes,False
261,1,3,male,3.00,4,2,31.3875,S,Third,child,False,Southampton,yes,False
262,0,1,male,52.00,1,1,79.6500,S,First,man,True,Southampton,no,False
263,0,1,male,40.00,0,0,0.0000,S,First,man,True,Southampton,no,True
264,0,3,female,NaN,0,0,7.7500,Q,Third,woman,False,Queenstown,no,True
265,0,2,male,36.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
266,0,3,male,16.00,4,1,39.6875,S,Third,man,True,Southampton,no,False
267,1,3,male,25.00,1,0,7.7750,S,Third,man,True,Southampton,yes,False
268,1,1,female,58.00,0,1,153.4625,S,First,woman,False,Southampton,yes,False
269,1,1,female,35.00,0,0,135.6333,S,First,woman,False,Southampton,yes,True
270,0,1,male,NaN,0,0,31.0000,S,First,man,True,Southampton,no,True
271,1,3,male,25.00,0,0,0.0000,S,Third,man,True,Southampton,yes,True
272,1,2,female,41.00,0,1,19.5000,S,Second,woman,False,Southampton,yes,False
273,0,1,male,37.00,0,1,29.7000,C,First,man,True,Cherbourg,no,False
275,1,1,female,63.00,1,0,77.9583,S,First,woman,False,Southampton,yes,False
276,0,3,female,45.00,0,0,7.7500,S,Third,woman,False,Southampton,no,True
277,0,2,male,NaN,0,0,0.0000,S,Second,man,True,Southampton,no,True
278,0,3,male,7.00,4,1,29.1250,Q,Third,child,False,Queenstown,no,False
279,1,3,female,35.00,1,1,20.2500,S,Third,woman,False,Southampton,yes,False
280,0,3,male,65.00,0,0,7.7500,Q,Third,man,True,Queenstown,no,True
281,0,3,male,28.00,0,0,7.8542,S,Third,man,True,Southampton,no,True
282,0,3,male,16.00,0,0,9.5000,S,Third,man,True,Southampton,no,True
283,1,3,male,19.00,0,0,8.0500,S,Third,man,True,Southampton,yes,True
284,0,1,male,NaN,0,0,26.0000,S,First,man,True,Southampton,no,True
285,0,3,male,33.00,0,0,8.6625,C,Third,man,True,Cherbourg,no,True
286,1,3,male,30.00,0,0,9.5000,S,Third,man,True,Southampton,yes,True
287,0,3,male,22.00,0,0,7.8958,S,Third,man,True,Southampton,no,True
288,1,2,male,42.00,0,0,13.0000,S,Second,man,True,Southampton,yes,True
289,1,3,female,22.00,0,0,7.7500,Q,Third,woman,False,Queenstown,yes,True
290,1,1,female,26.00,0,0,78.8500,S,First,woman,False,Southampton,yes,True
291,1,1,female,19.00,1,0,91.0792,C,First,woman,False,Cherbourg,yes,False
292,0,2,male,36.00,0,0,12.8750,C,Second,man,True,Cherbourg,no,True
293,0,3,female,24.00,0,0,8.8500,S,Third,woman,False,Southampton,no,True
294,0,3,male,24.00,0,0,7.8958,S,Third,man,True,Southampton,no,True
296,0,3,male,23.50,0,0,7.2292,C,Third,man,True,Cherbourg,no,True
297,0,1,female,2.00,1,2,151.5500,S,First,child,False,Southampton,no,False
298,1,1,male,NaN,0,0,30.5000,S,First,man,True,Southampton,yes,True
299,1,1,female,50.00,0,1,247.5208,C,First,woman,False,Cherbourg,yes,False
301,1,3,male,NaN,2,0,23.2500,Q,Third,man,True,Queenstown,yes,False
302,0,3,male,19.00,0,0,0.0000,S,Third,man,True,Southampton,no,True
303,1,2,female,NaN,0,0,12.3500,Q,Second,woman,False,Queenstown,yes,True
305,1,1,male,0.92,1,2,151.5500,S,First,child,False,Southampton,yes,False

## Renaming Columns

It is common practice to name boolean columns something starting with 'is...'. Therefore, we could rename the columns 'adult_male' and 'alone' to 'is_adultmale' and 'is_alone' respectively. We will leave survived be as there is no option that makes grammatical sense, and this is mainly just a formality to indicate the column's data type easier.

In [74]:
# titanic_dc = titanic_dc.rename(columns = {'adult_male': 'is_adultmale', 'alone': 'is_alone'})

In [75]:
titanic_dc

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,is_adultmale,embark_town,alive,is_alone
0,0,3,male,22.00,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.00,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.00,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.00,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,Queenstown,no,True
6,0,1,male,54.00,0,0,51.8625,S,First,man,True,Southampton,no,True
7,0,3,male,2.00,3,1,21.0750,S,Third,child,False,Southampton,no,False
8,1,3,female,27.00,0,2,11.1333,S,Third,woman,False,Southampton,yes,False
9,1,2,female,14.00,1,0,30.0708,C,Second,child,False,Cherbourg,yes,False
10,1,3,female,4.00,1,1,16.7000,S,Third,child,False,Southampton,yes,False
11,1,1,female,58.00,0,0,26.5500,S,First,woman,False,Southampton,yes,True
12,0,3,male,20.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
13,0,3,male,39.00,1,5,31.2750,S,Third,man,True,Southampton,no,False
14,0,3,female,14.00,0,0,7.8542,S,Third,child,False,Southampton,no,True
15,1,2,female,55.00,0,0,16.0000,S,Second,woman,False,Southampton,yes,True
16,0,3,male,2.00,4,1,29.1250,Q,Third,child,False,Queenstown,no,False
17,1,2,male,NaN,0,0,13.0000,S,Second,man,True,Southampton,yes,True
18,0,3,female,31.00,1,0,18.0000,S,Third,woman,False,Southampton,no,False
19,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,Cherbourg,yes,True
20,0,2,male,35.00,0,0,26.0000,S,Second,man,True,Southampton,no,True
21,1,2,male,34.00,0,0,13.0000,S,Second,man,True,Southampton,yes,True
22,1,3,female,15.00,0,0,8.0292,Q,Third,child,False,Queenstown,yes,True
23,1,1,male,28.00,0,0,35.5000,S,First,man,True,Southampton,yes,True
24,0,3,female,8.00,3,1,21.0750,S,Third,child,False,Southampton,no,False
25,1,3,female,38.00,1,5,31.3875,S,Third,woman,False,Southampton,yes,False
26,0,3,male,NaN,0,0,7.2250,C,Third,man,True,Cherbourg,no,True
27,0,1,male,19.00,3,2,263.0000,S,First,man,True,Southampton,no,False
28,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,Queenstown,yes,True
29,0,3,male,NaN,0,0,7.8958,S,Third,man,True,Southampton,no,True
30,0,1,male,40.00,0,0,27.7208,C,First,man,True,Cherbourg,no,True
31,1,1,female,NaN,1,0,146.5208,C,First,woman,False,Cherbourg,yes,False
32,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,Queenstown,yes,True
33,0,2,male,66.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
34,0,1,male,28.00,1,0,82.1708,C,First,man,True,Cherbourg,no,False
35,0,1,male,42.00,1,0,52.0000,S,First,man,True,Southampton,no,False
36,1,3,male,NaN,0,0,7.2292,C,Third,man,True,Cherbourg,yes,True
37,0,3,male,21.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
38,0,3,female,18.00,2,0,18.0000,S,Third,woman,False,Southampton,no,False
39,1,3,female,14.00,1,0,11.2417,C,Third,child,False,Cherbourg,yes,False
40,0,3,female,40.00,1,0,9.4750,S,Third,woman,False,Southampton,no,False
41,0,2,female,27.00,1,0,21.0000,S,Second,woman,False,Southampton,no,False
42,0,3,male,NaN,0,0,7.8958,C,Third,man,True,Cherbourg,no,True
43,1,2,female,3.00,1,2,41.5792,C,Second,child,False,Cherbourg,yes,False
44,1,3,female,19.00,0,0,7.8792,Q,Third,woman,False,Queenstown,yes,True
45,0,3,male,NaN,0,0,8.0500,S,Third,man,True,Southampton,no,True
46,0,3,male,NaN,1,0,15.5000,Q,Third,man,True,Queenstown,no,False
48,0,3,male,NaN,2,0,21.6792,C,Third,man,True,Cherbourg,no,False
49,0,3,female,18.00,1,0,17.8000,S,Third,woman,False,Southampton,no,False
50,0,3,male,7.00,4,1,39.6875,S,Third,child,False,Southampton,no,False
51,0,3,male,21.00,0,0,7.8000,S,Third,man,True,Southampton,no,True
52,1,1,female,49.00,1,0,76.7292,C,First,woman,False,Cherbourg,yes,False
53,1,2,female,29.00,1,0,26.0000,S,Second,woman,False,Southampton,yes,False
54,0,1,male,65.00,0,1,61.9792,C,First,man,True,Cherbourg,no,False
55,1,1,male,NaN,0,0,35.5000,S,First,man,True,Southampton,yes,True
56,1,2,female,21.00,0,0,10.5000,S,Second,woman,False,Southampton,yes,True
57,0,3,male,28.50,0,0,7.2292,C,Third,man,True,Cherbourg,no,True
58,1,2,female,5.00,1,2,27.7500,S,Second,child,False,Southampton,yes,False
59,0,3,male,11.00,5,2,46.9000,S,Third,child,False,Southampton,no,False
60,0,3,male,22.00,0,0,7.2292,C,Third,man,True,Cherbourg,no,True
61,1,1,female,38.00,0,0,80.0000,NaN,First,woman,False,NaN,yes,True
62,0,1,male,45.00,1,0,83.4750,S,First,man,True,Southampton,no,False
63,0,3,male,4.00,3,2,27.9000,S,Third,child,False,Southampton,no,False
64,0,1,male,NaN,0,0,27.7208,C,First,man,True,Cherbourg,no,True
65,1,3,male,NaN,1,1,15.2458,C,Third,man,True,Cherbourg,yes,False
66,1,2,female,29.00,0,0,10.5000,S,Second,woman,False,Southampton,yes,True
67,0,3,male,19.00,0,0,8.1583,S,Third,man,True,Southampton,no,True
68,1,3,female,17.00,4,2,7.9250,S,Third,woman,False,Southampton,yes,False
69,0,3,male,26.00,2,0,8.6625,S,Third,man,True,Southampton,no,False
70,0,2,male,32.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
71,0,3,female,16.00,5,2,46.9000,S,Third,woman,False,Southampton,no,False
72,0,2,male,21.00,0,0,73.5000,S,Second,man,True,Southampton,no,True
73,0,3,male,26.00,1,0,14.4542,C,Third,man,True,Cherbourg,no,False
74,1,3,male,32.00,0,0,56.4958,S,Third,man,True,Southampton,yes,True
75,0,3,male,25.00,0,0,7.6500,S,Third,man,True,Southampton,no,True
78,1,2,male,0.83,0,2,29.0000,S,Second,child,False,Southampton,yes,False
79,1,3,female,30.00,0,0,12.4750,S,Third,woman,False,Southampton,yes,True
80,0,3,male,22.00,0,0,9.0000,S,Third,man,True,Southampton,no,True
81,1,3,male,29.00,0,0,9.5000,S,Third,man,True,Southampton,yes,True
82,1,3,female,NaN,0,0,7.7875,Q,Third,woman,False,Queenstown,yes,True
83,0,1,male,28.00,0,0,47.1000,S,First,man,True,Southampton,no,True
84,1,2,female,17.00,0,0,10.5000,S,Second,woman,False,Southampton,yes,True
85,1,3,female,33.00,3,0,15.8500,S,Third,woman,False,Southampton,yes,False
86,0,3,male,16.00,1,3,34.3750,S,Third,man,True,Southampton,no,False
88,1,1,female,23.00,3,2,263.0000,S,First,woman,False,Southampton,yes,False
89,0,3,male,24.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
90,0,3,male,29.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
91,0,3,male,20.00,0,0,7.8542,S,Third,man,True,Southampton,no,True
92,0,1,male,46.00,1,0,61.1750,S,First,man,True,Southampton,no,False
93,0,3,male,26.00,1,2,20.5750,S,Third,man,True,Southampton,no,False
94,0,3,male,59.00,0,0,7.2500,S,Third,man,True,Southampton,no,True
96,0,1,male,71.00,0,0,34.6542,C,First,man,True,Cherbourg,no,True
97,1,1,male,23.00,0,1,63.3583,C,First,man,True,Cherbourg,yes,False
98,1,2,female,34.00,0,1,23.0000,S,Second,woman,False,Southampton,yes,False
99,0,2,male,34.00,1,0,26.0000,S,Second,man,True,Southampton,no,False
100,0,3,female,28.00,0,0,7.8958,S,Third,woman,False,Southampton,no,True
102,0,1,male,21.00,0,1,77.2875,S,First,man,True,Southampton,no,False
103,0,3,male,33.00,0,0,8.6542,S,Third,man,True,Southampton,no,True
104,0,3,male,37.00,2,0,7.9250,S,Third,man,True,Southampton,no,False
105,0,3,male,28.00,0,0,7.8958,S,Third,man,True,Southampton,no,True
106,1,3,female,21.00,0,0,7.6500,S,Third,woman,False,Southampton,yes,True
107,1,3,male,NaN,0,0,7.7750,S,Third,man,True,Southampton,yes,True
108,0,3,male,38.00,0,0,7.8958,S,Third,man,True,Southampton,no,True
109,1,3,female,NaN,1,0,24.1500,Q,Third,woman,False,Queenstown,yes,False
110,0,1,male,47.00,0,0,52.0000,S,First,man,True,Southampton,no,True
111,0,3,female,14.50,1,0,14.4542,C,Third,child,False,Cherbourg,no,False
112,0,3,male,22.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
113,0,3,female,20.00,1,0,9.8250,S,Third,woman,False,Southampton,no,False
114,0,3,female,17.00,0,0,14.4583,C,Third,woman,False,Cherbourg,no,True
115,0,3,male,21.00,0,0,7.9250,S,Third,man,True,Southampton,no,True
116,0,3,male,70.50,0,0,7.7500,Q,Third,man,True,Queenstown,no,True
117,0,2,male,29.00,1,0,21.0000,S,Second,man,True,Southampton,no,False
118,0,1,male,24.00,0,1,247.5208,C,First,man,True,Cherbourg,no,False
119,0,3,female,2.00,4,2,31.2750,S,Third,child,False,Southampton,no,False
120,0,2,male,21.00,2,0,73.5000,S,Second,man,True,Southampton,no,False
122,0,2,male,32.50,1,0,30.0708,C,Second,man,True,Cherbourg,no,False
123,1,2,female,32.50,0,0,13.0000,S,Second,woman,False,Southampton,yes,True
124,0,1,male,54.00,0,1,77.2875,S,First,man,True,Southampton,no,False
125,1,3,male,12.00,1,0,11.2417,C,Third,child,False,Cherbourg,yes,False
126,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,Queenstown,no,True
127,1,3,male,24.00,0,0,7.1417,S,Third,man,True,Southampton,yes,True
128,1,3,female,NaN,1,1,22.3583,C,Third,woman,False,Cherbourg,yes,False
129,0,3,male,45.00,0,0,6.9750,S,Third,man,True,Southampton,no,True
130,0,3,male,33.00,0,0,7.8958,C,Third,man,True,Cherbourg,no,True
131,0,3,male,20.00,0,0,7.0500,S,Third,man,True,Southampton,no,True
132,0,3,female,47.00,1,0,14.5000,S,Third,woman,False,Southampton,no,False
134,0,2,male,25.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
135,0,2,male,23.00,0,0,15.0458,C,Second,man,True,Cherbourg,no,True
136,1,1,female,19.00,0,2,26.2833,S,First,woman,False,Southampton,yes,False
137,0,1,male,37.00,1,0,53.1000,S,First,man,True,Southampton,no,False
138,0,3,male,16.00,0,0,9.2167,S,Third,man,True,Southampton,no,True
139,0,1,male,24.00,0,0,79.2000,C,First,man,True,Cherbourg,no,True
140,0,3,female,NaN,0,2,15.2458,C,Third,woman,False,Cherbourg,no,False
141,1,3,female,22.00,0,0,7.7500,S,Third,woman,False,Southampton,yes,True
142,1,3,female,24.00,1,0,15.8500,S,Third,woman,False,Southampton,yes,False
143,0,3,male,19.00,0,0,6.7500,Q,Third,man,True,Queenstown,no,True
144,0,2,male,18.00,0,0,11.5000,S,Second,man,True,Southampton,no,True
145,0,2,male,19.00,1,1,36.7500,S,Second,man,True,Southampton,no,False
146,1,3,male,27.00,0,0,7.7958,S,Third,man,True,Southampton,yes,True
147,0,3,female,9.00,2,2,34.3750,S,Third,child,False,Southampton,no,False
148,0,2,male,36.50,0,2,26.0000,S,Second,man,True,Southampton,no,False
149,0,2,male,42.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
150,0,2,male,51.00,0,0,12.5250,S,Second,man,True,Southampton,no,True
151,1,1,female,22.00,1,0,66.6000,S,First,woman,False,Southampton,yes,False
152,0,3,male,55.50,0,0,8.0500,S,Third,man,True,Southampton,no,True
153,0,3,male,40.50,0,2,14.5000,S,Third,man,True,Southampton,no,False
154,0,3,male,NaN,0,0,7.3125,S,Third,man,True,Southampton,no,True
155,0,1,male,51.00,0,1,61.3792,C,First,man,True,Cherbourg,no,False
156,1,3,female,16.00,0,0,7.7333,Q,Third,woman,False,Queenstown,yes,True
157,0,3,male,30.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
158,0,3,male,NaN,0,0,8.6625,S,Third,man,True,Southampton,no,True
159,0,3,male,NaN,8,2,69.5500,S,Third,man,True,Southampton,no,False
160,0,3,male,44.00,0,1,16.1000,S,Third,man,True,Southampton,no,False
161,1,2,female,40.00,0,0,15.7500,S,Second,woman,False,Southampton,yes,True
162,0,3,male,26.00,0,0,7.7750,S,Third,man,True,Southampton,no,True
163,0,3,male,17.00,0,0,8.6625,S,Third,man,True,Southampton,no,True
164,0,3,male,1.00,4,1,39.6875,S,Third,child,False,Southampton,no,False
165,1,3,male,9.00,0,2,20.5250,S,Third,child,False,Southampton,yes,False
166,1,1,female,NaN,0,1,55.0000,S,First,woman,False,Southampton,yes,False
167,0,3,female,45.00,1,4,27.9000,S,Third,woman,False,Southampton,no,False
168,0,1,male,NaN,0,0,25.9250,S,First,man,True,Southampton,no,True
169,0,3,male,28.00,0,0,56.4958,S,Third,man,True,Southampton,no,True
170,0,1,male,61.00,0,0,33.5000,S,First,man,True,Southampton,no,True
171,0,3,male,4.00,4,1,29.1250,Q,Third,child,False,Queenstown,no,False
172,1,3,female,1.00,1,1,11.1333,S,Third,child,False,Southampton,yes,False
174,0,1,male,56.00,0,0,30.6958,C,First,man,True,Cherbourg,no,True
175,0,3,male,18.00,1,1,7.8542,S,Third,man,True,Southampton,no,False
176,0,3,male,NaN,3,1,25.4667,S,Third,man,True,Southampton,no,False
177,0,1,female,50.00,0,0,28.7125,C,First,woman,False,Cherbourg,no,True
178,0,2,male,30.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
179,0,3,male,36.00,0,0,0.0000,S,Third,man,True,Southampton,no,True
180,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,Southampton,no,False
181,0,2,male,NaN,0,0,15.0500,C,Second,man,True,Cherbourg,no,True
182,0,3,male,9.00,4,2,31.3875,S,Third,child,False,Southampton,no,False
183,1,2,male,1.00,2,1,39.0000,S,Second,child,False,Southampton,yes,False
184,1,3,female,4.00,0,2,22.0250,S,Third,child,False,Southampton,yes,False
185,0,1,male,NaN,0,0,50.0000,S,First,man,True,Southampton,no,True
186,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,Queenstown,yes,False
187,1,1,male,45.00,0,0,26.5500,S,First,man,True,Southampton,yes,True
188,0,3,male,40.00,1,1,15.5000,Q,Third,man,True,Queenstown,no,False
189,0,3,male,36.00,0,0,7.8958,S,Third,man,True,Southampton,no,True
190,1,2,female,32.00,0,0,13.0000,S,Second,woman,False,Southampton,yes,True
191,0,2,male,19.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
192,1,3,female,19.00,1,0,7.8542,S,Third,woman,False,Southampton,yes,False
193,1,2,male,3.00,1,1,26.0000,S,Second,child,False,Southampton,yes,False
194,1,1,female,44.00,0,0,27.7208,C,First,woman,False,Cherbourg,yes,True
195,1,1,female,58.00,0,0,146.5208,C,First,woman,False,Cherbourg,yes,True
197,0,3,male,42.00,0,1,8.4042,S,Third,man,True,Southampton,no,False
199,0,2,female,24.00,0,0,13.0000,S,Second,woman,False,Southampton,no,True
200,0,3,male,28.00,0,0,9.5000,S,Third,man,True,Southampton,no,True
202,0,3,male,34.00,0,0,6.4958,S,Third,man,True,Southampton,no,True
203,0,3,male,45.50,0,0,7.2250,C,Third,man,True,Cherbourg,no,True
204,1,3,male,18.00,0,0,8.0500,S,Third,man,True,Southampton,yes,True
205,0,3,female,2.00,0,1,10.4625,S,Third,child,False,Southampton,no,False
206,0,3,male,32.00,1,0,15.8500,S,Third,man,True,Southampton,no,False
207,1,3,male,26.00,0,0,18.7875,C,Third,man,True,Cherbourg,yes,True
208,1,3,female,16.00,0,0,7.7500,Q,Third,woman,False,Queenstown,yes,True
209,1,1,male,40.00,0,0,31.0000,C,First,man,True,Cherbourg,yes,True
210,0,3,male,24.00,0,0,7.0500,S,Third,man,True,Southampton,no,True
211,1,2,female,35.00,0,0,21.0000,S,Second,woman,False,Southampton,yes,True
212,0,3,male,22.00,0,0,7.2500,S,Third,man,True,Southampton,no,True
214,0,3,male,NaN,1,0,7.7500,Q,Third,man,True,Queenstown,no,False
215,1,1,female,31.00,1,0,113.2750,C,First,woman,False,Cherbourg,yes,False
216,1,3,female,27.00,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
217,0,2,male,42.00,1,0,27.0000,S,Second,man,True,Southampton,no,False
218,1,1,female,32.00,0,0,76.2917,C,First,woman,False,Cherbourg,yes,True
219,0,2,male,30.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
220,1,3,male,16.00,0,0,8.0500,S,Third,man,True,Southampton,yes,True
221,0,2,male,27.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
222,0,3,male,51.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
224,1,1,male,38.00,1,0,90.0000,S,First,man,True,Southampton,yes,False
225,0,3,male,22.00,0,0,9.3500,S,Third,man,True,Southampton,no,True
226,1,2,male,19.00,0,0,10.5000,S,Second,man,True,Southampton,yes,True
227,0,3,male,20.50,0,0,7.2500,S,Third,man,True,Southampton,no,True
228,0,2,male,18.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
229,0,3,female,NaN,3,1,25.4667,S,Third,woman,False,Southampton,no,False
230,1,1,female,35.00,1,0,83.4750,S,First,woman,False,Southampton,yes,False
231,0,3,male,29.00,0,0,7.7750,S,Third,man,True,Southampton,no,True
232,0,2,male,59.00,0,0,13.5000,S,Second,man,True,Southampton,no,True
233,1,3,female,5.00,4,2,31.3875,S,Third,child,False,Southampton,yes,False
234,0,2,male,24.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
235,0,3,female,NaN,0,0,7.5500,S,Third,woman,False,Southampton,no,True
236,0,2,male,44.00,1,0,26.0000,S,Second,man,True,Southampton,no,False
237,1,2,female,8.00,0,2,26.2500,S,Second,child,False,Southampton,yes,False
238,0,2,male,19.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
239,0,2,male,33.00,0,0,12.2750,S,Second,man,True,Southampton,no,True
240,0,3,female,NaN,1,0,14.4542,C,Third,woman,False,Cherbourg,no,False
242,0,2,male,29.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
243,0,3,male,22.00,0,0,7.1250,S,Third,man,True,Southampton,no,True
244,0,3,male,30.00,0,0,7.2250,C,Third,man,True,Cherbourg,no,True
245,0,1,male,44.00,2,0,90.0000,Q,First,man,True,Queenstown,no,False
246,0,3,female,25.00,0,0,7.7750,S,Third,woman,False,Southampton,no,True
247,1,2,female,24.00,0,2,14.5000,S,Second,woman,False,Southampton,yes,False
248,1,1,male,37.00,1,1,52.5542,S,First,man,True,Southampton,yes,False
249,0,2,male,54.00,1,0,26.0000,S,Second,man,True,Southampton,no,False
250,0,3,male,NaN,0,0,7.2500,S,Third,man,True,Southampton,no,True
251,0,3,female,29.00,1,1,10.4625,S,Third,woman,False,Southampton,no,False
252,0,1,male,62.00,0,0,26.5500,S,First,man,True,Southampton,no,True
253,0,3,male,30.00,1,0,16.1000,S,Third,man,True,Southampton,no,False
254,0,3,female,41.00,0,2,20.2125,S,Third,woman,False,Southampton,no,False
255,1,3,female,29.00,0,2,15.2458,C,Third,woman,False,Cherbourg,yes,False
256,1,1,female,NaN,0,0,79.2000,C,First,woman,False,Cherbourg,yes,True
257,1,1,female,30.00,0,0,86.5000,S,First,woman,False,Southampton,yes,True
258,1,1,female,35.00,0,0,512.3292,C,First,woman,False,Cherbourg,yes,True
259,1,2,female,50.00,0,1,26.0000,S,Second,woman,False,Southampton,yes,False
261,1,3,male,3.00,4,2,31.3875,S,Third,child,False,Southampton,yes,False
262,0,1,male,52.00,1,1,79.6500,S,First,man,True,Southampton,no,False
263,0,1,male,40.00,0,0,0.0000,S,First,man,True,Southampton,no,True
264,0,3,female,NaN,0,0,7.7500,Q,Third,woman,False,Queenstown,no,True
265,0,2,male,36.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
266,0,3,male,16.00,4,1,39.6875,S,Third,man,True,Southampton,no,False
267,1,3,male,25.00,1,0,7.7750,S,Third,man,True,Southampton,yes,False
268,1,1,female,58.00,0,1,153.4625,S,First,woman,False,Southampton,yes,False
269,1,1,female,35.00,0,0,135.6333,S,First,woman,False,Southampton,yes,True
270,0,1,male,NaN,0,0,31.0000,S,First,man,True,Southampton,no,True
271,1,3,male,25.00,0,0,0.0000,S,Third,man,True,Southampton,yes,True
272,1,2,female,41.00,0,1,19.5000,S,Second,woman,False,Southampton,yes,False
273,0,1,male,37.00,0,1,29.7000,C,First,man,True,Cherbourg,no,False
275,1,1,female,63.00,1,0,77.9583,S,First,woman,False,Southampton,yes,False
276,0,3,female,45.00,0,0,7.7500,S,Third,woman,False,Southampton,no,True
277,0,2,male,NaN,0,0,0.0000,S,Second,man,True,Southampton,no,True
278,0,3,male,7.00,4,1,29.1250,Q,Third,child,False,Queenstown,no,False
279,1,3,female,35.00,1,1,20.2500,S,Third,woman,False,Southampton,yes,False
280,0,3,male,65.00,0,0,7.7500,Q,Third,man,True,Queenstown,no,True
281,0,3,male,28.00,0,0,7.8542,S,Third,man,True,Southampton,no,True
282,0,3,male,16.00,0,0,9.5000,S,Third,man,True,Southampton,no,True
283,1,3,male,19.00,0,0,8.0500,S,Third,man,True,Southampton,yes,True
284,0,1,male,NaN,0,0,26.0000,S,First,man,True,Southampton,no,True
285,0,3,male,33.00,0,0,8.6625,C,Third,man,True,Cherbourg,no,True
286,1,3,male,30.00,0,0,9.5000,S,Third,man,True,Southampton,yes,True
287,0,3,male,22.00,0,0,7.8958,S,Third,man,True,Southampton,no,True
288,1,2,male,42.00,0,0,13.0000,S,Second,man,True,Southampton,yes,True
289,1,3,female,22.00,0,0,7.7500,Q,Third,woman,False,Queenstown,yes,True
290,1,1,female,26.00,0,0,78.8500,S,First,woman,False,Southampton,yes,True
291,1,1,female,19.00,1,0,91.0792,C,First,woman,False,Cherbourg,yes,False
292,0,2,male,36.00,0,0,12.8750,C,Second,man,True,Cherbourg,no,True
293,0,3,female,24.00,0,0,8.8500,S,Third,woman,False,Southampton,no,True
294,0,3,male,24.00,0,0,7.8958,S,Third,man,True,Southampton,no,True
296,0,3,male,23.50,0,0,7.2292,C,Third,man,True,Cherbourg,no,True
297,0,1,female,2.00,1,2,151.5500,S,First,child,False,Southampton,no,False
298,1,1,male,NaN,0,0,30.5000,S,First,man,True,Southampton,yes,True
299,1,1,female,50.00,0,1,247.5208,C,First,woman,False,Cherbourg,yes,False
301,1,3,male,NaN,2,0,23.2500,Q,Third,man,True,Queenstown,yes,False
302,0,3,male,19.00,0,0,0.0000,S,Third,man,True,Southampton,no,True
303,1,2,female,NaN,0,0,12.3500,Q,Second,woman,False,Queenstown,yes,True
305,1,1,male,0.92,1,2,151.5500,S,First,child,False,Southampton,yes,False

Going from the data source at https://www.kaggle.com/c/titanic/data, perhaps we could rename 'pclass' (Ticket class), 'sibsp' (# of siblings / spouses aboard the Titanic), 'parch'	(# of parents / children aboard the Titanic) to 'ticket_class', 'siblings_spouses_no' and 'parents_children_no'.

In [76]:
#titanic_dc = titanic_dc.rename(columns = {'pclass': 'ticket_class', 'sibsp': 'sibling_spouse_no', 'parch': 'parent_children_no'})

In [77]:
titanic_dc

,survived,ticket_class,sex,age,sibling_spouse_no,parent_children_no,fare,embarked,class,who,is_adultmale,embark_town,alive,is_alone
0,0,3,male,22.00,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.00,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.00,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.00,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,Queenstown,no,True
6,0,1,male,54.00,0,0,51.8625,S,First,man,True,Southampton,no,True
7,0,3,male,2.00,3,1,21.0750,S,Third,child,False,Southampton,no,False
8,1,3,female,27.00,0,2,11.1333,S,Third,woman,False,Southampton,yes,False
9,1,2,female,14.00,1,0,30.0708,C,Second,child,False,Cherbourg,yes,False
10,1,3,female,4.00,1,1,16.7000,S,Third,child,False,Southampton,yes,False
11,1,1,female,58.00,0,0,26.5500,S,First,woman,False,Southampton,yes,True
12,0,3,male,20.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
13,0,3,male,39.00,1,5,31.2750,S,Third,man,True,Southampton,no,False
14,0,3,female,14.00,0,0,7.8542,S,Third,child,False,Southampton,no,True
15,1,2,female,55.00,0,0,16.0000,S,Second,woman,False,Southampton,yes,True
16,0,3,male,2.00,4,1,29.1250,Q,Third,child,False,Queenstown,no,False
17,1,2,male,NaN,0,0,13.0000,S,Second,man,True,Southampton,yes,True
18,0,3,female,31.00,1,0,18.0000,S,Third,woman,False,Southampton,no,False
19,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,Cherbourg,yes,True
20,0,2,male,35.00,0,0,26.0000,S,Second,man,True,Southampton,no,True
21,1,2,male,34.00,0,0,13.0000,S,Second,man,True,Southampton,yes,True
22,1,3,female,15.00,0,0,8.0292,Q,Third,child,False,Queenstown,yes,True
23,1,1,male,28.00,0,0,35.5000,S,First,man,True,Southampton,yes,True
24,0,3,female,8.00,3,1,21.0750,S,Third,child,False,Southampton,no,False
25,1,3,female,38.00,1,5,31.3875,S,Third,woman,False,Southampton,yes,False
26,0,3,male,NaN,0,0,7.2250,C,Third,man,True,Cherbourg,no,True
27,0,1,male,19.00,3,2,263.0000,S,First,man,True,Southampton,no,False
28,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,Queenstown,yes,True
29,0,3,male,NaN,0,0,7.8958,S,Third,man,True,Southampton,no,True
30,0,1,male,40.00,0,0,27.7208,C,First,man,True,Cherbourg,no,True
31,1,1,female,NaN,1,0,146.5208,C,First,woman,False,Cherbourg,yes,False
32,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,Queenstown,yes,True
33,0,2,male,66.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
34,0,1,male,28.00,1,0,82.1708,C,First,man,True,Cherbourg,no,False
35,0,1,male,42.00,1,0,52.0000,S,First,man,True,Southampton,no,False
36,1,3,male,NaN,0,0,7.2292,C,Third,man,True,Cherbourg,yes,True
37,0,3,male,21.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
38,0,3,female,18.00,2,0,18.0000,S,Third,woman,False,Southampton,no,False
39,1,3,female,14.00,1,0,11.2417,C,Third,child,False,Cherbourg,yes,False
40,0,3,female,40.00,1,0,9.4750,S,Third,woman,False,Southampton,no,False
41,0,2,female,27.00,1,0,21.0000,S,Second,woman,False,Southampton,no,False
42,0,3,male,NaN,0,0,7.8958,C,Third,man,True,Cherbourg,no,True
43,1,2,female,3.00,1,2,41.5792,C,Second,child,False,Cherbourg,yes,False
44,1,3,female,19.00,0,0,7.8792,Q,Third,woman,False,Queenstown,yes,True
45,0,3,male,NaN,0,0,8.0500,S,Third,man,True,Southampton,no,True
46,0,3,male,NaN,1,0,15.5000,Q,Third,man,True,Queenstown,no,False
48,0,3,male,NaN,2,0,21.6792,C,Third,man,True,Cherbourg,no,False
49,0,3,female,18.00,1,0,17.8000,S,Third,woman,False,Southampton,no,False
50,0,3,male,7.00,4,1,39.6875,S,Third,child,False,Southampton,no,False
51,0,3,male,21.00,0,0,7.8000,S,Third,man,True,Southampton,no,True
52,1,1,female,49.00,1,0,76.7292,C,First,woman,False,Cherbourg,yes,False
53,1,2,female,29.00,1,0,26.0000,S,Second,woman,False,Southampton,yes,False
54,0,1,male,65.00,0,1,61.9792,C,First,man,True,Cherbourg,no,False
55,1,1,male,NaN,0,0,35.5000,S,First,man,True,Southampton,yes,True
56,1,2,female,21.00,0,0,10.5000,S,Second,woman,False,Southampton,yes,True
57,0,3,male,28.50,0,0,7.2292,C,Third,man,True,Cherbourg,no,True
58,1,2,female,5.00,1,2,27.7500,S,Second,child,False,Southampton,yes,False
59,0,3,male,11.00,5,2,46.9000,S,Third,child,False,Southampton,no,False
60,0,3,male,22.00,0,0,7.2292,C,Third,man,True,Cherbourg,no,True
61,1,1,female,38.00,0,0,80.0000,NaN,First,woman,False,NaN,yes,True
62,0,1,male,45.00,1,0,83.4750,S,First,man,True,Southampton,no,False
63,0,3,male,4.00,3,2,27.9000,S,Third,child,False,Southampton,no,False
64,0,1,male,NaN,0,0,27.7208,C,First,man,True,Cherbourg,no,True
65,1,3,male,NaN,1,1,15.2458,C,Third,man,True,Cherbourg,yes,False
66,1,2,female,29.00,0,0,10.5000,S,Second,woman,False,Southampton,yes,True
67,0,3,male,19.00,0,0,8.1583,S,Third,man,True,Southampton,no,True
68,1,3,female,17.00,4,2,7.9250,S,Third,woman,False,Southampton,yes,False
69,0,3,male,26.00,2,0,8.6625,S,Third,man,True,Southampton,no,False
70,0,2,male,32.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
71,0,3,female,16.00,5,2,46.9000,S,Third,woman,False,Southampton,no,False
72,0,2,male,21.00,0,0,73.5000,S,Second,man,True,Southampton,no,True
73,0,3,male,26.00,1,0,14.4542,C,Third,man,True,Cherbourg,no,False
74,1,3,male,32.00,0,0,56.4958,S,Third,man,True,Southampton,yes,True
75,0,3,male,25.00,0,0,7.6500,S,Third,man,True,Southampton,no,True
78,1,2,male,0.83,0,2,29.0000,S,Second,child,False,Southampton,yes,False
79,1,3,female,30.00,0,0,12.4750,S,Third,woman,False,Southampton,yes,True
80,0,3,male,22.00,0,0,9.0000,S,Third,man,True,Southampton,no,True
81,1,3,male,29.00,0,0,9.5000,S,Third,man,True,Southampton,yes,True
82,1,3,female,NaN,0,0,7.7875,Q,Third,woman,False,Queenstown,yes,True
83,0,1,male,28.00,0,0,47.1000,S,First,man,True,Southampton,no,True
84,1,2,female,17.00,0,0,10.5000,S,Second,woman,False,Southampton,yes,True
85,1,3,female,33.00,3,0,15.8500,S,Third,woman,False,Southampton,yes,False
86,0,3,male,16.00,1,3,34.3750,S,Third,man,True,Southampton,no,False
88,1,1,female,23.00,3,2,263.0000,S,First,woman,False,Southampton,yes,False
89,0,3,male,24.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
90,0,3,male,29.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
91,0,3,male,20.00,0,0,7.8542,S,Third,man,True,Southampton,no,True
92,0,1,male,46.00,1,0,61.1750,S,First,man,True,Southampton,no,False
93,0,3,male,26.00,1,2,20.5750,S,Third,man,True,Southampton,no,False
94,0,3,male,59.00,0,0,7.2500,S,Third,man,True,Southampton,no,True
96,0,1,male,71.00,0,0,34.6542,C,First,man,True,Cherbourg,no,True
97,1,1,male,23.00,0,1,63.3583,C,First,man,True,Cherbourg,yes,False
98,1,2,female,34.00,0,1,23.0000,S,Second,woman,False,Southampton,yes,False
99,0,2,male,34.00,1,0,26.0000,S,Second,man,True,Southampton,no,False
100,0,3,female,28.00,0,0,7.8958,S,Third,woman,False,Southampton,no,True
102,0,1,male,21.00,0,1,77.2875,S,First,man,True,Southampton,no,False
103,0,3,male,33.00,0,0,8.6542,S,Third,man,True,Southampton,no,True
104,0,3,male,37.00,2,0,7.9250,S,Third,man,True,Southampton,no,False
105,0,3,male,28.00,0,0,7.8958,S,Third,man,True,Southampton,no,True
106,1,3,female,21.00,0,0,7.6500,S,Third,woman,False,Southampton,yes,True
107,1,3,male,NaN,0,0,7.7750,S,Third,man,True,Southampton,yes,True
108,0,3,male,38.00,0,0,7.8958,S,Third,man,True,Southampton,no,True
109,1,3,female,NaN,1,0,24.1500,Q,Third,woman,False,Queenstown,yes,False
110,0,1,male,47.00,0,0,52.0000,S,First,man,True,Southampton,no,True
111,0,3,female,14.50,1,0,14.4542,C,Third,child,False,Cherbourg,no,False
112,0,3,male,22.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
113,0,3,female,20.00,1,0,9.8250,S,Third,woman,False,Southampton,no,False
114,0,3,female,17.00,0,0,14.4583,C,Third,woman,False,Cherbourg,no,True
115,0,3,male,21.00,0,0,7.9250,S,Third,man,True,Southampton,no,True
116,0,3,male,70.50,0,0,7.7500,Q,Third,man,True,Queenstown,no,True
117,0,2,male,29.00,1,0,21.0000,S,Second,man,True,Southampton,no,False
118,0,1,male,24.00,0,1,247.5208,C,First,man,True,Cherbourg,no,False
119,0,3,female,2.00,4,2,31.2750,S,Third,child,False,Southampton,no,False
120,0,2,male,21.00,2,0,73.5000,S,Second,man,True,Southampton,no,False
122,0,2,male,32.50,1,0,30.0708,C,Second,man,True,Cherbourg,no,False
123,1,2,female,32.50,0,0,13.0000,S,Second,woman,False,Southampton,yes,True
124,0,1,male,54.00,0,1,77.2875,S,First,man,True,Southampton,no,False
125,1,3,male,12.00,1,0,11.2417,C,Third,child,False,Cherbourg,yes,False
126,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,Queenstown,no,True
127,1,3,male,24.00,0,0,7.1417,S,Third,man,True,Southampton,yes,True
128,1,3,female,NaN,1,1,22.3583,C,Third,woman,False,Cherbourg,yes,False
129,0,3,male,45.00,0,0,6.9750,S,Third,man,True,Southampton,no,True
130,0,3,male,33.00,0,0,7.8958,C,Third,man,True,Cherbourg,no,True
131,0,3,male,20.00,0,0,7.0500,S,Third,man,True,Southampton,no,True
132,0,3,female,47.00,1,0,14.5000,S,Third,woman,False,Southampton,no,False
134,0,2,male,25.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
135,0,2,male,23.00,0,0,15.0458,C,Second,man,True,Cherbourg,no,True
136,1,1,female,19.00,0,2,26.2833,S,First,woman,False,Southampton,yes,False
137,0,1,male,37.00,1,0,53.1000,S,First,man,True,Southampton,no,False
138,0,3,male,16.00,0,0,9.2167,S,Third,man,True,Southampton,no,True
139,0,1,male,24.00,0,0,79.2000,C,First,man,True,Cherbourg,no,True
140,0,3,female,NaN,0,2,15.2458,C,Third,woman,False,Cherbourg,no,False
141,1,3,female,22.00,0,0,7.7500,S,Third,woman,False,Southampton,yes,True
142,1,3,female,24.00,1,0,15.8500,S,Third,woman,False,Southampton,yes,False
143,0,3,male,19.00,0,0,6.7500,Q,Third,man,True,Queenstown,no,True
144,0,2,male,18.00,0,0,11.5000,S,Second,man,True,Southampton,no,True
145,0,2,male,19.00,1,1,36.7500,S,Second,man,True,Southampton,no,False
146,1,3,male,27.00,0,0,7.7958,S,Third,man,True,Southampton,yes,True
147,0,3,female,9.00,2,2,34.3750,S,Third,child,False,Southampton,no,False
148,0,2,male,36.50,0,2,26.0000,S,Second,man,True,Southampton,no,False
149,0,2,male,42.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
150,0,2,male,51.00,0,0,12.5250,S,Second,man,True,Southampton,no,True
151,1,1,female,22.00,1,0,66.6000,S,First,woman,False,Southampton,yes,False
152,0,3,male,55.50,0,0,8.0500,S,Third,man,True,Southampton,no,True
153,0,3,male,40.50,0,2,14.5000,S,Third,man,True,Southampton,no,False
154,0,3,male,NaN,0,0,7.3125,S,Third,man,True,Southampton,no,True
155,0,1,male,51.00,0,1,61.3792,C,First,man,True,Cherbourg,no,False
156,1,3,female,16.00,0,0,7.7333,Q,Third,woman,False,Queenstown,yes,True
157,0,3,male,30.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
158,0,3,male,NaN,0,0,8.6625,S,Third,man,True,Southampton,no,True
159,0,3,male,NaN,8,2,69.5500,S,Third,man,True,Southampton,no,False
160,0,3,male,44.00,0,1,16.1000,S,Third,man,True,Southampton,no,False
161,1,2,female,40.00,0,0,15.7500,S,Second,woman,False,Southampton,yes,True
162,0,3,male,26.00,0,0,7.7750,S,Third,man,True,Southampton,no,True
163,0,3,male,17.00,0,0,8.6625,S,Third,man,True,Southampton,no,True
164,0,3,male,1.00,4,1,39.6875,S,Third,child,False,Southampton,no,False
165,1,3,male,9.00,0,2,20.5250,S,Third,child,False,Southampton,yes,False
166,1,1,female,NaN,0,1,55.0000,S,First,woman,False,Southampton,yes,False
167,0,3,female,45.00,1,4,27.9000,S,Third,woman,False,Southampton,no,False
168,0,1,male,NaN,0,0,25.9250,S,First,man,True,Southampton,no,True
169,0,3,male,28.00,0,0,56.4958,S,Third,man,True,Southampton,no,True
170,0,1,male,61.00,0,0,33.5000,S,First,man,True,Southampton,no,True
171,0,3,male,4.00,4,1,29.1250,Q,Third,child,False,Queenstown,no,False
172,1,3,female,1.00,1,1,11.1333,S,Third,child,False,Southampton,yes,False
174,0,1,male,56.00,0,0,30.6958,C,First,man,True,Cherbourg,no,True
175,0,3,male,18.00,1,1,7.8542,S,Third,man,True,Southampton,no,False
176,0,3,male,NaN,3,1,25.4667,S,Third,man,True,Southampton,no,False
177,0,1,female,50.00,0,0,28.7125,C,First,woman,False,Cherbourg,no,True
178,0,2,male,30.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
179,0,3,male,36.00,0,0,0.0000,S,Third,man,True,Southampton,no,True
180,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,Southampton,no,False
181,0,2,male,NaN,0,0,15.0500,C,Second,man,True,Cherbourg,no,True
182,0,3,male,9.00,4,2,31.3875,S,Third,child,False,Southampton,no,False
183,1,2,male,1.00,2,1,39.0000,S,Second,child,False,Southampton,yes,False
184,1,3,female,4.00,0,2,22.0250,S,Third,child,False,Southampton,yes,False
185,0,1,male,NaN,0,0,50.0000,S,First,man,True,Southampton,no,True
186,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,Queenstown,yes,False
187,1,1,male,45.00,0,0,26.5500,S,First,man,True,Southampton,yes,True
188,0,3,male,40.00,1,1,15.5000,Q,Third,man,True,Queenstown,no,False
189,0,3,male,36.00,0,0,7.8958,S,Third,man,True,Southampton,no,True
190,1,2,female,32.00,0,0,13.0000,S,Second,woman,False,Southampton,yes,True
191,0,2,male,19.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
192,1,3,female,19.00,1,0,7.8542,S,Third,woman,False,Southampton,yes,False
193,1,2,male,3.00,1,1,26.0000,S,Second,child,False,Southampton,yes,False
194,1,1,female,44.00,0,0,27.7208,C,First,woman,False,Cherbourg,yes,True
195,1,1,female,58.00,0,0,146.5208,C,First,woman,False,Cherbourg,yes,True
197,0,3,male,42.00,0,1,8.4042,S,Third,man,True,Southampton,no,False
199,0,2,female,24.00,0,0,13.0000,S,Second,woman,False,Southampton,no,True
200,0,3,male,28.00,0,0,9.5000,S,Third,man,True,Southampton,no,True
202,0,3,male,34.00,0,0,6.4958,S,Third,man,True,Southampton,no,True
203,0,3,male,45.50,0,0,7.2250,C,Third,man,True,Cherbourg,no,True
204,1,3,male,18.00,0,0,8.0500,S,Third,man,True,Southampton,yes,True
205,0,3,female,2.00,0,1,10.4625,S,Third,child,False,Southampton,no,False
206,0,3,male,32.00,1,0,15.8500,S,Third,man,True,Southampton,no,False
207,1,3,male,26.00,0,0,18.7875,C,Third,man,True,Cherbourg,yes,True
208,1,3,female,16.00,0,0,7.7500,Q,Third,woman,False,Queenstown,yes,True
209,1,1,male,40.00,0,0,31.0000,C,First,man,True,Cherbourg,yes,True
210,0,3,male,24.00,0,0,7.0500,S,Third,man,True,Southampton,no,True
211,1,2,female,35.00,0,0,21.0000,S,Second,woman,False,Southampton,yes,True
212,0,3,male,22.00,0,0,7.2500,S,Third,man,True,Southampton,no,True
214,0,3,male,NaN,1,0,7.7500,Q,Third,man,True,Queenstown,no,False
215,1,1,female,31.00,1,0,113.2750,C,First,woman,False,Cherbourg,yes,False
216,1,3,female,27.00,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
217,0,2,male,42.00,1,0,27.0000,S,Second,man,True,Southampton,no,False
218,1,1,female,32.00,0,0,76.2917,C,First,woman,False,Cherbourg,yes,True
219,0,2,male,30.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
220,1,3,male,16.00,0,0,8.0500,S,Third,man,True,Southampton,yes,True
221,0,2,male,27.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
222,0,3,male,51.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
224,1,1,male,38.00,1,0,90.0000,S,First,man,True,Southampton,yes,False
225,0,3,male,22.00,0,0,9.3500,S,Third,man,True,Southampton,no,True
226,1,2,male,19.00,0,0,10.5000,S,Second,man,True,Southampton,yes,True
227,0,3,male,20.50,0,0,7.2500,S,Third,man,True,Southampton,no,True
228,0,2,male,18.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
229,0,3,female,NaN,3,1,25.4667,S,Third,woman,False,Southampton,no,False
230,1,1,female,35.00,1,0,83.4750,S,First,woman,False,Southampton,yes,False
231,0,3,male,29.00,0,0,7.7750,S,Third,man,True,Southampton,no,True
232,0,2,male,59.00,0,0,13.5000,S,Second,man,True,Southampton,no,True
233,1,3,female,5.00,4,2,31.3875,S,Third,child,False,Southampton,yes,False
234,0,2,male,24.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
235,0,3,female,NaN,0,0,7.5500,S,Third,woman,False,Southampton,no,True
236,0,2,male,44.00,1,0,26.0000,S,Second,man,True,Southampton,no,False
237,1,2,female,8.00,0,2,26.2500,S,Second,child,False,Southampton,yes,False
238,0,2,male,19.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
239,0,2,male,33.00,0,0,12.2750,S,Second,man,True,Southampton,no,True
240,0,3,female,NaN,1,0,14.4542,C,Third,woman,False,Cherbourg,no,False
242,0,2,male,29.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
243,0,3,male,22.00,0,0,7.1250,S,Third,man,True,Southampton,no,True
244,0,3,male,30.00,0,0,7.2250,C,Third,man,True,Cherbourg,no,True
245,0,1,male,44.00,2,0,90.0000,Q,First,man,True,Queenstown,no,False
246,0,3,female,25.00,0,0,7.7750,S,Third,woman,False,Southampton,no,True
247,1,2,female,24.00,0,2,14.5000,S,Second,woman,False,Southampton,yes,False
248,1,1,male,37.00,1,1,52.5542,S,First,man,True,Southampton,yes,False
249,0,2,male,54.00,1,0,26.0000,S,Second,man,True,Southampton,no,False
250,0,3,male,NaN,0,0,7.2500,S,Third,man,True,Southampton,no,True
251,0,3,female,29.00,1,1,10.4625,S,Third,woman,False,Southampton,no,False
252,0,1,male,62.00,0,0,26.5500,S,First,man,True,Southampton,no,True
253,0,3,male,30.00,1,0,16.1000,S,Third,man,True,Southampton,no,False
254,0,3,female,41.00,0,2,20.2125,S,Third,woman,False,Southampton,no,False
255,1,3,female,29.00,0,2,15.2458,C,Third,woman,False,Cherbourg,yes,False
256,1,1,female,NaN,0,0,79.2000,C,First,woman,False,Cherbourg,yes,True
257,1,1,female,30.00,0,0,86.5000,S,First,woman,False,Southampton,yes,True
258,1,1,female,35.00,0,0,512.3292,C,First,woman,False,Cherbourg,yes,True
259,1,2,female,50.00,0,1,26.0000,S,Second,woman,False,Southampton,yes,False
261,1,3,male,3.00,4,2,31.3875,S,Third,child,False,Southampton,yes,False
262,0,1,male,52.00,1,1,79.6500,S,First,man,True,Southampton,no,False
263,0,1,male,40.00,0,0,0.0000,S,First,man,True,Southampton,no,True
264,0,3,female,NaN,0,0,7.7500,Q,Third,woman,False,Queenstown,no,True
265,0,2,male,36.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
266,0,3,male,16.00,4,1,39.6875,S,Third,man,True,Southampton,no,False
267,1,3,male,25.00,1,0,7.7750,S,Third,man,True,Southampton,yes,False
268,1,1,female,58.00,0,1,153.4625,S,First,woman,False,Southampton,yes,False
269,1,1,female,35.00,0,0,135.6333,S,First,woman,False,Southampton,yes,True
270,0,1,male,NaN,0,0,31.0000,S,First,man,True,Southampton,no,True
271,1,3,male,25.00,0,0,0.0000,S,Third,man,True,Southampton,yes,True
272,1,2,female,41.00,0,1,19.5000,S,Second,woman,False,Southampton,yes,False
273,0,1,male,37.00,0,1,29.7000,C,First,man,True,Cherbourg,no,False
275,1,1,female,63.00,1,0,77.9583,S,First,woman,False,Southampton,yes,False
276,0,3,female,45.00,0,0,7.7500,S,Third,woman,False,Southampton,no,True
277,0,2,male,NaN,0,0,0.0000,S,Second,man,True,Southampton,no,True
278,0,3,male,7.00,4,1,29.1250,Q,Third,child,False,Queenstown,no,False
279,1,3,female,35.00,1,1,20.2500,S,Third,woman,False,Southampton,yes,False
280,0,3,male,65.00,0,0,7.7500,Q,Third,man,True,Queenstown,no,True
281,0,3,male,28.00,0,0,7.8542,S,Third,man,True,Southampton,no,True
282,0,3,male,16.00,0,0,9.5000,S,Third,man,True,Southampton,no,True
283,1,3,male,19.00,0,0,8.0500,S,Third,man,True,Southampton,yes,True
284,0,1,male,NaN,0,0,26.0000,S,First,man,True,Southampton,no,True
285,0,3,male,33.00,0,0,8.6625,C,Third,man,True,Cherbourg,no,True
286,1,3,male,30.00,0,0,9.5000,S,Third,man,True,Southampton,yes,True
287,0,3,male,22.00,0,0,7.8958,S,Third,man,True,Southampton,no,True
288,1,2,male,42.00,0,0,13.0000,S,Second,man,True,Southampton,yes,True
289,1,3,female,22.00,0,0,7.7500,Q,Third,woman,False,Queenstown,yes,True
290,1,1,female,26.00,0,0,78.8500,S,First,woman,False,Southampton,yes,True
291,1,1,female,19.00,1,0,91.0792,C,First,woman,False,Cherbourg,yes,False
292,0,2,male,36.00,0,0,12.8750,C,Second,man,True,Cherbourg,no,True
293,0,3,female,24.00,0,0,8.8500,S,Third,woman,False,Southampton,no,True
294,0,3,male,24.00,0,0,7.8958,S,Third,man,True,Southampton,no,True
296,0,3,male,23.50,0,0,7.2292,C,Third,man,True,Cherbourg,no,True
297,0,1,female,2.00,1,2,151.5500,S,First,child,False,Southampton,no,False
298,1,1,male,NaN,0,0,30.5000,S,First,man,True,Southampton,yes,True
299,1,1,female,50.00,0,1,247.5208,C,First,woman,False,Cherbourg,yes,False
301,1,3,male,NaN,2,0,23.2500,Q,Third,man,True,Queenstown,yes,False
302,0,3,male,19.00,0,0,0.0000,S,Third,man,True,Southampton,no,True
303,1,2,female,NaN,0,0,12.3500,Q,Second,woman,False,Queenstown,yes,True
305,1,1,male,0.92,1,2,151.5500,S,First,child,False,Southampton,yes,False

## Other Data Cleaning Concepts

There is some redundancy still remaining in the dataset. In my opinion, there are a few columns that can be removed:
* 'is_adultmale' is redundant as this value can be inferred from the columns 'sex' and 'who'. 
* the column 'alive' which is just a string version of the column 'survived' where 'yes'/'no' replace 1/0 
* the column 'embarked' truncates the 'embark_town' column to the first letter
* the column 'class' which puts the 'ticket_class' into words First, Second and Third from 1, 2 and 3.
* the column 'is_alone' which is True when 'sibling_spouse_no' and 'parent_children_no' are both 0.
These columns should be removed due to redundancy without fear of losing completeness in the dataset, as the data is already present in other forms.

In [80]:
titanic_final = titanic_dc.drop(['is_adultmale', 'alive', 'embarked', 'class', 'is_alone'], axis = 1)

In [82]:
titanic_final

,survived,ticket_class,sex,age,sibling_spouse_no,parent_children_no,fare,who,embark_town
0,0,3,male,22.00,1,0,7.2500,man,Southampton
1,1,1,female,38.00,1,0,71.2833,woman,Cherbourg
2,1,3,female,26.00,0,0,7.9250,woman,Southampton
3,1,1,female,35.00,1,0,53.1000,woman,Southampton
4,0,3,male,35.00,0,0,8.0500,man,Southampton
5,0,3,male,NaN,0,0,8.4583,man,Queenstown
6,0,1,male,54.00,0,0,51.8625,man,Southampton
7,0,3,male,2.00,3,1,21.0750,child,Southampton
8,1,3,female,27.00,0,2,11.1333,woman,Southampton
9,1,2,female,14.00,1,0,30.0708,child,Cherbourg
10,1,3,female,4.00,1,1,16.7000,child,Southampton
11,1,1,female,58.00,0,0,26.5500,woman,Southampton
12,0,3,male,20.00,0,0,8.0500,man,Southampton
13,0,3,male,39.00,1,5,31.2750,man,Southampton
14,0,3,female,14.00,0,0,7.8542,child,Southampton
15,1,2,female,55.00,0,0,16.0000,woman,Southampton
16,0,3,male,2.00,4,1,29.1250,child,Queenstown
17,1,2,male,NaN,0,0,13.0000,man,Southampton
18,0,3,female,31.00,1,0,18.0000,woman,Southampton
19,1,3,female,NaN,0,0,7.2250,woman,Cherbourg
20,0,2,male,35.00,0,0,26.0000,man,Southampton
21,1,2,male,34.00,0,0,13.0000,man,Southampton
22,1,3,female,15.00,0,0,8.0292,child,Queenstown
23,1,1,male,28.00,0,0,35.5000,man,Southampton
24,0,3,female,8.00,3,1,21.0750,child,Southampton
25,1,3,female,38.00,1,5,31.3875,woman,Southampton
26,0,3,male,NaN,0,0,7.2250,man,Cherbourg
27,0,1,male,19.00,3,2,263.0000,man,Southampton
28,1,3,female,NaN,0,0,7.8792,woman,Queenstown
29,0,3,male,NaN,0,0,7.8958,man,Southampton
30,0,1,male,40.00,0,0,27.7208,man,Cherbourg
31,1,1,female,NaN,1,0,146.5208,woman,Cherbourg
32,1,3,female,NaN,0,0,7.7500,woman,Queenstown
33,0,2,male,66.00,0,0,10.5000,man,Southampton
34,0,1,male,28.00,1,0,82.1708,man,Cherbourg
35,0,1,male,42.00,1,0,52.0000,man,Southampton
36,1,3,male,NaN,0,0,7.2292,man,Cherbourg
37,0,3,male,21.00,0,0,8.0500,man,Southampton
38,0,3,female,18.00,2,0,18.0000,woman,Southampton
39,1,3,female,14.00,1,0,11.2417,child,Cherbourg
40,0,3,female,40.00,1,0,9.4750,woman,Southampton
41,0,2,female,27.00,1,0,21.0000,woman,Southampton
42,0,3,male,NaN,0,0,7.8958,man,Cherbourg
43,1,2,female,3.00,1,2,41.5792,child,Cherbourg
44,1,3,female,19.00,0,0,7.8792,woman,Queenstown
45,0,3,male,NaN,0,0,8.0500,man,Southampton
46,0,3,male,NaN,1,0,15.5000,man,Queenstown
48,0,3,male,NaN,2,0,21.6792,man,Cherbourg
49,0,3,female,18.00,1,0,17.8000,woman,Southampton
50,0,3,male,7.00,4,1,39.6875,child,Southampton
51,0,3,male,21.00,0,0,7.8000,man,Southampton
52,1,1,female,49.00,1,0,76.7292,woman,Cherbourg
53,1,2,female,29.00,1,0,26.0000,woman,Southampton
54,0,1,male,65.00,0,1,61.9792,man,Cherbourg
55,1,1,male,NaN,0,0,35.5000,man,Southampton
56,1,2,female,21.00,0,0,10.5000,woman,Southampton
57,0,3,male,28.50,0,0,7.2292,man,Cherbourg
58,1,2,female,5.00,1,2,27.7500,child,Southampton
59,0,3,male,11.00,5,2,46.9000,child,Southampton
60,0,3,male,22.00,0,0,7.2292,man,Cherbourg
61,1,1,female,38.00,0,0,80.0000,woman,NaN
62,0,1,male,45.00,1,0,83.4750,man,Southampton
63,0,3,male,4.00,3,2,27.9000,child,Southampton
64,0,1,male,NaN,0,0,27.7208,man,Cherbourg
65,1,3,male,NaN,1,1,15.2458,man,Cherbourg
66,1,2,female,29.00,0,0,10.5000,woman,Southampton
67,0,3,male,19.00,0,0,8.1583,man,Southampton
68,1,3,female,17.00,4,2,7.9250,woman,Southampton
69,0,3,male,26.00,2,0,8.6625,man,Southampton
70,0,2,male,32.00,0,0,10.5000,man,Southampton
71,0,3,female,16.00,5,2,46.9000,woman,Southampton
72,0,2,male,21.00,0,0,73.5000,man,Southampton
73,0,3,male,26.00,1,0,14.4542,man,Cherbourg
74,1,3,male,32.00,0,0,56.4958,man,Southampton
75,0,3,male,25.00,0,0,7.6500,man,Southampton
78,1,2,male,0.83,0,2,29.0000,child,Southampton
79,1,3,female,30.00,0,0,12.4750,woman,Southampton
80,0,3,male,22.00,0,0,9.0000,man,Southampton
81,1,3,male,29.00,0,0,9.5000,man,Southampton
82,1,3,female,NaN,0,0,7.7875,woman,Queenstown
83,0,1,male,28.00,0,0,47.1000,man,Southampton
84,1,2,female,17.00,0,0,10.5000,woman,Southampton
85,1,3,female,33.00,3,0,15.8500,woman,Southampton
86,0,3,male,16.00,1,3,34.3750,man,Southampton
88,1,1,female,23.00,3,2,263.0000,woman,Southampton
89,0,3,male,24.00,0,0,8.0500,man,Southampton
90,0,3,male,29.00,0,0,8.0500,man,Southampton
91,0,3,male,20.00,0,0,7.8542,man,Southampton
92,0,1,male,46.00,1,0,61.1750,man,Southampton
93,0,3,male,26.00,1,2,20.5750,man,Southampton
94,0,3,male,59.00,0,0,7.2500,man,Southampton
96,0,1,male,71.00,0,0,34.6542,man,Cherbourg
97,1,1,male,23.00,0,1,63.3583,man,Cherbourg
98,1,2,female,34.00,0,1,23.0000,woman,Southampton
99,0,2,male,34.00,1,0,26.0000,man,Southampton
100,0,3,female,28.00,0,0,7.8958,woman,Southampton
102,0,1,male,21.00,0,1,77.2875,man,Southampton
103,0,3,male,33.00,0,0,8.6542,man,Southampton
104,0,3,male,37.00,2,0,7.9250,man,Southampton
105,0,3,male,28.00,0,0,7.8958,man,Southampton
106,1,3,female,21.00,0,0,7.6500,woman,Southampton
107,1,3,male,NaN,0,0,7.7750,man,Southampton
108,0,3,male,38.00,0,0,7.8958,man,Southampton
109,1,3,female,NaN,1,0,24.1500,woman,Queenstown
110,0,1,male,47.00,0,0,52.0000,man,Southampton
111,0,3,female,14.50,1,0,14.4542,child,Cherbourg
112,0,3,male,22.00,0,0,8.0500,man,Southampton
113,0,3,female,20.00,1,0,9.8250,woman,Southampton
114,0,3,female,17.00,0,0,14.4583,woman,Cherbourg
115,0,3,male,21.00,0,0,7.9250,man,Southampton
116,0,3,male,70.50,0,0,7.7500,man,Queenstown
117,0,2,male,29.00,1,0,21.0000,man,Southampton
118,0,1,male,24.00,0,1,247.5208,man,Cherbourg
119,0,3,female,2.00,4,2,31.2750,child,Southampton
120,0,2,male,21.00,2,0,73.5000,man,Southampton
122,0,2,male,32.50,1,0,30.0708,man,Cherbourg
123,1,2,female,32.50,0,0,13.0000,woman,Southampton
124,0,1,male,54.00,0,1,77.2875,man,Southampton
125,1,3,male,12.00,1,0,11.2417,child,Cherbourg
126,0,3,male,NaN,0,0,7.7500,man,Queenstown
127,1,3,male,24.00,0,0,7.1417,man,Southampton
128,1,3,female,NaN,1,1,22.3583,woman,Cherbourg
129,0,3,male,45.00,0,0,6.9750,man,Southampton
130,0,3,male,33.00,0,0,7.8958,man,Cherbourg
131,0,3,male,20.00,0,0,7.0500,man,Southampton
132,0,3,female,47.00,1,0,14.5000,woman,Southampton
134,0,2,male,25.00,0,0,13.0000,man,Southampton
135,0,2,male,23.00,0,0,15.0458,man,Cherbourg
136,1,1,female,19.00,0,2,26.2833,woman,Southampton
137,0,1,male,37.00,1,0,53.1000,man,Southampton
138,0,3,male,16.00,0,0,9.2167,man,Southampton
139,0,1,male,24.00,0,0,79.2000,man,Cherbourg
140,0,3,female,NaN,0,2,15.2458,woman,Cherbourg
141,1,3,female,22.00,0,0,7.7500,woman,Southampton
142,1,3,female,24.00,1,0,15.8500,woman,Southampton
143,0,3,male,19.00,0,0,6.7500,man,Queenstown
144,0,2,male,18.00,0,0,11.5000,man,Southampton
145,0,2,male,19.00,1,1,36.7500,man,Southampton
146,1,3,male,27.00,0,0,7.7958,man,Southampton
147,0,3,female,9.00,2,2,34.3750,child,Southampton
148,0,2,male,36.50,0,2,26.0000,man,Southampton
149,0,2,male,42.00,0,0,13.0000,man,Southampton
150,0,2,male,51.00,0,0,12.5250,man,Southampton
151,1,1,female,22.00,1,0,66.6000,woman,Southampton
152,0,3,male,55.50,0,0,8.0500,man,Southampton
153,0,3,male,40.50,0,2,14.5000,man,Southampton
154,0,3,male,NaN,0,0,7.3125,man,Southampton
155,0,1,male,51.00,0,1,61.3792,man,Cherbourg
156,1,3,female,16.00,0,0,7.7333,woman,Queenstown
157,0,3,male,30.00,0,0,8.0500,man,Southampton
158,0,3,male,NaN,0,0,8.6625,man,Southampton
159,0,3,male,NaN,8,2,69.5500,man,Southampton
160,0,3,male,44.00,0,1,16.1000,man,Southampton
161,1,2,female,40.00,0,0,15.7500,woman,Southampton
162,0,3,male,26.00,0,0,7.7750,man,Southampton
163,0,3,male,17.00,0,0,8.6625,man,Southampton
164,0,3,male,1.00,4,1,39.6875,child,Southampton
165,1,3,male,9.00,0,2,20.5250,child,Southampton
166,1,1,female,NaN,0,1,55.0000,woman,Southampton
167,0,3,female,45.00,1,4,27.9000,woman,Southampton
168,0,1,male,NaN,0,0,25.9250,man,Southampton
169,0,3,male,28.00,0,0,56.4958,man,Southampton
170,0,1,male,61.00,0,0,33.5000,man,Southampton
171,0,3,male,4.00,4,1,29.1250,child,Queenstown
172,1,3,female,1.00,1,1,11.1333,child,Southampton
174,0,1,male,56.00,0,0,30.6958,man,Cherbourg
175,0,3,male,18.00,1,1,7.8542,man,Southampton
176,0,3,male,NaN,3,1,25.4667,man,Southampton
177,0,1,female,50.00,0,0,28.7125,woman,Cherbourg
178,0,2,male,30.00,0,0,13.0000,man,Southampton
179,0,3,male,36.00,0,0,0.0000,man,Southampton
180,0,3,female,NaN,8,2,69.5500,woman,Southampton
181,0,2,male,NaN,0,0,15.0500,man,Cherbourg
182,0,3,male,9.00,4,2,31.3875,child,Southampton
183,1,2,male,1.00,2,1,39.0000,child,Southampton
184,1,3,female,4.00,0,2,22.0250,child,Southampton
185,0,1,male,NaN,0,0,50.0000,man,Southampton
186,1,3,female,NaN,1,0,15.5000,woman,Queenstown
187,1,1,male,45.00,0,0,26.5500,man,Southampton
188,0,3,male,40.00,1,1,15.5000,man,Queenstown
189,0,3,male,36.00,0,0,7.8958,man,Southampton
190,1,2,female,32.00,0,0,13.0000,woman,Southampton
191,0,2,male,19.00,0,0,13.0000,man,Southampton
192,1,3,female,19.00,1,0,7.8542,woman,Southampton
193,1,2,male,3.00,1,1,26.0000,child,Southampton
194,1,1,female,44.00,0,0,27.7208,woman,Cherbourg
195,1,1,female,58.00,0,0,146.5208,woman,Cherbourg
197,0,3,male,42.00,0,1,8.4042,man,Southampton
199,0,2,female,24.00,0,0,13.0000,woman,Southampton
200,0,3,male,28.00,0,0,9.5000,man,Southampton
202,0,3,male,34.00,0,0,6.4958,man,Southampton
203,0,3,male,45.50,0,0,7.2250,man,Cherbourg
204,1,3,male,18.00,0,0,8.0500,man,Southampton
205,0,3,female,2.00,0,1,10.4625,child,Southampton
206,0,3,male,32.00,1,0,15.8500,man,Southampton
207,1,3,male,26.00,0,0,18.7875,man,Cherbourg
208,1,3,female,16.00,0,0,7.7500,woman,Queenstown
209,1,1,male,40.00,0,0,31.0000,man,Cherbourg
210,0,3,male,24.00,0,0,7.0500,man,Southampton
211,1,2,female,35.00,0,0,21.0000,woman,Southampton
212,0,3,male,22.00,0,0,7.2500,man,Southampton
214,0,3,male,NaN,1,0,7.7500,man,Queenstown
215,1,1,female,31.00,1,0,113.2750,woman,Cherbourg
216,1,3,female,27.00,0,0,7.9250,woman,Southampton
217,0,2,male,42.00,1,0,27.0000,man,Southampton
218,1,1,female,32.00,0,0,76.2917,woman,Cherbourg
219,0,2,male,30.00,0,0,10.5000,man,Southampton
220,1,3,male,16.00,0,0,8.0500,man,Southampton
221,0,2,male,27.00,0,0,13.0000,man,Southampton
222,0,3,male,51.00,0,0,8.0500,man,Southampton
224,1,1,male,38.00,1,0,90.0000,man,Southampton
225,0,3,male,22.00,0,0,9.3500,man,Southampton
226,1,2,male,19.00,0,0,10.5000,man,Southampton
227,0,3,male,20.50,0,0,7.2500,man,Southampton
228,0,2,male,18.00,0,0,13.0000,man,Southampton
229,0,3,female,NaN,3,1,25.4667,woman,Southampton
230,1,1,female,35.00,1,0,83.4750,woman,Southampton
231,0,3,male,29.00,0,0,7.7750,man,Southampton
232,0,2,male,59.00,0,0,13.5000,man,Southampton
233,1,3,female,5.00,4,2,31.3875,child,Southampton
234,0,2,male,24.00,0,0,10.5000,man,Southampton
235,0,3,female,NaN,0,0,7.5500,woman,Southampton
236,0,2,male,44.00,1,0,26.0000,man,Southampton
237,1,2,female,8.00,0,2,26.2500,child,Southampton
238,0,2,male,19.00,0,0,10.5000,man,Southampton
239,0,2,male,33.00,0,0,12.2750,man,Southampton
240,0,3,female,NaN,1,0,14.4542,woman,Cherbourg
242,0,2,male,29.00,0,0,10.5000,man,Southampton
243,0,3,male,22.00,0,0,7.1250,man,Southampton
244,0,3,male,30.00,0,0,7.2250,man,Cherbourg
245,0,1,male,44.00,2,0,90.0000,man,Queenstown
246,0,3,female,25.00,0,0,7.7750,woman,Southampton
247,1,2,female,24.00,0,2,14.5000,woman,Southampton
248,1,1,male,37.00,1,1,52.5542,man,Southampton
249,0,2,male,54.00,1,0,26.0000,man,Southampton
250,0,3,male,NaN,0,0,7.2500,man,Southampton
251,0,3,female,29.00,1,1,10.4625,woman,Southampton
252,0,1,male,62.00,0,0,26.5500,man,Southampton
253,0,3,male,30.00,1,0,16.1000,man,Southampton
254,0,3,female,41.00,0,2,20.2125,woman,Southampton
255,1,3,female,29.00,0,2,15.2458,woman,Cherbourg
256,1,1,female,NaN,0,0,79.2000,woman,Cherbourg
257,1,1,female,30.00,0,0,86.5000,woman,Southampton
258,1,1,female,35.00,0,0,512.3292,woman,Cherbourg
259,1,2,female,50.00,0,1,26.0000,woman,Southampton
261,1,3,male,3.00,4,2,31.3875,child,Southampton
262,0,1,male,52.00,1,1,79.6500,man,Southampton
263,0,1,male,40.00,0,0,0.0000,man,Southampton
264,0,3,female,NaN,0,0,7.7500,woman,Queenstown
265,0,2,male,36.00,0,0,10.5000,man,Southampton
266,0,3,male,16.00,4,1,39.6875,man,Southampton
267,1,3,male,25.00,1,0,7.7750,man,Southampton
268,1,1,female,58.00,0,1,153.4625,woman,Southampton
269,1,1,female,35.00,0,0,135.6333,woman,Southampton
270,0,1,male,NaN,0,0,31.0000,man,Southampton
271,1,3,male,25.00,0,0,0.0000,man,Southampton
272,1,2,female,41.00,0,1,19.5000,woman,Southampton
273,0,1,male,37.00,0,1,29.7000,man,Cherbourg
275,1,1,female,63.00,1,0,77.9583,woman,Southampton
276,0,3,female,45.00,0,0,7.7500,woman,Southampton
277,0,2,male,NaN,0,0,0.0000,man,Southampton
278,0,3,male,7.00,4,1,29.1250,child,Queenstown
279,1,3,female,35.00,1,1,20.2500,woman,Southampton
280,0,3,male,65.00,0,0,7.7500,man,Queenstown
281,0,3,male,28.00,0,0,7.8542,man,Southampton
282,0,3,male,16.00,0,0,9.5000,man,Southampton
283,1,3,male,19.00,0,0,8.0500,man,Southampton
284,0,1,male,NaN,0,0,26.0000,man,Southampton
285,0,3,male,33.00,0,0,8.6625,man,Cherbourg
286,1,3,male,30.00,0,0,9.5000,man,Southampton
287,0,3,male,22.00,0,0,7.8958,man,Southampton
288,1,2,male,42.00,0,0,13.0000,man,Southampton
289,1,3,female,22.00,0,0,7.7500,woman,Queenstown
290,1,1,female,26.00,0,0,78.8500,woman,Southampton
291,1,1,female,19.00,1,0,91.0792,woman,Cherbourg
292,0,2,male,36.00,0,0,12.8750,man,Cherbourg
293,0,3,female,24.00,0,0,8.8500,woman,Southampton
294,0,3,male,24.00,0,0,7.8958,man,Southampton
296,0,3,male,23.50,0,0,7.2292,man,Cherbourg
297,0,1,female,2.00,1,2,151.5500,child,Southampton
298,1,1,male,NaN,0,0,30.5000,man,Southampton
299,1,1,female,50.00,0,1,247.5208,woman,Cherbourg
301,1,3,male,NaN,2,0,23.2500,man,Queenstown
302,0,3,male,19.00,0,0,0.0000,man,Southampton
303,1,2,female,NaN,0,0,12.3500,woman,Queenstown
305,1,1,male,0.92,1,2,151.5500,child,Southampton
306,1,1,female,NaN,0,0,110.8833,woman,Cherbourg
307,1,1,female,17.00,1,0,108.9000,woman,Cherbourg
308,0,2,male,30.00,1,0,24.0000,man,Cherbourg
309,1,1,female,30.00,0,0,56.9292,woman,Cherbourg
310,1,1,female,24.00,0,0,83.1583,woman,Cherbourg
311,1,1,female,18.00,2,2,262.3750,woman,Cherbourg
312,0,2,female,26.00,1,1,26.0000,woman,Southampton
314,0,2,male,43.00,1,1,26.2500,man,Southampton
315,1,3,female,26.00,0,0,7.8542,woman,Southampton
316,1,2,female,24.00,1,0,26.0000,woman,Southampton
317,0,2,male,54.00,0,0,14.0000,man,Southampton
318,1,1,female,31.00,0,2,164.8667,woman,Southampton
319,1,1,female,40.00,1,1,134.5000,woman,Cherbourg
321,0,3,male,27.00,0,0,7.8958,man,Southampton
322,1,2,female,30.00,0,0,12.3500,woman,Queenstown
323,1,2,female,22.00,1,1,29.0000,woman,Southampton
325,1,1,female,36.00,0,0,135.6333,woman,Cherbourg
326,0,3,male,61.00,0,0,6.2375,man,Southampton
327,1,2,female,36.00,0,0,13.0000,woman,Southampton
328,1,3,female,31.00,1,1,20.5250,woman,Southampton
329,1,1,female,16.00,0,1,57.9792,woman,Cherbourg
330,1,3,female,NaN,2,0,23.2500,woman,Queenstown
331,0,1,male,45.50,0,0,28.5000,man,Southampton
332,0,1,male,38.00,0,1,153.4625,man,Southampton
333,0,3,male,16.00,2,0,18.0000,man,Southampton
334,1,1,female,NaN,1,0,133.6500,woman,Southampton
336,0,1,male,29.00,1,0,66.6000,man,Southampton
337,1,1,female,41.00,0,0,134.5000,woman,Cherbourg
338,1,3,male,45.00,0,0,8.0500,man,Southampton
339,0,1,male,45.00,0,0,35.5000,man,Southampton
340,1,2,male,2.00,1,1,26.0000,child,Southampton
341,1,1,female,24.00,3,2,263.0000,woman,Southampton
342,0,2,male,28.00,0,0,13.0000,man,Southampton
344,0,2,male,36.00,0,0,13.0000,man,Southampton
345,1,2,female,24.00,0,0,13.0000,woman,Southampton
346,1,2,female,40.00,0,0,13.0000,woman,Southampton
347,1,3,female,NaN,1,0,16.1000,woman,Southampton
348,1,3,male,3.00,1,1,15.9000,child,Southampton
349,0,3,male,42.00,0,0,8.6625,man,Southampton
350,0,3,male,23.00,0,0,9.2250,man,Southampton
351,0,1,male,NaN,0,0,35.0000,man,Southampton
352,0,3,male,15.00,1,1,7.2292,child,Cherbourg
353,0,3,male,25.00,1,0,17.8000,man,Southampton
356,1,1,female,22.00,0,1,55.0000,woman,Southampton
357,0,2,female,38.00,0,0,13.0000,woman,Southampton
360,0,3,male,40.00,1,4,27.9000,man,Southampton
361,0,2,male,29.00,1,0,27.7208,man,Cherbourg
362,0,3,female,45.00,0,1,14.4542,woman,Cherbourg
363,0,3,male,35.00,0,0,7.0500,man,Southampton
365,0,3,male,30.00,0,0,7.2500,man,Southampton
366,1,1,female,60.00,1,0,75.2500,woman,Cherbourg
367,1,3,female,NaN,0,0,7.2292,woman,Cherbourg
369,1,1,female,24.00,0,0,69.3000,woman,Cherbourg
370,1,1,male,25.00,1,0,55.4417,man,Cherbourg
371,0,3,male,18.00,1,0,6.4958,man,Southampton
372,0,3,male,19.00,0,0,8.0500,man,Southampton
373,0,1,male,22.00,0,0,135.6333,man,Cherbourg
374,0,3,female,3.00,3,1,21.0750,child,Southampton
375,1,1,female,NaN,1,0,82.1708,woman,Cherbourg
376,1,3,female,22.00,0,0,7.2500,woman,Southampton
377,0,1,male,27.00,0,2,211.5000,man,Cherbourg
378,0,3,male,20.00,0,0,4.0125,man,Cherbourg
379,0,3,male,19.00,0,0,7.7750,man,Southampton
380,1,1,female,42.00,0,0,227.5250,woman,Cherbourg
381,1,3,female,1.00,0,2,15.7417,child,Cherbourg
382,0,3,male,32.00,0,0,7.9250,man,Southampton
383,1,1,female,35.00,1,0,52.0000,woman,Southampton
385,0,2,male,18.00,0,0,73.5000,man,Southampton
386,0,3,male,1.00,5,2,46.9000,child,Southampton
388,0,3,male,NaN,0,0,7.7292,man,Queenstown
389,1,2,female,17.00,0,0,12.0000,woman,Cherbourg
390,1,1,male,36.00,1,2,120.0000,man,Southampton
391,1,3,male,21.00,0,0,7.7958,man,Southampton
392,0,3,male,28.00,2,0,7.9250,man,Southampton
393,1,1,female,23.00,1,0,113.2750,woman,Cherbourg
394,1,3,female,24.00,0,2,16.7000,woman,Southampton
395,0,3,male,22.00,0,0,7.7958,man,Southampton
396,0,3,female,31.00,0,0,7.8542,woman,Southampton
397,0,2,male,46.00,0,0,26.0000,man,Southampton
398,0,2,male,23.00,0,0,10.5000,man,Southampton
399,1,2,female,28.00,0,0,12.6500,woman,Southampton
400,1,3,male,39.00,0,0,7.9250,man,Southampton
401,0,3,male,26.00,0,0,8.0500,man,Southampton
402,0,3,female,21.00,1,0,9.8250,woman,Southampton
403,0,3,male,28.00,1,0,15.8500,man,Southampton
404,0,3,female,20.00,0,0,8.6625,woman,Southampton
405,0,2,male,34.00,1,0,21.0000,man,Southampton
406,0,3,male,51.00,0,0,7.7500,man,Southampton
407,1,2,male,3.00,1,1,18.7500,child,Southampton
408,0,3,male,21.00,0,0,7.7750,man,Southampton
411,0,3,male,NaN,0,0,6.8583,man,Queenstown
412,1,1,female,33.00,1,0,90.0000,woman,Queenstown
414,1,3,male,44.00,0,0,7.9250,man,Southampton
415,0,3,female,NaN,0,0,8.0500,woman,Southampton
416,1,2,female,34.00,1,1,32.5000,woman,Southampton
417,1,2,female,18.00,0,2,13.0000,woman,Southampton
419,0,3,female,10.00,0,2,24.1500,child,Southampton
421,0,3,male,21.00,0,0,7.7333,man,Queenstown
422,0,3,male,29.00,0,0,7.8750,man,Southampton
423,0,3,female,28.00,1,1,14.4000,woman,Southampton
424,0,3,male,18.00,1,1,20.2125,man,Southampton
426,1,2,female,28.00,1,0,26.0000,woman,Southampton
427,1,2,female,19.00,0,0,26.0000,woman,Southampton
429,1,3,male,32.00,0,0,8.0500,man,Southampton
430,1,1,male,28.00,0,0,26.5500,man,Southampton
432,1,2,female,42.00,1,0,26.0000,woman,Southampton
433,0,3,male,17.00,0,0,7.1250,man,Southampton
434,0,1,male,50.00,1,0,55.9000,man,Southampton
435,1,1,female,14.00,1,2,120.0000,child,Southampton
436,0,3,female,21.00,2,2,34.3750,woman,Southampton
437,1,2,female,24.00,2,3,18.7500,woman,Southampton
438,0,1,male,64.00,1,4,263.0000,man,Southampton
439,0,2,male,31.00,0,0,10.5000,man,Southampton
440,1,2,female,45.00,1,1,26.2500,woman,Southampton
441,0,3,male,20.00,0,0,9.5000,man,Southampton
442,0,3,male,25.00,1,0,7.7750,man,Southampton
443,1,2,female,28.00,0,0,13.0000,woman,Southampton
444,1,3,male,NaN,0,0,8.1125,man,Southampton
445,1,1,male,4.00,0,2,81.8583,child,Southampton
446,1,2,female,13.00,0,1,19.5000,child,Southampton
447,1,1,male,34.00,0,0,26.5500,man,Southampton
448,1,3,female,5.00,2,1,19.2583,child,Cherbourg
449,1,1,male,52.00,0,0,30.5000,man,Southampton
450,0,2,male,36.00,1,2,27.7500,man,Southampton
451,0,3,male,NaN,1,0,19.9667,man,Southampton
452,0,1,male,30.00,0,0,27.7500,man,Cherbourg
453,1,1,male,49.00,1,0,89.1042,man,Cherbourg
455,1,3,male,29.00,0,0,7.8958,man,Cherbourg
456,0,1,male,65.00,0,0,26.5500,man,Southampton
457,1,1,female,NaN,1,0,51.8625,woman,Southampton
458,1,2,female,50.00,0,0,10.5000,woman,Southampton
460,1,1,male,48.00,0,0,26.5500,man,Southampton
461,0,3,male,34.00,0,0,8.0500,man,Southampton
462,0,1,male,47.00,0,0,38.5000,man,Southampton

# Analysis of Cleaned Dataset

## Using describe()

The following descriptive table lets us make a few observations:
* that there were more deaths than survivals during the Titanic as the mean for 'survived' is below 0.5 so there are more 0 than 1 values.
* the average age was around 30 years old (considering there are some NaN values), and the standard deviation and quartiles show us that the age ranges around 20 to 30 and 30 to 40 are mostly populated, with the age ranges outside dropping off in population. So, there were relatively few older people on board, as 
    * mean +- (3 * SD) = [0, 72] years old which encompasses 99% of the population
    * mean +- (2 * SD) = [2, 58] years old which encompasses 95%. 
    * It is safe to say the max value of 80 years old may be an outlier.
* there is a possible outlier for maximum fare of $512, as it lies far outside the interquartile range. It is possible that this could be a mistake, however, this just seems like a super deluxe package that people were unlucky to spend a lot of money on, as from looking at the value_counts() function, 3 people spent this much money on a fare. These three people don't seem to be duplicates as well, from looking at their rows. This happens to show the range of people that the Titanic attracted.

In [83]:
titanic_final.describe()

,survived,ticket_class,age,sibling_spouse_no,parent_children_no,fare
count,780.000000,780.000000,676.000000,780.000000,780.000000,780.000000
mean,0.412821,2.246154,29.812751,0.525641,0.417949,34.829108
std,0.492657,0.854452,14.727098,0.988046,0.838536,52.263440
min,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,20.000000,0.000000,0.000000,8.050000
50%,0.000000,3.000000,28.000000,0.000000,0.000000,15.950000
75%,1.000000,3.000000,39.000000,1.000000,1.000000,34.375000
max,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [161]:
titanic_final[titanic_final["fare"] == 512.329200]

,survived,ticket_class,sex,age,sibling_spouse_no,parent_children_no,fare,Fare Percentage of Total Fare,who,embark_town
258,1,1,female,35.0,0,0,512.3292,0.018859,woman,Cherbourg
679,1,1,male,36.0,0,1,512.3292,0.018859,man,Cherbourg
737,1,1,male,35.0,0,0,512.3292,0.018859,man,Cherbourg

## Grouping by Ticket Class

In [168]:
average_fare_by_class = pd.Series(titanic_final.groupby("ticket_class")["fare"].mean(), index = [1, 2, 3])
average_age_by_class = pd.Series(titanic_final.groupby("ticket_class")["age"].mean(), index = [1, 2, 3])
DataFrame_fare_age_by_class = pd.DataFrame([average_fare_by_class, average_age_by_class],  columns = ["Average Fare by Class", "Average Age by Class"])
DataFrame_fare_age_by_class2 = pd.concat([average_fare_by_class, average_age_by_class], axis=1)
DataFrame_fare_age_by_class2

        fare        age
1  85.159631  38.181630
2  21.889279  29.859684
3  13.670843  25.180150

In [169]:
#titanic_final["fare"]/titanic_final["fare"].sum()

### Adding extra column denoting the percentage of total fare

In [113]:
#titanic_final = titanic_final.drop(["Fare Percentage of Total Fare"], axis = 1)
titanic_final.insert(7, "Fare Percentage of Total Fare", titanic_final["fare"]/titanic_final["fare"].sum())

In [114]:
titanic_final

,survived,ticket_class,sex,age,sibling_spouse_no,parent_children_no,fare,Fare Percentage of Total Fare,who,embark_town
0,0,3,male,22.00,1,0,7.2500,0.000267,man,Southampton
1,1,1,female,38.00,1,0,71.2833,0.002624,woman,Cherbourg
2,1,3,female,26.00,0,0,7.9250,0.000292,woman,Southampton
3,1,1,female,35.00,1,0,53.1000,0.001955,woman,Southampton
4,0,3,male,35.00,0,0,8.0500,0.000296,man,Southampton
5,0,3,male,NaN,0,0,8.4583,0.000311,man,Queenstown
6,0,1,male,54.00,0,0,51.8625,0.001909,man,Southampton
7,0,3,male,2.00,3,1,21.0750,0.000776,child,Southampton
8,1,3,female,27.00,0,2,11.1333,0.000410,woman,Southampton
9,1,2,female,14.00,1,0,30.0708,0.001107,child,Cherbourg
10,1,3,female,4.00,1,1,16.7000,0.000615,child,Southampton
11,1,1,female,58.00,0,0,26.5500,0.000977,woman,Southampton
12,0,3,male,20.00,0,0,8.0500,0.000296,man,Southampton
13,0,3,male,39.00,1,5,31.2750,0.001151,man,Southampton
14,0,3,female,14.00,0,0,7.8542,0.000289,child,Southampton
15,1,2,female,55.00,0,0,16.0000,0.000589,woman,Southampton
16,0,3,male,2.00,4,1,29.1250,0.001072,child,Queenstown
17,1,2,male,NaN,0,0,13.0000,0.000479,man,Southampton
18,0,3,female,31.00,1,0,18.0000,0.000663,woman,Southampton
19,1,3,female,NaN,0,0,7.2250,0.000266,woman,Cherbourg
20,0,2,male,35.00,0,0,26.0000,0.000957,man,Southampton
21,1,2,male,34.00,0,0,13.0000,0.000479,man,Southampton
22,1,3,female,15.00,0,0,8.0292,0.000296,child,Queenstown
23,1,1,male,28.00,0,0,35.5000,0.001307,man,Southampton
24,0,3,female,8.00,3,1,21.0750,0.000776,child,Southampton
25,1,3,female,38.00,1,5,31.3875,0.001155,woman,Southampton
26,0,3,male,NaN,0,0,7.2250,0.000266,man,Cherbourg
27,0,1,male,19.00,3,2,263.0000,0.009681,man,Southampton
28,1,3,female,NaN,0,0,7.8792,0.000290,woman,Queenstown
29,0,3,male,NaN,0,0,7.8958,0.000291,man,Southampton
30,0,1,male,40.00,0,0,27.7208,0.001020,man,Cherbourg
31,1,1,female,NaN,1,0,146.5208,0.005393,woman,Cherbourg
32,1,3,female,NaN,0,0,7.7500,0.000285,woman,Queenstown
33,0,2,male,66.00,0,0,10.5000,0.000387,man,Southampton
34,0,1,male,28.00,1,0,82.1708,0.003025,man,Cherbourg
35,0,1,male,42.00,1,0,52.0000,0.001914,man,Southampton
36,1,3,male,NaN,0,0,7.2292,0.000266,man,Cherbourg
37,0,3,male,21.00,0,0,8.0500,0.000296,man,Southampton
38,0,3,female,18.00,2,0,18.0000,0.000663,woman,Southampton
39,1,3,female,14.00,1,0,11.2417,0.000414,child,Cherbourg
40,0,3,female,40.00,1,0,9.4750,0.000349,woman,Southampton
41,0,2,female,27.00,1,0,21.0000,0.000773,woman,Southampton
42,0,3,male,NaN,0,0,7.8958,0.000291,man,Cherbourg
43,1,2,female,3.00,1,2,41.5792,0.001531,child,Cherbourg
44,1,3,female,19.00,0,0,7.8792,0.000290,woman,Queenstown
45,0,3,male,NaN,0,0,8.0500,0.000296,man,Southampton
46,0,3,male,NaN,1,0,15.5000,0.000571,man,Queenstown
48,0,3,male,NaN,2,0,21.6792,0.000798,man,Cherbourg
49,0,3,female,18.00,1,0,17.8000,0.000655,woman,Southampton
50,0,3,male,7.00,4,1,39.6875,0.001461,child,Southampton
51,0,3,male,21.00,0,0,7.8000,0.000287,man,Southampton
52,1,1,female,49.00,1,0,76.7292,0.002824,woman,Cherbourg
53,1,2,female,29.00,1,0,26.0000,0.000957,woman,Southampton
54,0,1,male,65.00,0,1,61.9792,0.002281,man,Cherbourg
55,1,1,male,NaN,0,0,35.5000,0.001307,man,Southampton
56,1,2,female,21.00,0,0,10.5000,0.000387,woman,Southampton
57,0,3,male,28.50,0,0,7.2292,0.000266,man,Cherbourg
58,1,2,female,5.00,1,2,27.7500,0.001021,child,Southampton
59,0,3,male,11.00,5,2,46.9000,0.001726,child,Southampton
60,0,3,male,22.00,0,0,7.2292,0.000266,man,Cherbourg
61,1,1,female,38.00,0,0,80.0000,0.002945,woman,NaN
62,0,1,male,45.00,1,0,83.4750,0.003073,man,Southampton
63,0,3,male,4.00,3,2,27.9000,0.001027,child,Southampton
64,0,1,male,NaN,0,0,27.7208,0.001020,man,Cherbourg
65,1,3,male,NaN,1,1,15.2458,0.000561,man,Cherbourg
66,1,2,female,29.00,0,0,10.5000,0.000387,woman,Southampton
67,0,3,male,19.00,0,0,8.1583,0.000300,man,Southampton
68,1,3,female,17.00,4,2,7.9250,0.000292,woman,Southampton
69,0,3,male,26.00,2,0,8.6625,0.000319,man,Southampton
70,0,2,male,32.00,0,0,10.5000,0.000387,man,Southampton
71,0,3,female,16.00,5,2,46.9000,0.001726,woman,Southampton
72,0,2,male,21.00,0,0,73.5000,0.002706,man,Southampton
73,0,3,male,26.00,1,0,14.4542,0.000532,man,Cherbourg
74,1,3,male,32.00,0,0,56.4958,0.002080,man,Southampton
75,0,3,male,25.00,0,0,7.6500,0.000282,man,Southampton
78,1,2,male,0.83,0,2,29.0000,0.001067,child,Southampton
79,1,3,female,30.00,0,0,12.4750,0.000459,woman,Southampton
80,0,3,male,22.00,0,0,9.0000,0.000331,man,Southampton
81,1,3,male,29.00,0,0,9.5000,0.000350,man,Southampton
82,1,3,female,NaN,0,0,7.7875,0.000287,woman,Queenstown
83,0,1,male,28.00,0,0,47.1000,0.001734,man,Southampton
84,1,2,female,17.00,0,0,10.5000,0.000387,woman,Southampton
85,1,3,female,33.00,3,0,15.8500,0.000583,woman,Southampton
86,0,3,male,16.00,1,3,34.3750,0.001265,man,Southampton
88,1,1,female,23.00,3,2,263.0000,0.009681,woman,Southampton
89,0,3,male,24.00,0,0,8.0500,0.000296,man,Southampton
90,0,3,male,29.00,0,0,8.0500,0.000296,man,Southampton
91,0,3,male,20.00,0,0,7.8542,0.000289,man,Southampton
92,0,1,male,46.00,1,0,61.1750,0.002252,man,Southampton
93,0,3,male,26.00,1,2,20.5750,0.000757,man,Southampton
94,0,3,male,59.00,0,0,7.2500,0.000267,man,Southampton
96,0,1,male,71.00,0,0,34.6542,0.001276,man,Cherbourg
97,1,1,male,23.00,0,1,63.3583,0.002332,man,Cherbourg
98,1,2,female,34.00,0,1,23.0000,0.000847,woman,Southampton
99,0,2,male,34.00,1,0,26.0000,0.000957,man,Southampton
100,0,3,female,28.00,0,0,7.8958,0.000291,woman,Southampton
102,0,1,male,21.00,0,1,77.2875,0.002845,man,Southampton
103,0,3,male,33.00,0,0,8.6542,0.000319,man,Southampton
104,0,3,male,37.00,2,0,7.9250,0.000292,man,Southampton
105,0,3,male,28.00,0,0,7.8958,0.000291,man,Southampton
106,1,3,female,21.00,0,0,7.6500,0.000282,woman,Southampton
107,1,3,male,NaN,0,0,7.7750,0.000286,man,Southampton
108,0,3,male,38.00,0,0,7.8958,0.000291,man,Southampton
109,1,3,female,NaN,1,0,24.1500,0.000889,woman,Queenstown
110,0,1,male,47.00,0,0,52.0000,0.001914,man,Southampton
111,0,3,female,14.50,1,0,14.4542,0.000532,child,Cherbourg
112,0,3,male,22.00,0,0,8.0500,0.000296,man,Southampton
113,0,3,female,20.00,1,0,9.8250,0.000362,woman,Southampton
114,0,3,female,17.00,0,0,14.4583,0.000532,woman,Cherbourg
115,0,3,male,21.00,0,0,7.9250,0.000292,man,Southampton
116,0,3,male,70.50,0,0,7.7500,0.000285,man,Queenstown
117,0,2,male,29.00,1,0,21.0000,0.000773,man,Southampton
118,0,1,male,24.00,0,1,247.5208,0.009111,man,Cherbourg
119,0,3,female,2.00,4,2,31.2750,0.001151,child,Southampton
120,0,2,male,21.00,2,0,73.5000,0.002706,man,Southampton
122,0,2,male,32.50,1,0,30.0708,0.001107,man,Cherbourg
123,1,2,female,32.50,0,0,13.0000,0.000479,woman,Southampton
124,0,1,male,54.00,0,1,77.2875,0.002845,man,Southampton
125,1,3,male,12.00,1,0,11.2417,0.000414,child,Cherbourg
126,0,3,male,NaN,0,0,7.7500,0.000285,man,Queenstown
127,1,3,male,24.00,0,0,7.1417,0.000263,man,Southampton
128,1,3,female,NaN,1,1,22.3583,0.000823,woman,Cherbourg
129,0,3,male,45.00,0,0,6.9750,0.000257,man,Southampton
130,0,3,male,33.00,0,0,7.8958,0.000291,man,Cherbourg
131,0,3,male,20.00,0,0,7.0500,0.000260,man,Southampton
132,0,3,female,47.00,1,0,14.5000,0.000534,woman,Southampton
134,0,2,male,25.00,0,0,13.0000,0.000479,man,Southampton
135,0,2,male,23.00,0,0,15.0458,0.000554,man,Cherbourg
136,1,1,female,19.00,0,2,26.2833,0.000967,woman,Southampton
137,0,1,male,37.00,1,0,53.1000,0.001955,man,Southampton
138,0,3,male,16.00,0,0,9.2167,0.000339,man,Southampton
139,0,1,male,24.00,0,0,79.2000,0.002915,man,Cherbourg
140,0,3,female,NaN,0,2,15.2458,0.000561,woman,Cherbourg
141,1,3,female,22.00,0,0,7.7500,0.000285,woman,Southampton
142,1,3,female,24.00,1,0,15.8500,0.000583,woman,Southampton
143,0,3,male,19.00,0,0,6.7500,0.000248,man,Queenstown
144,0,2,male,18.00,0,0,11.5000,0.000423,man,Southampton
145,0,2,male,19.00,1,1,36.7500,0.001353,man,Southampton
146,1,3,male,27.00,0,0,7.7958,0.000287,man,Southampton
147,0,3,female,9.00,2,2,34.3750,0.001265,child,Southampton
148,0,2,male,36.50,0,2,26.0000,0.000957,man,Southampton
149,0,2,male,42.00,0,0,13.0000,0.000479,man,Southampton
150,0,2,male,51.00,0,0,12.5250,0.000461,man,Southampton
151,1,1,female,22.00,1,0,66.6000,0.002452,woman,Southampton
152,0,3,male,55.50,0,0,8.0500,0.000296,man,Southampton
153,0,3,male,40.50,0,2,14.5000,0.000534,man,Southampton
154,0,3,male,NaN,0,0,7.3125,0.000269,man,Southampton
155,0,1,male,51.00,0,1,61.3792,0.002259,man,Cherbourg
156,1,3,female,16.00,0,0,7.7333,0.000285,woman,Queenstown
157,0,3,male,30.00,0,0,8.0500,0.000296,man,Southampton
158,0,3,male,NaN,0,0,8.6625,0.000319,man,Southampton
159,0,3,male,NaN,8,2,69.5500,0.002560,man,Southampton
160,0,3,male,44.00,0,1,16.1000,0.000593,man,Southampton
161,1,2,female,40.00,0,0,15.7500,0.000580,woman,Southampton
162,0,3,male,26.00,0,0,7.7750,0.000286,man,Southampton
163,0,3,male,17.00,0,0,8.6625,0.000319,man,Southampton
164,0,3,male,1.00,4,1,39.6875,0.001461,child,Southampton
165,1,3,male,9.00,0,2,20.5250,0.000756,child,Southampton
166,1,1,female,NaN,0,1,55.0000,0.002025,woman,Southampton
167,0,3,female,45.00,1,4,27.9000,0.001027,woman,Southampton
168,0,1,male,NaN,0,0,25.9250,0.000954,man,Southampton
169,0,3,male,28.00,0,0,56.4958,0.002080,man,Southampton
170,0,1,male,61.00,0,0,33.5000,0.001233,man,Southampton
171,0,3,male,4.00,4,1,29.1250,0.001072,child,Queenstown
172,1,3,female,1.00,1,1,11.1333,0.000410,child,Southampton
174,0,1,male,56.00,0,0,30.6958,0.001130,man,Cherbourg
175,0,3,male,18.00,1,1,7.8542,0.000289,man,Southampton
176,0,3,male,NaN,3,1,25.4667,0.000937,man,Southampton
177,0,1,female,50.00,0,0,28.7125,0.001057,woman,Cherbourg
178,0,2,male,30.00,0,0,13.0000,0.000479,man,Southampton
179,0,3,male,36.00,0,0,0.0000,0.000000,man,Southampton
180,0,3,female,NaN,8,2,69.5500,0.002560,woman,Southampton
181,0,2,male,NaN,0,0,15.0500,0.000554,man,Cherbourg
182,0,3,male,9.00,4,2,31.3875,0.001155,child,Southampton
183,1,2,male,1.00,2,1,39.0000,0.001436,child,Southampton
184,1,3,female,4.00,0,2,22.0250,0.000811,child,Southampton
185,0,1,male,NaN,0,0,50.0000,0.001840,man,Southampton
186,1,3,female,NaN,1,0,15.5000,0.000571,woman,Queenstown
187,1,1,male,45.00,0,0,26.5500,0.000977,man,Southampton
188,0,3,male,40.00,1,1,15.5000,0.000571,man,Queenstown
189,0,3,male,36.00,0,0,7.8958,0.000291,man,Southampton
190,1,2,female,32.00,0,0,13.0000,0.000479,woman,Southampton
191,0,2,male,19.00,0,0,13.0000,0.000479,man,Southampton
192,1,3,female,19.00,1,0,7.8542,0.000289,woman,Southampton
193,1,2,male,3.00,1,1,26.0000,0.000957,child,Southampton
194,1,1,female,44.00,0,0,27.7208,0.001020,woman,Cherbourg
195,1,1,female,58.00,0,0,146.5208,0.005393,woman,Cherbourg
197,0,3,male,42.00,0,1,8.4042,0.000309,man,Southampton
199,0,2,female,24.00,0,0,13.0000,0.000479,woman,Southampton
200,0,3,male,28.00,0,0,9.5000,0.000350,man,Southampton
202,0,3,male,34.00,0,0,6.4958,0.000239,man,Southampton
203,0,3,male,45.50,0,0,7.2250,0.000266,man,Cherbourg
204,1,3,male,18.00,0,0,8.0500,0.000296,man,Southampton
205,0,3,female,2.00,0,1,10.4625,0.000385,child,Southampton
206,0,3,male,32.00,1,0,15.8500,0.000583,man,Southampton
207,1,3,male,26.00,0,0,18.7875,0.000692,man,Cherbourg
208,1,3,female,16.00,0,0,7.7500,0.000285,woman,Queenstown
209,1,1,male,40.00,0,0,31.0000,0.001141,man,Cherbourg
210,0,3,male,24.00,0,0,7.0500,0.000260,man,Southampton
211,1,2,female,35.00,0,0,21.0000,0.000773,woman,Southampton
212,0,3,male,22.00,0,0,7.2500,0.000267,man,Southampton
214,0,3,male,NaN,1,0,7.7500,0.000285,man,Queenstown
215,1,1,female,31.00,1,0,113.2750,0.004170,woman,Cherbourg
216,1,3,female,27.00,0,0,7.9250,0.000292,woman,Southampton
217,0,2,male,42.00,1,0,27.0000,0.000994,man,Southampton
218,1,1,female,32.00,0,0,76.2917,0.002808,woman,Cherbourg
219,0,2,male,30.00,0,0,10.5000,0.000387,man,Southampton
220,1,3,male,16.00,0,0,8.0500,0.000296,man,Southampton
221,0,2,male,27.00,0,0,13.0000,0.000479,man,Southampton
222,0,3,male,51.00,0,0,8.0500,0.000296,man,Southampton
224,1,1,male,38.00,1,0,90.0000,0.003313,man,Southampton
225,0,3,male,22.00,0,0,9.3500,0.000344,man,Southampton
226,1,2,male,19.00,0,0,10.5000,0.000387,man,Southampton
227,0,3,male,20.50,0,0,7.2500,0.000267,man,Southampton
228,0,2,male,18.00,0,0,13.0000,0.000479,man,Southampton
229,0,3,female,NaN,3,1,25.4667,0.000937,woman,Southampton
230,1,1,female,35.00,1,0,83.4750,0.003073,woman,Southampton
231,0,3,male,29.00,0,0,7.7750,0.000286,man,Southampton
232,0,2,male,59.00,0,0,13.5000,0.000497,man,Southampton
233,1,3,female,5.00,4,2,31.3875,0.001155,child,Southampton
234,0,2,male,24.00,0,0,10.5000,0.000387,man,Southampton
235,0,3,female,NaN,0,0,7.5500,0.000278,woman,Southampton
236,0,2,male,44.00,1,0,26.0000,0.000957,man,Southampton
237,1,2,female,8.00,0,2,26.2500,0.000966,child,Southampton
238,0,2,male,19.00,0,0,10.5000,0.000387,man,Southampton
239,0,2,male,33.00,0,0,12.2750,0.000452,man,Southampton
240,0,3,female,NaN,1,0,14.4542,0.000532,woman,Cherbourg
242,0,2,male,29.00,0,0,10.5000,0.000387,man,Southampton
243,0,3,male,22.00,0,0,7.1250,0.000262,man,Southampton
244,0,3,male,30.00,0,0,7.2250,0.000266,man,Cherbourg
245,0,1,male,44.00,2,0,90.0000,0.003313,man,Queenstown
246,0,3,female,25.00,0,0,7.7750,0.000286,woman,Southampton
247,1,2,female,24.00,0,2,14.5000,0.000534,woman,Southampton
248,1,1,male,37.00,1,1,52.5542,0.001935,man,Southampton
249,0,2,male,54.00,1,0,26.0000,0.000957,man,Southampton
250,0,3,male,NaN,0,0,7.2500,0.000267,man,Southampton
251,0,3,female,29.00,1,1,10.4625,0.000385,woman,Southampton
252,0,1,male,62.00,0,0,26.5500,0.000977,man,Southampton
253,0,3,male,30.00,1,0,16.1000,0.000593,man,Southampton
254,0,3,female,41.00,0,2,20.2125,0.000744,woman,Southampton
255,1,3,female,29.00,0,2,15.2458,0.000561,woman,Cherbourg
256,1,1,female,NaN,0,0,79.2000,0.002915,woman,Cherbourg
257,1,1,female,30.00,0,0,86.5000,0.003184,woman,Southampton
258,1,1,female,35.00,0,0,512.3292,0.018859,woman,Cherbourg
259,1,2,female,50.00,0,1,26.0000,0.000957,woman,Southampton
261,1,3,male,3.00,4,2,31.3875,0.001155,child,Southampton
262,0,1,male,52.00,1,1,79.6500,0.002932,man,Southampton
263,0,1,male,40.00,0,0,0.0000,0.000000,man,Southampton
264,0,3,female,NaN,0,0,7.7500,0.000285,woman,Queenstown
265,0,2,male,36.00,0,0,10.5000,0.000387,man,Southampton
266,0,3,male,16.00,4,1,39.6875,0.001461,man,Southampton
267,1,3,male,25.00,1,0,7.7750,0.000286,man,Southampton
268,1,1,female,58.00,0,1,153.4625,0.005649,woman,Southampton
269,1,1,female,35.00,0,0,135.6333,0.004993,woman,Southampton
270,0,1,male,NaN,0,0,31.0000,0.001141,man,Southampton
271,1,3,male,25.00,0,0,0.0000,0.000000,man,Southampton
272,1,2,female,41.00,0,1,19.5000,0.000718,woman,Southampton
273,0,1,male,37.00,0,1,29.7000,0.001093,man,Cherbourg
275,1,1,female,63.00,1,0,77.9583,0.002870,woman,Southampton
276,0,3,female,45.00,0,0,7.7500,0.000285,woman,Southampton
277,0,2,male,NaN,0,0,0.0000,0.000000,man,Southampton
278,0,3,male,7.00,4,1,29.1250,0.001072,child,Queenstown
279,1,3,female,35.00,1,1,20.2500,0.000745,woman,Southampton
280,0,3,male,65.00,0,0,7.7500,0.000285,man,Queenstown
281,0,3,male,28.00,0,0,7.8542,0.000289,man,Southampton
282,0,3,male,16.00,0,0,9.5000,0.000350,man,Southampton
283,1,3,male,19.00,0,0,8.0500,0.000296,man,Southampton
284,0,1,male,NaN,0,0,26.0000,0.000957,man,Southampton
285,0,3,male,33.00,0,0,8.6625,0.000319,man,Cherbourg
286,1,3,male,30.00,0,0,9.5000,0.000350,man,Southampton
287,0,3,male,22.00,0,0,7.8958,0.000291,man,Southampton
288,1,2,male,42.00,0,0,13.0000,0.000479,man,Southampton
289,1,3,female,22.00,0,0,7.7500,0.000285,woman,Queenstown
290,1,1,female,26.00,0,0,78.8500,0.002902,woman,Southampton
291,1,1,female,19.00,1,0,91.0792,0.003353,woman,Cherbourg
292,0,2,male,36.00,0,0,12.8750,0.000474,man,Cherbourg
293,0,3,female,24.00,0,0,8.8500,0.000326,woman,Southampton
294,0,3,male,24.00,0,0,7.8958,0.000291,man,Southampton
296,0,3,male,23.50,0,0,7.2292,0.000266,man,Cherbourg
297,0,1,female,2.00,1,2,151.5500,0.005579,child,Southampton
298,1,1,male,NaN,0,0,30.5000,0.001123,man,Southampton
299,1,1,female,50.00,0,1,247.5208,0.009111,woman,Cherbourg
301,1,3,male,NaN,2,0,23.2500,0.000856,man,Queenstown
302,0,3,male,19.00,0,0,0.0000,0.000000,man,Southampton
303,1,2,female,NaN,0,0,12.3500,0.000455,woman,Queenstown
305,1,1,male,0.92,1,2,151.5500,0.005579,child,Southampton
306,1,1,female,NaN,0,0,110.8833,0.004082,woman,Cherbourg
307,1,1,female,17.00,1,0,108.9000,0.004009,woman,Cherbourg
308,0,2,male,30.00,1,0,24.0000,0.000883,man,Cherbourg
309,1,1,female,30.00,0,0,56.9292,0.002096,woman,Cherbourg
310,1,1,female,24.00,0,0,83.1583,0.003061,woman,Cherbourg
311,1,1,female,18.00,2,2,262.3750,0.009658,woman,Cherbourg
312,0,2,female,26.00,1,1,26.0000,0.000957,woman,Southampton
314,0,2,male,43.00,1,1,26.2500,0.000966,man,Southampton
315,1,3,female,26.00,0,0,7.8542,0.000289,woman,Southampton
316,1,2,female,24.00,1,0,26.0000,0.000957,woman,Southampton
317,0,2,male,54.00,0,0,14.0000,0.000515,man,Southampton
318,1,1,female,31.00,0,2,164.8667,0.006069,woman,Southampton
319,1,1,female,40.00,1,1,134.5000,0.004951,woman,Cherbourg
321,0,3,male,27.00,0,0,7.8958,0.000291,man,Southampton
322,1,2,female,30.00,0,0,12.3500,0.000455,woman,Queenstown
323,1,2,female,22.00,1,1,29.0000,0.001067,woman,Southampton
325,1,1,female,36.00,0,0,135.6333,0.004993,woman,Cherbourg
326,0,3,male,61.00,0,0,6.2375,0.000230,man,Southampton
327,1,2,female,36.00,0,0,13.0000,0.000479,woman,Southampton
328,1,3,female,31.00,1,1,20.5250,0.000756,woman,Southampton
329,1,1,female,16.00,0,1,57.9792,0.002134,woman,Cherbourg
330,1,3,female,NaN,2,0,23.2500,0.000856,woman,Queenstown
331,0,1,male,45.50,0,0,28.5000,0.001049,man,Southampton
332,0,1,male,38.00,0,1,153.4625,0.005649,man,Southampton
333,0,3,male,16.00,2,0,18.0000,0.000663,man,Southampton
334,1,1,female,NaN,1,0,133.6500,0.004920,woman,Southampton
336,0,1,male,29.00,1,0,66.6000,0.002452,man,Southampton
337,1,1,female,41.00,0,0,134.5000,0.004951,woman,Cherbourg
338,1,3,male,45.00,0,0,8.0500,0.000296,man,Southampton
339,0,1,male,45.00,0,0,35.5000,0.001307,man,Southampton
340,1,2,male,2.00,1,1,26.0000,0.000957,child,Southampton
341,1,1,female,24.00,3,2,263.0000,0.009681,woman,Southampton
342,0,2,male,28.00,0,0,13.0000,0.000479,man,Southampton
344,0,2,male,36.00,0,0,13.0000,0.000479,man,Southampton
345,1,2,female,24.00,0,0,13.0000,0.000479,woman,Southampton
346,1,2,female,40.00,0,0,13.0000,0.000479,woman,Southampton
347,1,3,female,NaN,1,0,16.1000,0.000593,woman,Southampton
348,1,3,male,3.00,1,1,15.9000,0.000585,child,Southampton
349,0,3,male,42.00,0,0,8.6625,0.000319,man,Southampton
350,0,3,male,23.00,0,0,9.2250,0.000340,man,Southampton
351,0,1,male,NaN,0,0,35.0000,0.001288,man,Southampton
352,0,3,male,15.00,1,1,7.2292,0.000266,child,Cherbourg
353,0,3,male,25.00,1,0,17.8000,0.000655,man,Southampton
356,1,1,female,22.00,0,1,55.0000,0.002025,woman,Southampton
357,0,2,female,38.00,0,0,13.0000,0.000479,woman,Southampton
360,0,3,male,40.00,1,4,27.9000,0.001027,man,Southampton
361,0,2,male,29.00,1,0,27.7208,0.001020,man,Cherbourg
362,0,3,female,45.00,0,1,14.4542,0.000532,woman,Cherbourg
363,0,3,male,35.00,0,0,7.0500,0.000260,man,Southampton
365,0,3,male,30.00,0,0,7.2500,0.000267,man,Southampton
366,1,1,female,60.00,1,0,75.2500,0.002770,woman,Cherbourg
367,1,3,female,NaN,0,0,7.2292,0.000266,woman,Cherbourg
369,1,1,female,24.00,0,0,69.3000,0.002551,woman,Cherbourg
370,1,1,male,25.00,1,0,55.4417,0.002041,man,Cherbourg
371,0,3,male,18.00,1,0,6.4958,0.000239,man,Southampton
372,0,3,male,19.00,0,0,8.0500,0.000296,man,Southampton
373,0,1,male,22.00,0,0,135.6333,0.004993,man,Cherbourg
374,0,3,female,3.00,3,1,21.0750,0.000776,child,Southampton
375,1,1,female,NaN,1,0,82.1708,0.003025,woman,Cherbourg
376,1,3,female,22.00,0,0,7.2500,0.000267,woman,Southampton
377,0,1,male,27.00,0,2,211.5000,0.007785,man,Cherbourg
378,0,3,male,20.00,0,0,4.0125,0.000148,man,Cherbourg
379,0,3,male,19.00,0,0,7.7750,0.000286,man,Southampton
380,1,1,female,42.00,0,0,227.5250,0.008375,woman,Cherbourg
381,1,3,female,1.00,0,2,15.7417,0.000579,child,Cherbourg
382,0,3,male,32.00,0,0,7.9250,0.000292,man,Southampton
383,1,1,female,35.00,1,0,52.0000,0.001914,woman,Southampton

With the following dataframe which collects the number of survivors and victims grouped by gender, we can make some observations. The phrase 'women and children first' came to full effect on the Titanic, as the highest value here belongs to males that perished in the disaster. This was possibly due to men attempting to find all the small children and women within the sinking ship, while sadly some failed to make it out themselves.
Was this search and rescue worthwhile however? It appears that the next highest value is the women that survived the disaster. It is not possible to come to conclusions from this data alone, but the data certainly fits with the notion that men would not be allowed to leave the boat before rescuing all the women and children, also known as the [Birkenhead Drill](https://en.wikipedia.org/wiki/Women_and_children_first): <br> 
*The phrase was popularised by its usage on RMS Titanic.[14] Second Officer Charles Lightoller suggested to Captain Smith, "Hadn't we better get the women and children into the boats, sir?", to which the captain responded: "Put the women and children in and lower away."[15] The first and second officers (William McMaster Murdoch and Lightoller) interpreted the evacuation order differently; Murdoch took it to mean women and children first, while Lightoller took it to mean women and children only. Second Officer Lightoller lowered lifeboats with empty seats if there were no women and children waiting to board, while First Officer Murdoch allowed a limited number of men to board if all the nearby women and children had embarked.[16] As a consequence, **74% of the women and 52% of the children on board were saved**, but **only 20% of the men**.[17] **Some officers on the Titanic misinterpreted the order from Captain Smith, and tried to prevent men from boarding the lifeboats**.*

In [151]:
female_passengers = titanic_final[titanic_final['sex'] == 'female']
male_passengers = titanic_final[titanic_final['sex'] == 'male']

survived_female_count = female_passengers[female_passengers['survived'] == 1].shape[0]
died_female_count = female_passengers[female_passengers['survived'] == 0].shape[0]

survived_male_count = male_passengers[male_passengers['survived'] == 1].shape[0]
died_male_count = male_passengers[male_passengers['survived'] == 0].shape[0]


#[[survived_female_count, died_female_count], [survived_male_count, died_male_count]]
DataFrame_fare_age_by_class = pd.DataFrame([[survived_female_count, died_female_count], [survived_male_count, died_male_count]], index = ["Female", "Male"],  columns = ["Survived", "Died"])
DataFrame_fare_age_by_class

        Survived  Died
Female       216    76
Male         106   382

In [ ]:
#Check the rows of people who died and people who survived.